/**
 * partials/footer
 * ---
 */

 .nu__backtotop{
   display: none;
   position: fixed;
   bottom: 30px;
   right: 30px;
   width: 50px;
   height: 50px;
   text-align: center;
   line-height: 55px;
   background: rgba(45, 46, 47, 1.0);
   border: solid rgba(0,0,0,1.0) 1px;
   &:hover{
     cursor: pointer;
   }
 }


 footer{
   flex: none;
   background: rgba(45, 46, 47, 1.0);
   color: rgba(255,255,255,1.0);
   font-size: 1rem;
   letter-spacing: 0.03em;
   width: 100%;
   height: 200px;
   padding: 0 0 0 0;
   font-family: Arial,Verdana,sans-serif;
   &.addprefooter{
     height: 500px;
   }
   &.collapse{
     height: 40px;
     overflow: hidden;
     & > div.nu__footer{
       display: none;
     }
     & > div.nu__footer-hideshow{
      display: block;
      &:hover{
        color: Red;
      }
     }
   }
   & > div.nu__prefooter{
     height: 300px;
     background: rgba(0,0,0,1.0);
     width: $wrapper-width;
     & > div{
       width: $content-width;
       height: inherit;
       background: red;
       margin: 0 auto 0 auto;
     }
   }
   & > div.nu__footer-hideshow{
     display: none;
     text-align: center;
     height: 40px;
     line-height: 40px;
     // background: red;
     font-family: "Material Icons";
     font-size: 2rem;
     &:hover{
       cursor: pointer;
     }
   }
   & > div.nu__footer{
     padding: 20px 0 20px 0;
    width: $content-width;
    margin: nth($wrapper-margins, 1) nth($wrapper-margins, 2) nth($wrapper-margins, 3) nth($wrapper-margins, 4);
     position: relative;
     & > a{
       color: rgba(255,255,255,1.0);
       float: left;
       margin-right: 20px;
       & > img,
       & > svg{
        fill: rgba(255,255,255,1.0);
        height: 1.5vw;
       }
     }
     & > div{
       float: right;
       & > ul{
         display: inline;
         font-size: 1.2rem;
         list-style-type: none;
         list-style: none;
         color: rgba(255,255,255,1.0);
         & > li{
           float: left;
           margin: 0 0 0 10px;
           & > a{
             color: rgba(255,255,255,1.0);
             text-decoration: none;
             font-family: Arial,Verdana,sans-serif;
             &:visited{
               color: rgba(255,255,255,1.0);
               text-decoration: none;
             }
             &:hover,
             &:active{
               color: rgba(255,255,255,1.0) !important;
               text-decoration: underline !important;
             }
           }
         }
       }
       & > p{
         font-size: 100%;
         height: auto;
         line-height: 1.4rem;
         margin: 0;
         padding: 0;
         color: #ccc;
         text-align: right;
           & > a{
             color: #ccc;
             &:hover{
               color: #ccc !important;
               text-decoration: underline !important;
             }
           }
       }
     }
   }
 }





 // @media only screen and (max-width: 1300px){
 //   footer{
 //     height: 150px;
 //     & > div{
 //       & > div{
 //         float: right;
 //         width: 50%;
 //       }
 //     }
 //   }
 // }
 //
 //
 //
 //
 //
 // @media only screen and (max-width: 1080px){
 //   footer{
 //     height: auto;
 //     & > div{
 //       & > div{
 //         float: none;
 //         width: 100%;
 //       }
 //     }
 //   }
 // }
 //
 //
 //
 //
 //
 // @media only screen and (max-width: 760px){
 //   footer{
 //     height: auto;
 //     & > div{
 //       & > a{
 //         & > img,
 //         & > svg{
 //          height: 20px;
 //         }
 //       }
 //     }
 //   }
 // }
 //
 //
 //
 //
 //
 // @media only screen and (max-width: 700px){
 //   footer{
 //     & > div{
 //      width: 90vw;
 //      margin: 0 5vw 0 5vw;
 //     }
 //   }
 // }
