/**
 * partials/header
 * ---
 */


header{
  width: $wrapper-width;
  position: fixed;
  background: rgba(0,0,0,0.9);
  flex: none;
  z-index: 1000;
  border-bottom: solid rgba(255,255,255,1) 1px;


  & > div{
    width: $content-width-wide;
    margin: 0 auto 0 auto;
    height: $header-height;
    position: relative;
  }
}





div#nu__alerts{
  display: block;
  width: $wrapper-width;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background: rgba($brand_colors-black, 1.0);
  min-height: 0;
  height: auto;
  color: rgba($brand_colors-black,1.0);
  @include font-2l-l;
  line-height: 0;
  & > div{
    width: $content-width-wide;
    margin: 15px auto 0 auto;
    padding: 20px $gutter 0 100px;
    background: rgba($brand_colors-white, 1.0);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    &:before{
      position: absolute;
      left: 0;
      top: 0;
      background: rgba($brand_colors-red,1.0);
      height: 100%;
      width: ($gutter * 2);
      content: '';
    }
    &:after{
      position: absolute;
      left: 0;
      top: 41%;
      width: ($gutter * 2);
      @include font-4-c;
      color: rgba($brand_colors-white,1.0);
      content: '\E001';
    }
    & > h2{
      @include font-3b-l;
      color: rgba($brand_colors-red,1.0);
      text-transform: uppercase;
    }
    & > ul{
      margin: 0 0 10px 15px;
      & > li{
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 700;
        & > a{
          border-bottom: none;
          @include font-2b-l;
        }
        &:after{
          @include font-7-c;
          color: rgba($brand_colors-red,1.0);
          content: '\E8E4';
          vertical-align: -20%;
        }
      }
    }
  }
}





div#nu__utility-nav{
  top: 0;
  left: 0;
  background: rgba(0,0,0,1.0);
  height: 30px;
  overflow: visible;
  width: $content-width-wide;
  margin: 0 auto 0 auto;
  & > a{
    display: block;
    float: left;
    height: inherit;
    & > img{
      height: inherit;
    }
  }
  & > div{
    height: inherit;
    overflow: hidden;
  }
}





div#nu__logo{
  width: 50%;
  height: 50px;
  & > a{
    line-height: $header-height;
    font-size: 3rem;
    color: white;
    & > img{
      height: 50px;
      margin: 0 0 10px 0;
    }
  }
}
