/**
 * partials/header
 * ---
 */


header{
  // height: ($header-height + 30);
  // height: auto;
  // overflow: hidden;
  width: $wrapper-width;

  position: fixed;
  // top: 30px;
  background: rgba(0,0,0,0.9);
  flex: none;
  z-index: 1000;

  div#nu__alerts{
    display: block;
    width: $wrapper-width;
    margin: 0 0 0 0;
    background: rgba(243, 177, 62, 1.0);
    min-height: 0;
    height: auto;
    color: rgba(0,0,0,1.0);
    // min-height: 300px;
    & > div{
      width: $content-width;
      margin: 0 auto 0 auto;
      padding: $gutter 0 ($gutter * 3) 0;

      & > h2{
        font-size: 2.2rem;
        line-height: 1.6rem;
        font-weight: 700;
        text-align: left;
        margin: 0 0 $gutter 0;
      }
      & > p{
        font-size: 1.8rem;
        line-height: 2.2rem;
      }
      & > ul{
        margin: 0 0 0 ($gutter);
        & > li{
          font-size: 1.6rem;
          line-height: 2rem;
          font-weight: 700;
        }
      }
    }
  }

  div#nu__utility-nav{
  // position: fixed;
  top: 0;
  left: 0;
  // background: red;
  background: rgba(0,0,0,1.0);
  height: 30px;
  // overflow: hidden;
  overflow: visible;
  width: $wrapper-width;
  margin: 0 0 0 0;
  //   z-index: 1000;
  //   height: auto;
  //   width: auto;
  //   right: 0;
  //   margin: 20px 15vw 20px 0;
  //   & > div{
  //     float: right;
  //     display: block;
  //     & > a{
  //       padding: 0 15px 0 15px;
  //       font-size: 1.2rem;
  //       color: rgba(189, 189, 189, 1.0);
  //       letter-spacing: 0.43px;
  //       &:hover{
  //         text-decoration: underline;
  //         color: rgba(217, 183, 77, 1.0);
  //       }
  //       &:last-child{
  //         padding: 0 0 0 0;
  //         font-size: 2.5rem;
  //         &:hover{
  //           text-decoration: none;
  //         }
  //       }
  //     }
  //   }
    & > ul{
      width: $content-width;
      // float: right;
      list-style: none;
      list-style-type: none;
      height: 30px;
      overflow: hidden;
      // background: red;
      margin: 0 auto 0 auto;
      line-height: 30px;
      &.open{
        height: auto;
        background: rgba(99, 99, 99, 1.0);
        & li{
          & a{
            color: rgba(255,255,255,1.0);
          }
        }
      }
      & > li{
        float: right;
        display: inline-block;
        text-align: right;
        padding: 0 10px 0 10px;
        text-transform: uppercase;
        line-height: 1.0rem;
        &:last-child{
          padding: 0 0 0 10px;
        }
        &.nu__alert{
          & > a{
            color: rgba(247, 204, 72, 1.0);
          }
          & > a:hover{
            color: rgba(247, 204, 72, 1.0);
          }
        }
        &.current-menu-item{
          & > a{
            text-decoration: underline;
            color: rgba(255,255,255, 1.0);
          }
        }
        & > a{
          line-height: 30px;
          font-size: 1.1rem;
          color: rgba(189, 189, 189, 1.0);
          letter-spacing: 0.43px;
          &:hover{
            text-decoration: underline;
            color: rgba(255,255,255, 1.0);
          }
        }
      }
    }
  }



  & > div{
    width: 90vw;
    margin: 0 auto 0 auto;
    height: $header-height;
    position: relative;







    // & > div#searchnav{
    //   position: absolute;
    //   width: auto;
    //   right: 0;
    //   margin: 20px 0 0 0;
    //
    //   & .gsc-input{
    //     border: none;
    //     width: 10vw;
    //     background: rgba(255,255,255,1.0) !important;
    //     margin: 0 0 0 0;
    //     padding: 0 5px 0 5px;
    //     &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    //       color: white;
    //     }
    //     &::-moz-placeholder { /* Firefox 19+ */
    //       color: white;
    //     }
    //     &:-ms-input-placeholder { /* IE 10+ */
    //       color: white;
    //     }
    //     &:-moz-placeholder { /* Firefox 18- */
    //       color: white;
    //     }
    //   }
    //
    // }


    & > div#logo{
      width: 50%;
      // height: $header-height;
      height: 50px;
      // overflow: hidden;
      // background: green;
      & > a{
        line-height: $header-height;
        font-size: 3rem;
        color: white;
        & > img{
          height: 50px;
          margin: 0 0 10px 0;
        }
        // & svg{
        //   height: 80px;
        //   margin: 0 0 0 0;
        // }
      }
    }






  }



}
