/**
 * partials/header
 * ---
 */

a.skiptomaincontent{
 position: absolute;
 top: -100px;
 left: -100px;
 z-index: 3000;
 padding: 2px 15px 2px 15px;
 background: rgba($brand_colors-black,1.0);
 color: rgba($brand_colors-white,1.0);
 border: solid rgba($brand_colors-red,1.0) 1px;
 &:focus,
 &:hover{
   top: $gutter;
   left: $gutter;
 }
}


header{
  width: $wrapper-width;
  position: fixed;
  background: rgba($brand_colors-black,1.0);
  flex: none;
  z-index: 1000;
  border-bottom: solid rgba($brand_colors-grayW,1) 1px;

  & > div{
    width: $content-width-wide;
    margin: 0 auto 0 auto;
    height: $header-height;
    position: relative;
    clear: both;
  }
}





div#nu__alerts{
  display: block;
  width: $wrapper-width;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background: rgba($brand_colors-black, 1.0);
  min-height: 0;
  height: auto;
  color: rgba($brand_colors-black,1.0);
  @include font-2l-l;
  line-height: 0;
  & > div{
    width: $wrapper-width;
    margin: 0 auto 0 auto;
    padding: 10px $gutter 0 90px;
    background: rgba($brand_colors-white, 1.0);
    position: relative;
    overflow: hidden;
    &:before{
      position: absolute;
      left: 0;
      top: 0;
      background: rgba($brand_colors-red,1.0);
      height: 100%;
      width: ($gutter * 1);
      content: '';
    }
    & > h2{
      @include font-3b-l;
      color: rgba($brand_colors-red,1.0);
      text-transform: uppercase;
    }
    & > p{
      margin: 0 0 10px 0;
    }
    & > ul{
      margin: 0 0 0 15px;
      & > li{
        font-size: 1.4rem;
        line-height: 1.375;
        margin: 0 0 15px 0;
        & > a{
          font-weight: 700;
          border-bottom: none;
          @include font-2b-l;
          line-height: 1;
        }
      }
    }
  }
}





div#nu__utility-nav{
  top: 0;
  left: 0;
  background: rgba(0,0,0,1.0);
  height: 30px;
  overflow: visible;
  width: $content-width-wide;
  margin: 0 auto 0 auto;
  & > a{
    display: block;
    float: left;
    height: inherit;
    & > img{
      height: inherit;
    }
  }
  & > div{
    height: inherit;
    overflow: hidden;
  }
}





div#nu__logo{
  width: auto;
  float: left;
  height: $header-height;
  & > a{
    line-height: $header-height;
    font-size: 3rem;
    color: white;
    border: none;
    & > svg{
      height: 80px;
    }
  }
}


@media only screen and (max-width: 1280px) {

$gutter: 15px;

div#nu__alerts{

  & > div{

    padding: 10px $gutter 0 90px;

    &:before{

      width: ($gutter * 2);

    }
    &:after{

      width: ($gutter * 2);

    }
    & > h2{

    }
    & > ul{

      & > li{

        & > a{

        }
        &:after{

        }
      }
    }
  }
}

}


@media only screen and (max-width: 1064px) {
  div#nu__alerts{



    & > div{

      &:before{

      }
      &:after{



      }
      & > h2{
        @include font-9b-l;

      }
      & > p {
        @include font-9l-l;
      }
      & > ul{

        & > li{

          & > a{

            @include font-10b-l;
          }
          &:after{
            font-size:1.8rem;
            line-height: 2.8rem;
            vertical-align: -13%;

          }
        }
      }
    }
  }

}



@media screen and (max-width: 899px) {

}



@media screen and (max-width: 720px) {
  div#nu__alerts{
    & > div{
      padding: 10px $gutter 0 50px;
      & > h2{
        @include font-1b-l;
      }
      & > p{
        font-size: 1.2rem;
        line-height: 1.375;
      }
      & > ul{
        & > li{
          & > a{
            @include font-1b-l;
          }
        }
      }
    }
  }
}





@media only screen and (max-width: 500px) {


  $header-height: 50px;

  header {
    & > div {
      height: $header-height;
    }
  }
  div#nu__logo{
    height: $header-height;
    & > a{
      line-height: $header-height;
      height: $header-height;
      & > svg{
        height: $header-height;
      }
    }
  }

}
