/**
 * partials/nav
 * ---
 * Menus
 */


nav.nu__mainmenu{
  position: absolute;
  right: 0;
  width: auto;
  height: $header-height;
  line-height: $header-height;
  margin: 0 0 0 0;
  clear: both;
}









// ****************************************************************************************************
// the following bunch of styles handles the click event on the checkbox to hide and show the supernav
// so that we do not need to use JS
// ****************************************************************************************************
div#nu__mainmenu-supernav{
  float: right;
  height: inherit;
  width: 77px;
  top: 0;
  right: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative;
  text-align: right;
}

input#nu__supernav-toggle {
  height: inherit;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  &:hover ~ label#nu__supernav-toggle-label{
    color: rgba(133, 134, 135, 1.0);
    cursor: pointer;
  }

}

label#nu__supernav-toggle-label{
  float: right;
  color: rgba(255,255,255,1.0);
  &:before{
    content: 'Menu \E5D2';
  }
}

input#nu__supernav-toggle:checked ~ div#nu__supernav{
  height: 100%;
  visibility: visible;
  opacity: 1;

  -webkit-transition: visibility 0s, opacity 0.10s linear;
  -moz-transition: visibility 0s, opacity 0.10s linear;
  -ms-transition: visibility 0s, opacity 0.10s linear;
  -o-transition: visibility 0s, opacity 0.10s linear;
  transition: visibility 0s, opacity 0.10s linear;
}

input#nu__supernav-toggle:checked ~ div#nu__searchbar{
  height: 0;
  visibility: hidden;
  opacity: 0;
}

input#nu__supernav-toggle:checked ~ label#nu__supernav-toggle-label{
  color: rgba(255,255,255,1.0);
  &:before{
    content: 'Close \E14C';
  }
}
// ****************************************************************************************************




  // ****************************************************************************************************
  // the following bunch of styles handles the click event on the checkbox to hide and show the iamnav
  // so that we do not need to use JS
  // ****************************************************************************************************
  div#nu__mainmenu-iamnav{
    float: right;
    height: inherit;
    width: 75px;
    top: 0;
    right: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
    text-align: right;
  }

  input#nu__iamnav-toggle {
    height: inherit;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    &:hover ~ label#nu__iamnav-toggle-label{
      color: rgba(133, 134, 135, 1.0);
      cursor: pointer;
    }

  }

  label#nu__iamnav-toggle-label{
    float: right;
    color: rgba(255,255,255,1.0);
    &:before{
      content: 'I am a \E313';
    }
  }

  input#nu__iamnav-toggle:checked ~ div#nu__iamnav{
    height: 100%;
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0s, opacity 0.10s linear;
    -moz-transition: visibility 0s, opacity 0.10s linear;
    -ms-transition: visibility 0s, opacity 0.10s linear;
    -o-transition: visibility 0s, opacity 0.10s linear;
    transition: visibility 0s, opacity 0.10s linear;
  }

  input#nu__iamnav-toggle:checked ~ div#nu__searchbar{
    height: 0;
    visibility: hidden;
    opacity: 0;
  }

  input#nu__iamnav-toggle:checked ~ label#nu__iamnav-toggle-label{
    color: rgba(255,255,255,1.0);
    &:before{
      content: 'Close \E14C';
    }
  }
  // ****************************************************************************************************




// this handles the layout of the main and iam menus
  #nu__supernav,
  #nu__iamnav,
  #nu__searchbar{
    opacity: 0;
    // opacity: 1.0;
    visibility: hidden;
    // visibility: visible;
    position: fixed;
    z-index: 100;
    // background: rgba(0,0,0,0.8);
    height: 0;
    // height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    top: 1px;
    left: 0;
    width: $wrapper-width;
    margin: $header-height 0 0 0;
    &.utilitystyle{
      margin: 40px 0 0 0;
      line-height: 70px;
    }
    &.autoshow{
      opacity: 1;
      visibility: visible;
      height: 100%;
      line-height: 70px;
    }

    & > section{

      $s: 60px;
      $hh: 100%;

      float: right;
      background: rgba(0,0,0,1.0);
      width: 50%;
      height: auto;
      position: relative;
      min-height: calc(#{$hh} - #{$s});
      min-height: -moz-calc(#{$hh} - #{$s});
      min-height: -webkit-calc(#{$hh} - #{$s});
      & > div.search{
        display: none;
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: left;
        padding: 0 20px 0 20px;
        background: rgba(0,0,0,1.0);
      }


      & > div.fixedbg{
        position: absolute;
        display: table;
        z-index: 0;
        background: yellow;
        width: 100%;
        height: 100%;
        min-height: 100%;
        clear: both;
        & > div{
          display: table-cell;
          &:nth-child(1){
            background: rgba(0,0,0,1.0);
            width: 45%;
          }
          &:nth-child(2){
            background: rgba(255,255,255,1.0);
            width: 55%;
          }
        }
      }


      & > div.items{
        position: absolute;
        min-height: calc(#{$hh} - #{$s});
        height: calc(#{$hh} - #{$s});
        min-height: -moz-calc(#{$hh} - #{$s});
        height: -moz-calc(#{$hh} - #{$s});
        min-height: -webkit-calc(#{$hh} - #{$s});
        height: -webkit-calc(#{$hh} - #{$s});
        width: 100%;
        & > ul{
          width: 45%;
          height: auto;
          list-style: none;
          list-style-type: none;
          padding: 0 0 100px 0;
          & > li{
            width: 100%;
            text-align: left;
            padding: 0 $gutter 0 $gutter;
            border-bottom: solid rgba(255,255,255,1.0) 1px;
            line-height: 50px;
            &.featured{
              border: none;
              margin: 0 0 10px 0;
              a {
                color: rgba(255,255,255,1.0);
              }
              &.first{
                margin: $gutter 0 10px 0;
              }
              &:hover{
                background: none;
                a{
                  color: rgba(255,0,0,1.0);
                }
              }
              img{
                margin: 0 10px 0 0;
                -webkit-filter: grayscale(1);
                -moz-filter: grayscale(1);
                filter: grayscale(1);
                height: 50px;
                width: 50px;
              }
            }
            &.active,
            &:hover{
              background: rgba(235, 231, 214, 1.0);
              cursor: pointer;
              color: rgba(0,0,0,1.0);
            }
            & > ul{
              display: none;
              position: absolute;
              right: 0;
              top: 0;
              width: 51%;
              list-style: none;
              list-style-type: none;
              padding: 0 0 100px 0;
              margin: 0 0 0 $gutter;
              & > li{
                margin: 0 $gutter $gutter 0;
                &:first-child{
                  font-size: 2.2rem;
                  margin: 0 0 0 0;
                }
                & > a{
                  color: rgba(0,0,0,1.0);
                  display: block;
                  clear: both;
                  overflow: hidden;
                  &:hover{
                    color: rgba(255,0,0,1.0);
                    cursor: pointer;
                  }
                  & > div{
                    min-height: 50px;
                    float: left;
                    word-wrap: normal;
                    width: 80%;
                    font-size: 1.4rem;
                    &:nth-child(1){
                      width: 50px;
                      margin: 0 10px 0 0;
                      & > img{
                        -webkit-filter: grayscale(1);
                        -moz-filter: grayscale(1);
                        filter: grayscale(1);
                      }
                    }

                  }
                }
              }
            }
            &.active > ul{
              display: block;
            }
          }
        }
      }
    }
  }

  // small tweaks to make search different from the other navigational panels
  #nu__searchbar{
    & > section{
      border-left: solid rgba(255,255,255,1.0) 3px;
      & > form{
        width: auto;
        // background: green;
        margin: 0 $gutter $gutter $gutter;
        text-align: left;
        & > input{
          margin: 0 0 0 0;
          height: 50px;
          line-height: 50px;
          padding: 0 5px 0 5px;
          width: 100%;
          width: calc(100% - 40px);
          border: none;
          font-size: 2rem;
          border-bottom: solid rgba(255,255,255,1.0) 1px;
          background: rgba(0,0,0,1.0);
          color: rgba(255,255,255,1.0);
        }

        & > button{
          background: none;
          border: none;
          width: 40px;
          height: 54px;
          line-height: 50px;
          font-size: 2rem;
          font-family: "Material Icons";
          color: rgba(255,255,255,1.0);
          border-bottom: solid rgba(255,255,255,1.0) 1px;
          margin: 0 0 0 0;
          &:hover{
            cursor: pointer;
            color: rgba(255,0,0,1.0);
          }
        }
        & > ul{
          list-style: none;
          list-style-type: none;
          & > li{
            height: auto;
            line-height: 40px;
            & > a{
              font-size: 2rem;
              color: rgba(255,255,255,1.0);
              &:hover{
                cursor: pointer;
                color: rgba(255,0,0,1.0);
              }
            }
          }
        }
      }
    }
  }




// ****************************************************************************************************
// the following bunch of styles handles the search menu item and overlay
// ****************************************************************************************************
div#nu__mainmenu-search{
  float: right;
  height: inherit;
  width: 120px;
  top: 0;
  right: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative;
  text-align: right;
}

input#nu__search-toggle {
  height: inherit;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  &:hover ~ label#nu__search-toggle-label{
    color: rgba(133, 134, 135, 1.0);
    cursor: pointer;
  }

}

label#nu__search-toggle-label{
  float: right;
  color: rgba(255,255,255,1.0);
  margin: 0 20px 0 0;
  &:before{
    content: 'Search \E8B6';
  }
}

input#nu__search-toggle:checked ~ div#nu__searchbar{
  height: 100%;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s, opacity 0.10s linear;
  -moz-transition: visibility 0s, opacity 0.10s linear;
  -ms-transition: visibility 0s, opacity 0.10s linear;
  -o-transition: visibility 0s, opacity 0.10s linear;
  transition: visibility 0s, opacity 0.10s linear;
}

input#nu__search-toggle:checked ~ label#nu__search-toggle-label{
  color: rgba(255,255,255,1.0);
  &:before{
    content: 'Close \E14C';
  }
}








// #nu__searchbar{
//   opacity: 0;
//   visibility: hidden;
//   position: fixed;
//   z-index: 100;
//   height: 0;
//   overflow-y: auto;
//   top: 1px;
//   left: 0;
//   width: $wrapper-width;
//   margin: $header-height 0 0 0;
//   & > form{
//     width: 40%;
//     margin: 10vh auto 0 auto;
//     & > input{
//       margin: 0 10px 10px 10px;
//       height: 40px;
//       line-height: 40px;
//       padding: 0 5px 0 5px;
//       width: 80%;
//     }
//
//     & > button{
//       background: none;
//       border: none;
//       width: 40px;
//       height: 40px;
//       line-height: 40px;
//       font-size: 2rem;
//       font-family: "Material Icons";
//       color: rgba(255,255,255,1.0);
//       &:hover{
//         cursor: pointer;
//         color: rgba(255,0,0,1.0);
//       }
//     }
//   }
// }














// @media only screen and (max-width: 1500px){
//   nav{
//     & > ul{
//       // display: flex;
//       // flex-direction: row;
//       & > li{
//         // float: none;
//         // flex-grow: 1;
//         & > a{
//           font-size: 1.25rem;
//           // padding: 0 $gutter 0 $gutter;
//         }
//       }
//     }
//   }
// }
//
//
//
//
//
// @media only screen and (max-width: 1100px){
//
//   nav{
//     overflow: hidden;
//     & > ul{
//       width: 84vw;
//       margin: nth($wrapper-margins, 1) 8vw nth($wrapper-margins, 3) 8vw;
//       list-style: none;
//       list-style-type: none;
//       clear: both;
//       display: block;
//       overflow: hidden;
//       height: 50px;
//       & > li{
//         float: none;
//         flex: none;
//         border-left: none;
//         &:first-child{
//           display: block;
//           & > a{
//             font-size: 3rem;
//             font-weight: 300;
//             text-align: left;
//             padding: 0 0 0 0;
//           }
//         }
//         &:last-child{
//           border-right: none;
//           float: none;
//           &::after{
//             color: rgba(0,0,0,1.0);
//           }
//         }
//         & > a{
//           display: block;
//           padding: 0 0 0 0;
//           height: $navigation-height;
//           line-height: $navigation-height;
//           margin: 0 0 0 0;
//           width: 100%;
//           font-size: 1.3rem;
//           text-align: center;
//         }
//         &.active,
//         &:hover{
//           // background: rgba(0,0,0,1.0);
//           color: nth($brand_colors,4);
//         }
//         &:hover{
//           cursor: pointer;
//         }
//       }
//     }
//   }
//
// }
//
//
//
//
//
// // @media only screen and (max-width: 760px){
// //
// //   nav{
// //     & > ul{
// //       width: 90vw;
// //       margin: 0 5vw 0 5vw;
// //     }
// //   }
// //
// // }
// //
// //
// //
// //
// //
// // @media only screen and (max-width: 560px){
// //
// //   nav{
// //     & > ul{
// //       width: 90vw;
// //       margin: 0 5vw 0 5vw;
// //       & > li{
// //         & > a{
// //           font-size: 0.9rem;
// //           line-height: 1.25rem;
// //           padding: ($gutter * 2) 10px $gutter 10px;
// //         }
// //       }
// //     }
// //   }
// //
// // }
