/**
 * partials/nav
 * ---
 * Menus
 */


nav.nu__mainmenu{
  position: absolute;
  right: 0;
  width: auto;
  height: $header-height;
  line-height: $header-height;
  margin: 0 0 0 0;
  clear: both;
  div.nu__menu-search{
    float: left;
  }

  & > ul{
    float: right;
    width: auto;
    height: inherit;
    margin: 0 0 0 0;
    list-style: none;
    list-style-type: none;
    clear: none;
    & > li{
      float: left;
      &:first-child{
        display: none;
      }
      &.nu__menu-iam{  // this is the dropdown menu for the I AM selection
        height: inherit;
        overflow: hidden;
        &:hover{
          & > ul{
            height: 300px;
            -webkit-transition: height 0.5s;
            -moz-transition: height 0.5s;
            -ms-transition: height 0.5s;
            -o-transition: height 0.5s;
            transition: height 0.5s;
          }
        }
        & > ul{
          height: 0;
          overflow: hidden;
          position: absolute;
          z-index: 101;
          background: rgba(0,0,0,0.9);
          width: 250px;
          list-style: none;
          list-style-type: none;
          margin: -10px nth($wrapper-margins, 2) 0 (nth($wrapper-margins, 2) * -1);
          & > li{
            text-align: right;
            padding: 0 10px 0 10px;
            line-height: 40px;
            & > a{
              line-height: inherit;
              &:hover{
                color: red;
              }
            }
          }
        }
      }
      &.current-menu-item{
        & > a{
          color: rgba(133, 134, 135, 1.0);
        }
      }
      & > a{
        display: block;

        color: rgba(255,255,255, 1.0);
        padding: 0 0 0 ($gutter * 1);
        height: inherit;
        line-height: inherit;
        text-align: center;
        letter-spacing: 1px;
        font-size: 1.6rem;
      }
      &.active,
      &:hover{
        & > a{
          color: rgba(133, 134, 135, 1.0);
        }
      }
    }
  }
}









// ****************************************************************************************************
// the following bunch of styles handles the click event on the checkbox to hide and show the supernav
// so that we do not need to use JS
// ****************************************************************************************************
div#nu__mainmenu-supernav{
  float: right;
  height: inherit;
  width: 70px;
  top: 0;
  right: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative;
  text-align: right;
}

input#nu__supernav-toggle {
  height: inherit;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  &:hover ~ label#nu__supernav-toggle-label{
    color: rgba(133, 134, 135, 1.0);
    cursor: pointer;
  }

}

label#nu__supernav-toggle-label{
  float: right;
  color: rgba(255,255,255,1.0);
  &:before{
    content: 'Menu \E5D2';
  }
}

input#nu__supernav-toggle:checked ~ div#nu__supernav{
  height: 100%;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s, opacity 0.10s linear;
  -moz-transition: visibility 0s, opacity 0.10s linear;
  -ms-transition: visibility 0s, opacity 0.10s linear;
  -o-transition: visibility 0s, opacity 0.10s linear;
  transition: visibility 0s, opacity 0.10s linear;
}

input#nu__supernav-toggle:checked ~ div#nu__searchbar{
  height: 0;
  visibility: hidden;
  opacity: 0;
}

input#nu__supernav-toggle:checked ~ label#nu__supernav-toggle-label{
  color: rgba(255,255,255,1.0);
  &:before{
    content: 'Close \E14C';
  }
}
// ****************************************************************************************************







#nu__supernav{
  opacity: 0;
  // opacity: 1.0;
  visibility: hidden;
  // visibility: visible;
  position: fixed;
  z-index: 100;
  background: rgba(0,0,0,0.9);
  height: 0;
  // height: 100%;
  overflow-y: auto;
  top: 1px;
  left: 0;
  width: $wrapper-width;
  margin: $header-height 0 0 0;
  &.autoshow{
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 0;
    margin: $header-height + 20 0 0 0;
  }

  & > section{
    float: right;
    min-height: 100%;
    &:nth-child(1){
      width: 25%;
    }
    &:nth-child(2){
      width: 50%;
    }
  }

  & > section:nth-child(1){
    padding: 0 0 0 50px;
    text-align: left;
    & > form{
      width: 80%;
      & > input{
        margin: 0 0 10px 0;
        height: 40px;
        line-height: 40px;
        padding: 0 5px 0 5px;
        width: 80%;
      }

      & > button{
        background: none;
        border: none;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 2rem;
        font-family: "Material Icons";
        color: rgba(255,255,255,1.0);
        &:hover{
          cursor: pointer;
          color: rgba(255,0,0,1.0);
        }
      }
    }
    & > a{
      color: rgba(255,255,255,1.0);
      &:hover{
        color: red;
      }
    }
  }

  & > section:nth-child(2){
      position: relative;
      & > ul{
        float: left;
        width: 45%;
        list-style: none;
        list-style-type: none;
        & > li{
          width: 100%;
          line-height: 50px;
          text-align: left;
          padding: 0 0 0 20px;
          text-transform: uppercase;
          border-bottom: solid rgba(255,255,255,1.0) 1px;



          &.active,
          &:hover{
            background: rgba(235, 231, 214, 1.0);
            color: rgba(0,0,0,1.0);
            cursor: pointer;
          }
          &.active{
            & > ul{
              display: block;
            }
          }
          & > ul{
            display: none;
            position: absolute;
            width: 55%;
            height: 100%;
            right: 0;
            top: 0;
            list-style: none;
            list-style-type: none;
            background: rgba(255,255,255,1.0);
            & > li{
              margin: 0 20px 20px 20px;
              &:first-child{
                margin: 0 0 0 20px;
                font-size: 2.5rem;
                color: rgba(0,0,0,1.0);
              }
              & > a{
                color: rgba(0,0,0,1.0);
                height: auto;
                text-transform: capitalize;
                font-size: 1.4rem;
                & > img{
                  margin: 0 10px 0 0;
                }
                &:hover{
                  color: red;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }



// }



div#nu__mainmenu-search{
  float: right;
  height: inherit;
  width: 120px;
  top: 0;
  right: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative;
  text-align: right;
}

input#nu__search-toggle {
  height: inherit;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  &:hover ~ label#nu__search-toggle-label{
    color: rgba(133, 134, 135, 1.0);
    cursor: pointer;
  }

}

label#nu__search-toggle-label{
  float: right;
  color: rgba(255,255,255,1.0);
  margin: 0 20px 0 0;
  &:before{
    content: 'Search \E8B6';
  }
}

input#nu__search-toggle:checked ~ div#nu__searchbar{
  height: 100%;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s, opacity 0.10s linear;
  -moz-transition: visibility 0s, opacity 0.10s linear;
  -ms-transition: visibility 0s, opacity 0.10s linear;
  -o-transition: visibility 0s, opacity 0.10s linear;
  transition: visibility 0s, opacity 0.10s linear;
}

input#nu__search-toggle:checked ~ label#nu__search-toggle-label{
  color: rgba(255,255,255,1.0);
  &:before{
    content: 'Cancel \E8B6';
  }
}








#nu__searchbar{
  background: rgba(0,0,0,1.0);
  width: 25vw;
  float: right;
  height: auto;
  clear: left;
  margin: 0 0 0 0;
  height: 0;
  overflow: hidden;
  & > form{
    & > input{
      margin: 0 10px 10px 10px;
      height: 40px;
      line-height: 40px;
      padding: 0 5px 0 5px;
      width: 80%;
    }

    & > button{
      background: none;
      border: none;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 2rem;
      font-family: "Material Icons";
      color: rgba(255,255,255,1.0);
      &:hover{
        cursor: pointer;
        color: rgba(255,0,0,1.0);
      }
    }
  }
}














// @media only screen and (max-width: 1500px){
//   nav{
//     & > ul{
//       // display: flex;
//       // flex-direction: row;
//       & > li{
//         // float: none;
//         // flex-grow: 1;
//         & > a{
//           font-size: 1.25rem;
//           // padding: 0 $gutter 0 $gutter;
//         }
//       }
//     }
//   }
// }
//
//
//
//
//
// @media only screen and (max-width: 1100px){
//
//   nav{
//     overflow: hidden;
//     & > ul{
//       width: 84vw;
//       margin: nth($wrapper-margins, 1) 8vw nth($wrapper-margins, 3) 8vw;
//       list-style: none;
//       list-style-type: none;
//       clear: both;
//       display: block;
//       overflow: hidden;
//       height: 50px;
//       & > li{
//         float: none;
//         flex: none;
//         border-left: none;
//         &:first-child{
//           display: block;
//           & > a{
//             font-size: 3rem;
//             font-weight: 300;
//             text-align: left;
//             padding: 0 0 0 0;
//           }
//         }
//         &:last-child{
//           border-right: none;
//           float: none;
//           &::after{
//             color: rgba(0,0,0,1.0);
//           }
//         }
//         & > a{
//           display: block;
//           padding: 0 0 0 0;
//           height: $navigation-height;
//           line-height: $navigation-height;
//           margin: 0 0 0 0;
//           width: 100%;
//           font-size: 1.3rem;
//           text-align: center;
//         }
//         &.active,
//         &:hover{
//           // background: rgba(0,0,0,1.0);
//           color: nth($brand_colors,4);
//         }
//         &:hover{
//           cursor: pointer;
//         }
//       }
//     }
//   }
//
// }
//
//
//
//
//
// // @media only screen and (max-width: 760px){
// //
// //   nav{
// //     & > ul{
// //       width: 90vw;
// //       margin: 0 5vw 0 5vw;
// //     }
// //   }
// //
// // }
// //
// //
// //
// //
// //
// // @media only screen and (max-width: 560px){
// //
// //   nav{
// //     & > ul{
// //       width: 90vw;
// //       margin: 0 5vw 0 5vw;
// //       & > li{
// //         & > a{
// //           font-size: 0.9rem;
// //           line-height: 1.25rem;
// //           padding: ($gutter * 2) 10px $gutter 10px;
// //         }
// //       }
// //     }
// //   }
// //
// // }
