/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */


// Global box-sizing
*,
*:after,
*:before {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

// html,
// body{
//   height: 100%;
// }

html {
  // `font-size` for REM use

  font-size: 62.5%;

  // Cancel hightlight color when tapping in iOS
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-x: hidden;
  // overflow-y: scroll;
  height: 100%;
}

body {
  // font-family: $font-family-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 200;
  letter-spacing: 1px;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // color: $text-color;
  // background-color: $body-bg;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  min-height: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0, 1.0);
  // background: rgba(255,255,255, 1.0);

  // background :red;
  color: rgba(255,255,255,1.0);
}

img {
  // Don't allow <IMG> to be larger then its container
  // max-width: 100%;
  // Omit space caused by default style, between images lines
  vertical-align: middle;
}

a {
  outline: 0;
  color: $text-color;
  text-decoration: none;
  border-bottom: none;
  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}

// Text selection
::selection {
  background-color: $selection-bg;
  color: $body-bg;
  text-shadow: none;
}
