/**
 * partials/static
 * ---
 */

 main.staticpage{
   &.submitastory{
     margin: ($header-height + $navigation-height + 20) 0 $gutter 0;
   }
   & > section{
     margin: 0 0 0 0;
     width: $content-width;
     & > article{
       width: 100%;
       & > #contentarea{
         padding: 0 0 0 0;
         background: rgba(255,255,255,1.0);
         & > div.panel{
           & > div.contentarea{
             & > iframe{
              width: 100%;
              margin: 0 0 $gutter 0;
             }
             a{
               text-decoration: underline;
               &:hover{
                 text-decoration: none;
               }
             }
             & h1{
               margin: ($gutter * 3) (nth($wrapper-margins, 2) / 2) $gutter (nth($wrapper-margins, 4) / 2);
             }
            & form{
              margin: ($gutter * 2) (nth($wrapper-margins, 2) / 2) ($gutter * 2) (nth($wrapper-margins, 4) / 2);
            }
           }
         }
       }
     }
   }
 }
