/*
 * departments
 */


 // Modules
 @import "modules/variables";
 @import "modules/mixins";
 @import "modules/fonts";



 div.main{

   section.hero{
     margin: 0 0 0 0;
   }

   section.nu__president{
     width: 65vw;
     margin: 0 auto 0 auto;
     clear: both;
     & > div{
       float: right;
       width: 45%;
       min-height: 400px;
       position: relative;
       &:nth-child(2){
         width: 55%;
         & > h3{
           @include font-6l-l;
           border-bottom: solid rgba($brand_colors-grayW,1.0) 1px;
           padding: 0 0 ($gutter / 2) 0;
           margin: $gutter $gutter ($gutter / 2) 0;
         }
         & > p{
           text-align: left;
           margin-right: $gutter;
            margin-bottom: ($gutter / 2.5);
           & > a{
              border: none;
              line-height: 4rem;
              position: relative;
              overflow: hidden;
              padding: 0 0 0 25px;
              &.readmore{
                padding: 0 0 0 0;
                border-bottom: solid rgba($brand_colors-red,1.0) 1px;
                &:hover,
                &:focus{
                  color: rgba($brand_colors-red,1.0);
                  border-bottom: solid rgba($brand_colors-red,1.0) 1px;
                }
              }
              & > span{
                position: absolute;
                left: 0;
                top: 8px;
                @include font-4-c;
                line-height: 10px;
                color: rgba($brand_colors-black,0.8);
              }
              &:hover,
              &:focus{
                border-bottom: solid rgba($brand_colors-red,1.0) 2px;
                color: rgba($brand_colors-black,1.0);
                & > span{
                  color: rgba($brand_colors-black,1.0);
                }
              }
           }
         }

       }
       &:nth-child(1){
         background: rgba($brand_colors-black,1.0);
         background-position: center center !important;
         background-repeat: no-repeat !important;
         background-size: cover !important;
         & > div{
           width: 100%;
           height: 50%;
           background: red;
           position: absolute;
           bottom: 0;
           background: linear-gradient(0deg, rgba($brand_colors-black,0.6) 0%, rgba($brand_colors-black,0) 100%);
         }
         & > p{
           position: absolute;
           left: $gutter;
           bottom: $gutter;
           color: rgba($brand_colors-white,1.0);
           & > span{
             @include font-3b-l;
             letter-spacing: 1px;
           }
         }
       }
     }
   }





    $cols: 6;
    $ww: (($content-width-wide - (2vw * ($cols - 1))) / $cols);
    $www: ($content-width-narrow - 2vw - $ww);

    section.nu__slt{
      width: $content-width-narrow;
      & > article{
        clear: both;
        margin: 0 auto 0 auto;
        overflow: hidden;
        & > div{
          position: relative;
          &:nth-child(2){
            float: left;
            width: ($content-width-narrow - 2vw - $ww);
            margin-right: 2vw;
            & > div.description{
              @include font-2r-l;
              & > p{
                display: none;
                // &:nth-child(1),
                // &:nth-child(2){
                //   display: block;
                // }
                &:nth-child(1){
                  display: block;
                }
                &.open{
                  display: block;
                }
                &:last-of-type{
                  margin: 0 0 $gutter 0;
                }
              }
            }
            & > p{
              &.nametitle{
                @include font-3b-l;
                margin-bottom: ($gutter / 2);
                & > span{
                  @include font-5b-l;
                }
              }
              // &.description{
              //   @include font-2r-l;
              //   & > p{
              //     display: none;
              //   }
              // }
              &.contact{
                margin: $gutter 0 0 0;
                & > a{
                  line-height: 4rem;
                  border: none;
                  position: relative;
                  padding: 0 0 0 25px;
                  overflow: hidden;
                  & > span{
                    position: absolute;
                    left: 0;
                    top: 8px;
                    @include font-4-c;
                    line-height: 10px;
                    color: rgba($brand_colors-black,0.8);
                  }
                  &:hover{
                    color: rgba($brand_colors-black,1.0);
                    border-bottom: solid rgba($brand_colors-red,1.0) 2px;
                    & > span{
                      color: rgba($brand_colors-black,1.0);
                    }
                  }
                }
              }
            }
          }
          &:nth-child(1){
            float: right;
            width: $ww;
            & > div{
              width: 100%;
              height: $ww;
              background: rgba($brand_colors-black,1.0);
              background-position: center center !important;
              background-repeat: no-repeat !important;
              background-size: cover !important;
            }
            & > p{
              @include font-2r-l;
              margin: 10px 0 0 0;
              margin-bottom: ($gutter / 2);
              & > span{
                @include font-2b-l;
              }
            }
          }
        }
      }
    }

   section.nu__team{
     width: $content-width-narrow;
     & > article{
       clear: both;
       margin: 0 auto 0 auto;
       overflow: hidden;
       & > div{
         position: relative;
         &:nth-child(1){
           float: left;
           width: ($content-width-narrow - 2vw - $ww);
           margin-right: 2vw;
           & > p{
             &.nametitle{
               @include font-3b-l;
               margin-bottom: ($gutter / 2);
               & > span{
                 @include font-5b-l;
               }
             }
             &.description{
               @include font-2r-l;
             }
             &.contact{
               & > a{
                 line-height: 4rem;
                 border: none;
                 position: relative;
                 padding: 0 0 0 25px;
                 overflow: hidden;
                 & > span{
                   position: absolute;
                   left: 0;
                   top: 8px;
                   @include font-4-c;
                   line-height: 10px;
                   color: rgba($brand_colors-black,0.8);
                 }
                 &:hover{
                   color: rgba($brand_colors-black,1.0);
                   border-bottom: solid rgba($brand_colors-red,1.0) 2px;
                   & > span{
                     color: rgba($brand_colors-black,1.0);
                   }
                 }
               }
             }
           }
         }
         &:nth-child(2){
           float: right;
           width: $ww;
           & > div{
             width: 100%;
             height: $ww;
             background: rgba($brand_colors-black,1.0);
             background-position: center center !important;
             background-repeat: no-repeat !important;
             background-size: cover !important;
           }
           & > p{
             @include font-2r-l;
             line-height: 2.2rem;
             margin: 10px 0 0 0;
             margin-bottom: ($gutter / 2);
             & > span{
               @include font-2b-l;
               line-height: 2.2rem;
             }
           }
         }
       }
     }
   }


   section.nu__team-list{

     width: $content-width-wide;
     & > h3{
       @include font-5b-c;
       margin: 2vw auto 2vw auto;
     }
     & > ul{
       width: $content-width-wide;
       margin: 0 auto 0 auto;
       flex-direction: row;
       flex-wrap: wrap;
       & > li{
          width: $ww;
          flex-basis: $ww;
         margin: 0 2vw 2vw 0;
         flex-grow: 0;
         &:nth-child(#{$cols}n+#{$cols}){
           margin: 0 0 2vw 0;
         }
         & > div{
           height: $ww;
           width: $ww;
           background: rgba($brand_colors-black,1.0);
           background-position: center center !important;
           background-repeat: no-repeat !important;
           background-size: cover !important;
         }
         & > p{
           width: $ww;
           @include font-2r-l;
           line-height: 2.2rem;
           margin: 10px 0 0 0;
           margin-bottom: ($gutter / 2);
           & > span{
             @include font-2b-l;
             line-height: 2.2rem;
           }
         }
       }
     }
   }



















   @media only screen and (max-width: 1280px) {

     section.nu__president{
       & > div{
         &:nth-child(2){
           & > h3{
             @include font-5l-l;
           }

         }
         &:nth-child(1){
           & > p{
             & > span{
               @include font-2b-l;
             }
           }
         }
       }
     }



      section.nu__slt{
        & > article{
          & > div{
            &:nth-child(2){
              & > p{
                &.nametitle{
                  @include font-2b-l;
                  & > span{
                    @include font-3b-l;
                  }
                }
              }
            }
          }
        }
      }

     section.nu__team{
       width: $content-width-narrow;
       & > article{
         & > div{
           &:nth-child(1){
             & > p{
               &.nametitle{
                 @include font-2b-l;
                 & > span{
                   @include font-3b-l;
                 }
               }
             }
           }
         }
       }
     }


     section.nu__team-list{

       & > h3{
         @include font-3b-c;
       }
     }
   }


















   @media only screen and (max-width: 959px){

     section.nu__president{
       width: $content-width;
       & > div{
         min-height: 300px;
         &:nth-child(2){
           & > h3{
             @include font-3l-l;
           }
         }
       }
     }





     $cols: 3;
     $ww: (($content-width-wide - (2vw * ($cols - 1))) / $cols);
     $www: ($content-width-narrow - 2vw - $ww);

     section.nu__slt{
       width: $content-width;
       & > article{
         margin: 0 auto ($gutter * 2) auto;
         & > div{
           &:nth-child(2){
             width: ($content-width - 2vw - $ww);
           }
           &:nth-child(1){
             width: $ww;
             & > div{
               height: $ww;
             }
           }
         }
       }
     }




     $cols: 3;
     $ww: (($content-width-wide - (2vw * ($cols - 1))) / $cols);
     $www: ($content-width-narrow - 2vw - $ww);

    section.nu__team{
      width: $content-width;
      & > article{
        margin: 0 auto 0 auto;
        & > div{
          &:nth-child(1){
            width: ($content-width - 2vw - $ww);
          }
          &:nth-child(2){
            width: $ww;
            & > div{
            height: $ww;
            }
          }
        }
      }
    }



    section.nu__team-list{

      $cols: 4;
      $ww: (($content-width-wide - (2vw * ($cols - 1))) / $cols);
      $www: ($content-width-wide - 2vw - $ww);
      & > ul{
        & > li{
           width: $ww;
           flex-basis: $ww;
          &:nth-child(4n+4){
            margin: 0 0 2vw 0;
          }
          &:nth-child(6n+6){
            margin: 0 2vw 2vw 0;
          }
          & > div{
            height: $ww;
            width: $ww;
          }
          & > p{
            width: $ww;
          }
        }
      }
    }



   }





   @media only screen and (max-width: 700px){

     section.nu__president{
       width: $wrapper-width;
       & > div{
         float: none;
         width: 100%;
         min-height: 300px;
          &:nth-child(2){
            width: $content-width-700;
            margin: 0 auto 0 auto;
           & > h3{
             margin: $gutter 0 ($gutter / 2) 0;
           }
         }
         &:nth-child(1){
           & > p{
             left: 15px;
             bottom: 15px;
           }
         }
       }
     }




     section.nu__slt{
       width: $content-width-700;
       & > article{
         margin: 0 auto ($gutter * 2) auto;
         & > div{
           &:nth-child(2){
             width: ($content-width-700 - 2vw - $ww);
           }
           &:nth-child(1){
             width: $ww;
             & > div{
               height: $ww;
             }
           }
         }
       }
     }










     section.nu__team{
       width: $content-width-wide;
       & > article{
         & > div{
         &:nth-child(1){
         width: ($content-width-700 - 8vw - $ww);
         }
         }
       }
     }




     section.nu__team-list{

       $cols: 3;
       $ww: (($content-width-wide - (2vw * ($cols - 1))) / $cols);
       $www: ($content-width-wide - 2vw - $ww);
       & > ul{
         & > li{
            width: $ww;
            flex-basis: $ww;
           &:nth-child(3n+3){
             margin: 0 0 2vw 0;
           }
           &:nth-child(4n+4){
             margin: 0 2vw 2vw 0;
           }
           & > div{
             height: $ww;
             width: $ww;
           }
           & > p{
             width: $ww;
           }
         }
       }
     }




   }




   @media only screen and (max-width: 620px) {









   }





    @media only screen and (max-width: 500px){



      section.nu__slt{
        width: $content-width-700;
        & > article{
          margin: 0 auto ($gutter * 2) auto;
          & > div{
            &:nth-child(2){
              float: none;
              width: 100%;
            }
            &:nth-child(1){
              float: none;
              width: 100%;
              & > div{
                height: 300px;
              }
            }
          }
        }
      }


     section.nu__team{

       & > article{
         margin: 0 auto ($gutter * 2) auto;
         & > div{
           float: none;
           &:nth-child(2){
             width: 100%;
             & > div{
               width: 48vw;
               margin: 0 3vw 15px 0;
               height: 48vw;
               float: left;
             }
             & > p{
               float: left;
               width: 40vw;
             }

           }
           &:nth-child(1){
             width: 100%;
               margin: 0 auto 15px auto;
           }
         }
       }
     }




     section.nu__team-list{

       & > ul{
         display: block;
         & > li{
           clear: both;
           overflow: hidden;
           flex: none;
            width: 100%;
            flex-basis: 0;
           margin: 0 0 15px 0;
           &:nth-child(2n+2){
             margin: 0 0 15px 0;
           }
           &:nth-child(3n+3){
             margin: 0 0 15px 0;
           }
           &:nth-child(4n+4){
             margin: 0 0 15px 0;
           }
           &:nth-child(6n+6){
             margin: 0 0 15px 0;
           }
           & > div{
             float: left;
             height: 48vw;
             width: 48vw;
             margin: 0 3vw 0 0;
           }
           & > p{
             float: left;
             width: 40vw;
           }
         }
       }
     }





    }



}
