/*
 * departments
 */


 // Modules
 @import "modules/variables";
 @import "modules/mixins";
 @import "modules/fonts";



 div.main{

   section.hero{
     margin: 0 0 0 0;
   }

   section.nu__president{
     width: 65vw;
     margin: 0 auto 0 auto;
     clear: both;
     & > div{
       float: left;
       width: 45%;
       min-height: 400px;
       position: relative;
       &:nth-child(1){
         width: 55%;
         & > h3{
           @include font-6l-l;
           border-bottom: solid rgba($brand_colors-grayW,1.0) 1px;
           padding: 0 0 ($gutter / 2) 0;
           margin: $gutter $gutter ($gutter / 2) 0;
         }
         & > p{
           text-align: left;
           margin-right: $gutter;

           & > a{
              border: none;
              line-height: 4rem;
              position: relative;
              overflow: hidden;
              padding: 0 0 0 25px;
              & > span{
                position: absolute;
                left: 0;
                top: 8px;
                @include font-4-c;
                line-height: 10px;
                color: rgba($brand_colors-black,0.8);
              }
              &:hover{
                border-bottom: solid rgba($brand_colors-red,1.0) 2px;
                color: rgba($brand_colors-black,1.0);
                & > span{
                  color: rgba($brand_colors-black,1.0);
                }
              }
           }
         }

       }
       &:nth-child(2){
         background: rgba($brand_colors-black,1.0);
         background-position: center center !important;
         background-repeat: no-repeat !important;
         background-size: cover !important;
         & > div{
           width: 100%;
           height: 50%;
           background: red;
           position: absolute;
           bottom: 0;
           background: linear-gradient(0deg, rgba($brand_colors-black,0.6) 0%, rgba($brand_colors-black,0) 100%);
         }
         & > p{
           position: absolute;
           left: $gutter;
           bottom: $gutter;
           color: rgba($brand_colors-white,1.0);
           & > span{
             @include font-3b-l;
             letter-spacing: 1px;
           }
         }
       }
     }
   }


   section.nu__filters{
     width: $content-width-wide;
     & > h2{
       @include font-6l-c;
     }
     & > ul{
      border-bottom: solid rgba($brand_colors-grayW,1.0) 2px;
      flex-wrap: wrap;
       & > li{
         flex-basis: auto;
         text-align: center;
         margin: 0 0 10px 0;
         & > a{
           padding: 0 0 11px 0;
           color: rgba($brand_colors-black,0.7);
           text-transform: uppercase;
           @include font-1r-l;
           &.active{
             @include font-1b-l;
             color: rgba($brand_colors-black,1.0);
             border-bottom: solid rgba($brand_colors-red,1.0) 4px;
           }
           &:hover{
             color: rgba($brand_colors-black,1.0);
             border-bottom: solid rgba($brand_colors-red,1.0) 4px;
           }
         }
       }
     }
   }


    $cols: 6;
    $ww: (($content-width-wide - (2vw * ($cols - 1))) / $cols);
    $www: ($content-width-narrow - 2vw - $ww);

   section.nu__team{

     & > article{
       clear: both;
       margin: 0 auto 0 auto;
       overflow: hidden;
       & > div{
         float: left;
         position: relative;
         &:nth-child(1){
           width: $www;
           margin-right: 2vw;
           & > p{
             &.nametitle{
               @include font-3b-l;
               margin-bottom: ($gutter / 2);
               & > span{
                 @include font-5b-l;
               }
             }
             &.description{
               @include font-2r-l;
             }
             &.contact{
               & > a{
                 line-height: 4rem;
                 border: none;
                 position: relative;
                 padding: 0 0 0 25px;
                 overflow: hidden;
                 & > span{
                   position: absolute;
                   left: 0;
                   top: 8px;
                   @include font-4-c;
                   line-height: 10px;
                   color: rgba($brand_colors-black,0.8);
                 }
                 &:hover{
                   color: rgba($brand_colors-black,1.0);
                   border-bottom: solid rgba($brand_colors-red,1.0) 2px;
                   & > span{
                     color: rgba($brand_colors-black,1.0);
                   }
                 }
               }
             }
           }
         }
         &:nth-child(2){
           width: $ww;
           & > div{
             width: 100%;
             height: $ww;
             background: rgba($brand_colors-black,1.0);
             background-position: center center !important;
             background-repeat: no-repeat !important;
             background-size: cover !important;
           }
           & > p{
             @include font-2r-l;
             margin: 10px 0 0 0;
             margin-bottom: ($gutter / 2);
             & > span{
               @include font-2b-l;
             }
           }
         }
       }
     }
   }


   section.nu__team-list{

     width: $content-width-wide;
     & > h3{
       @include font-5b-c;
       margin: 2vw auto 2vw auto;
     }
     & > ul{
       width: $content-width-wide;
       margin: 0 auto 0 auto;
       flex-direction: row;
       flex-wrap: wrap;
       & > li{
          width: $ww;
          flex-basis: $ww;
         margin: 0 2vw 2vw 0;
         flex-grow: 0;
         &:nth-child(6n+6){
           margin: 0 0 2vw 0;
         }
         & > div{
           height: $ww;
           width: $ww;
           background: rgba($brand_colors-black,1.0);
           background-position: center center !important;
           background-repeat: no-repeat !important;
           background-size: cover !important;
         }
         & > p{
           width: $ww;
           @include font-2r-l;
           margin: 10px 0 0 0;
           margin-bottom: ($gutter / 2);
           & > span{
             @include font-2b-l;
           }
         }
       }
     }
   }



}
