/*
 * departments
 */


 // Modules
 @import "modules/variables";
 @import "modules/mixins";
 @import "modules/fonts";



 div.main{

   section.hero{
     margin: 0 0 0 0;
   }

   section.nu__president{
     width: 65vw;
     margin: 0 auto 0 auto;
     clear: both;
     & > div{
       float: left;
       width: 45%;
       min-height: 400px;
       position: relative;
       &:nth-child(1){
         width: 55%;
         & > h3{
           @include font-6l-l;
           border-bottom: solid rgba($brand_colors-grayW,1.0) 1px;
           padding: 0 0 ($gutter / 2) 0;
           margin: $gutter $gutter ($gutter / 2) 0;
         }
         & > p{
           text-align: left;
           margin-right: $gutter;

           & > a{
              border: none;
              line-height: 4rem;
              & > span{
                color: rgba($brand_colors-black,0.8);
              }
              &:hover{
                border-bottom: solid rgba($brand_colors-red,1.0) 2px;
                color: rgba($brand_colors-black,1.0);
                & > span{
                  color: rgba($brand_colors-black,1.0);
                }
              }
           }
         }

       }
       &:nth-child(2){
         background: rgba($brand_colors-black,1.0);
         background-position: center center !important;
         background-repeat: no-repeat !important;
         background-size: cover !important;
         & > div{
           width: 100%;
           height: 50%;
           background: red;
           position: absolute;
           bottom: 0;
           background: linear-gradient(0deg, rgba($brand_colors-black,0.6) 0%, rgba($brand_colors-black,0) 100%);
         }
         & > p{
           position: absolute;
           left: $gutter;
           bottom: $gutter;
           // @include font-2r-l;
           color: rgba($brand_colors-white,1.0);
           & > span{
             @include font-3b-l;
             letter-spacing: 1px;
           }
         }
       }
     }
   }


   section.nu__filters{
     width: $content-width-wide;
     & > h2{
       @include font-6l-c;
     }
     & > ul{
      border-bottom: solid rgba($brand_colors-grayW,1.0) 2px;
       & > li{
         flex-basis: auto;
         text-align: center;
         margin: 0 0 9px 0;
         & > a{
           padding: 0 0 10px 0;
           &.active{
             @include font-2b-c;
             border-bottom: solid rgba($brand_colors-red,1.0) 4px;
             // padding: 0 0 10px 0;
           }
           &:hover{
             color: rgba($brand_colors-black,1.0);
             border-bottom: solid rgba($brand_colors-red,1.0) 4px;
           }
         }
       }
     }
   }


   section.nu__team{
     & > article{
       clear: both;
       margin: 0 auto $gutter auto;
       overflow: hidden;
       & p{
         margin-right: $gutter;
       }
       & > div{
         float: left;
         min-height: 250px;
         position: relative;
         &:nth-child(1){
           width: 70%;
         }
         &:nth-child(2){
           width: 30%;
           & > div{
             min-height: 250px;
             background: rgba($brand_colors-black,1.0);
             background-position: center center !important;
             background-repeat: no-repeat !important;
             background-size: cover !important;
           }
         }
       }
     }
   }

   section.nu__team-list{
     width: $content-width-wide;
     & > ul{
       width: $content-width-wide;
       margin: 0 auto 0 auto;
       flex-direction: row;
       flex-wrap: wrap;
       & > li{
         min-height: 250px;
         flex-basis: 14.5%;
         flex-grow: 0;
         &:nth-child(6n+6){
           margin: 0 0 $gutter 0;
         }
         & > div{
           height: 14.5vw;
           background: rgba($brand_colors-black,1.0);
           background-position: center center !important;
           background-repeat: no-repeat !important;
           background-size: cover !important;
         }
       }
     }
   }



}
