/*
 * static
 */


 // Modules
 @import "modules/variables";
 @import "modules/mixins";
 @import "modules/fonts";



 div#nu__static{

  section.leftright{
    width: $content-width;
    margin: ($gutter * 1.7) auto 0 auto;
    & a{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border-bottom: none;
      &:hover{
        color: rgba($brand_colors-black,1.0);
        & div.content > div{
          & > h3{
            &:after{
              visibility: visible;
            }
          }
        }
        & div.image > div{
          transform: scale(1.1);
          transition: all .5s;
        }
      }
    }
    & > a > div{
      min-height: 400px;
      &.content{
        width: 40%;
        text-align: left;
        display: flex;
        align-items: center;
        vertical-align: middle;
        & h3{
          @include font-6l-l;
          width: 92%;
          &:after{
            font-size: 3.4rem;
            line-height: 4.8rem;
            text-align: center;
            color: #c00;
            content: '\E8E4';
            vertical-align: -20%;
            visibility: hidden;
          }
        }
        & p{
          border-top: solid rgba($brand_colors-grayW,1.0) 1px;
          padding: ($gutter / 2) ($gutter * 2) 0 0;
          margin: ($gutter / 2) 0 0 0;
        }
      }
      &.image{
        width: 57%;
        max-width: 57%;
        overflow: hidden;
        position: relative;
        & > div{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: scale(1);
          transition: all .5s;
          background-position: center center !important;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          background-color: rgba($brand_colors-black,1.0);
        }
      }
    }
    &:nth-child(even){
      & > a > div{
        &:nth-child(1){
          order: 1;
          margin: 0 3% 0 0;
        }
        &:nth-child(2){
          order: 2;
        }
      }
    }
    &:nth-child(odd){
      & > a > div{
        &:nth-child(1){
          order: 1;
        }
        &:nth-child(2){
          order: 2;
          margin: 0 0 0 3%;
        }
      }
    }

  }

}







@media only screen and (max-width: 1280px) {
  $gutter: 15px;

  main#nu__static{

   section.leftright{
     margin: ($gutter * 1.7) auto 0 auto;
     & a{

       &:hover{

         & div.content > div{
           & > h3{

             &:after{

             }
           }
         }
         & div.image > div{

         }
       }
     }
     & > a > div{

       &.content{



         & h3{

            @include font-5r-l;
           &:after{

           }
         }
         & p{
           padding: ($gutter / 2) ($gutter * 2) 0 0;
           margin: ($gutter / 2) 0 0 0;
         }
       }
       &.image{



         & > div{

         }
       }
     }
     &:nth-child(even){
       & > a > div{
         &:nth-child(1){


         }
         &:nth-child(2){

         }
       }
     }
     &:nth-child(odd){
       & > a > div{
         &:nth-child(1){

         }
         &:nth-child(2){

         }
       }
     }

   }

  }


}






// @media only screen and (max-width: 1200px) {
//
//
//
// }



@media only screen and (max-width: 959px) {
  main#nu__static{

   section.leftright{

     & a{

       &:hover{

         & div.content > div{
           & > h3{

             &:after{

             }
           }
         }
         & div.image > div{

         }
       }
     }
     & > a > div{

       &.content{
         align-items: flex-start;
         min-height: auto;
         width:100%;


         & h3{
           width:100%;
            @include font-3l-l;
           &:after{

           }
         }
         & p{
           padding-right:0;
         }
       }
       &.image{

         width:100%;
         max-width:100%;

         & > div{

         }
       }
     }
     &:nth-child(even){
       & > a > div{
         &:nth-child(1){
           margin:($gutter / 2) 0 0 0;
           order: 2;

         }
         &:nth-child(2){
           order: 1;
         }
       }
     }
     &:nth-child(odd){
       & > a > div{
         &:nth-child(1){
           order: 1;
         }
         &:nth-child(2){
           order: 2;
           margin:($gutter / 2) 0 0 0;
         }
       }
     }

   }

  }


}

@media only screen and (max-width: 600px) {
  main#nu__static{

   section.leftright{

     & a{

       &:hover{

         & div.content > div{

           & > h3{

             &:after{

             }
           }
         }
         & div.image > div{

         }
       }
     }
     & > a > div{

       &.content{



         & h3{
           @include font-3l-l;
           &:after{

           }
         }
         & p{

         }
       }
       &.image{



         & > div{

         }
       }
     }
     &:nth-child(even){
       & > a > div{
         &:nth-child(1){


         }
         &:nth-child(2){

         }
       }
     }
     &:nth-child(odd){
       & > a > div{
         &:nth-child(1){

         }
         &:nth-child(2){

         }
       }
     }

   }

 }

}


@media only screen and (max-width: 620px) {
  main#nu__static{

   section.leftright{

     & a{

       &:hover{

         & div.content > div{
           & > h3{
             &:after{

             }
           }
         }
         & div.image > div{

         }
       }
     }
     & > a > div{

       &.content{



         & h3{

           &:after{

           }
         }
         & p{

         }
       }
       &.image{
         min-height:200px;


         & > div{

         }
       }
     }
     &:nth-child(even){
       & > a > div{
         &:nth-child(1){


         }
         &:nth-child(2){

         }
       }
     }
     &:nth-child(odd){
       & > a > div{
         &:nth-child(1){

         }
         &:nth-child(2){

         }
       }
     }

   }

 }

}
