/*
 * static
 */


 // Modules
 @import "modules/variables";
 @import "modules/mixins";
 @import "modules/fonts";
  @import "modules/tungsten";
 @import "partials/animations";


 div.main{

   // section.hero{
   //   margin: 0 0 0 0;
   // }
   //
   // section.heroimage{
   //   background: rgba($brand_colors-black,1.0);
   //   background-position: center center !important;
   //   background-repeat: no-repeat !important;
   //   background-size: cover !important;
   //   margin: 0 0 0 0;
   //   height: 450px;
   // }

   // div.nu__prefooter{
   //   padding: ($gutter * 2) 0 0 0;
   // }




   section.herov2{  // this is to override the h3 color on the experience page only!
     & > div.overlap{
       & > h3{
         color: rgba($brand_colors-red,1.0);
       }
     }
   }




   section.grid{
     width: 100%;
     overflow: hidden;
     margin: 0 auto 0 auto;
     & > ul{
       width: $content-width;
       margin: $gutter auto $gutter auto;
       list-style: none;
       list-style-type: none;
       display: flex;
       flex-wrap: nowrap;
       flex-direction: row;
       overflow: hidden;
       padding: 2vw 0 0 0;
       & > li{
         flex: 0 1 33%;
         overflow: hidden;
         -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
         -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
         box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
         background: rgba($brand_colors-white,1.0);
         // width: (($content-width - 2vw) / 3);
         margin: 0 2vw 2vw 1vw;
         &:nth-child(2n){
           margin: 0 2vw 2vw 0;
         }
         &:nth-child(3n){
           margin: 0 1vw 2vw 0;
         }
         & > a{
           display: block;

           width: 100%;
           &:hover,
           &:focus,
           &:active{
             & > div.bgimage{
               & > div{
                 transform: scale(1.2);
                 transition: all .5s;
               }
             }
             & > div.copy{

               & > p{
                 & > span{
                   border-bottom: solid rgba($brand_colors-red,1.0) 2px;
                 }
               }
             }
           }
           & > div{
             width: 100%;
             &.bgimage{
               overflow: hidden;
               min-height: 270px;
               height: 100%;
               & > div{
                 width: 100%;
                 height: 270px;
                 background-repeat: no-repeat;
                 background-position: center center;
                 background-size: cover;
                 transform: scale(1.0);
                 transition: all .5s;
               }
             }
             &.copy{
               position: relative;
               padding: 1vw 2vw 1vw 2vw;
               color: rgba($brand_colors-black,1.0);
               background: rgba(51, 51, 51, 1.0);
               & > h3{
                 font-family: "Tungsten Rounded";
                 text-transform: uppercase;
                 color: rgba($brand_colors-white,1.0);
                 text-align: center;
                 font-size: 3.5vw;
                 line-height: 100px;
                 letter-spacing: 7px;
                 // margin: -60px 0 ($gutter / 3) -2vw;
                 min-height: 100px;
                 width: 100%;
                 // padding: 18px 1vw 0 2vw;
                 // font-size: 2.7rem;
                 // line-height: 3.5rem;
                 font-weight: 400;
                   // width: 80%;
                   // background: rgba($brand_colors-white,1.0);
               }
               // & > p{
               //   text-align: left;
               //   margin: 0 0 1vw 0;
               // }
             }
           }
         }
       }
     }
   }









   section.globalnetwork{
     // background: rgba($brand_colors-grayWL,0.25);
     width: 100%;
     margin: 0 auto 0 auto;
     & > div{
       // background: red;
       width: 65vw;
       margin: $gutter auto $gutter auto;
       border-left: 5px solid;
       border-image: linear-gradient(to bottom, rgba(5, 109, 181, 1.0), rgba(194, 33, 52, 1.0)) 1 100%;
       // padding-left: getVar($sizing, gutter, px, small);
       border-right: 0;
       padding: 0 0 0 20px;
       h2{
         // width: $content-width;
         font-family: "Tungsten Rounded";
         font-weight: bold;
         font-size: 10rem;
         // letter-spacing: 16px;
         line-height: 7rem;
         // margin: $gutter auto ($gutter / 2) auto;
         font-weight: 700;
         text-align: left;
         & > span{
           // color: rgba($brand_colors-red,1.0);
         }
       }

       p{
         // width: $content-width-narrow;
         width: 75%;
         @include font-2l-c;
         // margin: 0 auto 0 auto;
         margin: 30px 0 0 0;
         text-align: left;
       }
     }
   }






   section.nu__filters{
     width: 100%;
     // background: rgba($brand_colors-grayWL,0.25);
     & > div{
       // width: $content-width;
       width: 65vw;
       margin: 0 auto 0 auto;
       & > ul{
         // display: inline-block;
         margin: 30px 0 0 25px;
         border: none;
         & > li{
           flex: 0 0 auto;
           margin: 0 20px 0 0;
           & > a{
              padding: 0 0 0 0;
              text-transform: none;
              font-weight: 700;
              border: none;
              background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #d4d5d4));
              background-image: -webkit-linear-gradient(left, transparent 50%, #d4d5d4 50%);
              background-image: linear-gradient(to right, transparent 50%, #d4d5d4 50%);
              background-origin: 0;
              background-size: 200% 50%;
              background-repeat: repeat-x;
              background-position: 0 100%;
            &.active{
              background-position: -100% 100%;
              border: none;
            }
             &:hover{
               border: none;
               background-position: -100% 100%;
               -webkit-transition: background-position 0.5s;
               transition: background-position 0.5s;
}
           }
         }
       }
     }
   }

  section.leftright{
    // background: rgba($brand_colors-grayWL,0.25);
    width: 100%;
    margin: 0 auto 0 auto;
    // min-height: 550px;
    & > div{
      width: 81vw;
      min-height: 650px;
      margin: 30px 0 140px auto;
      // display: flex;
      // flex-direction: row;
      // flex-wrap: wrap;
      border-top: solid rgba($brand_colors-black,1.0) 3px;
      border-bottom: solid rgba($brand_colors-black,1.0) 3px;
      border-left: solid rgba($brand_colors-black,1.0) 3px;
      padding: 30px 19vw 400px 5vw;
      & > div{
        // min-height: 450px;
        // display: none;
        &.content{
          width: 60%;
          text-align: left;
          // display: flex;
          // align-items: center;
          // vertical-align: middle;
          & h3{
            // @include font-8l-l;
            font-size: 4.5rem;
            line-height: 1;
            text-align: left;
            width: 92%;
            @include action-arrow;
            @include action-arrow-hidden;
            font-weight: 400;
            font-family: "Tungsten Rounded";
            text-transform: uppercase;
            letter-spacing: 4px;
          }
          & p{
            padding: 0 0 0 0;
            margin: ($gutter / 2) 0 $gutter 0;
          }
          // & p:nth-of-type(1){
          //   border-top: solid rgba($brand_colors-grayW,1.0) 1px;
          // }
          & a{
            border: none;
            line-height: 1rem;
            // &:before{
            //   content: '\e5c8';
            //   display: inline-block;
            //   margin: 2px 10px 0 0;
            //   vertical-align: middle;
            //   font-size: 1.8rem;
            //   color: rgba($brand_colors-red,1.0);
            // }
            text-transform: uppercase;
            color: rgba(0, 110, 181, 1.0);
            font-weight: 400;
            letter-spacing: 2px;
            &:hover,
            &:focus{
              // color: rgba($brand_colors-red,1.0);
              & > span{
                border-bottom: solid rgba(0, 110, 181, 1.0) 2px;
              }
            }
          }
        }
        &.image{
          -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
          -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
          box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
          width: 58vw;
          // max-width: 57%;
          // @include block-group;
          position: absolute;
          overflow: hidden;
          height: 500px;
          background-color: rgba($brand_colors-white,1.0);
          & > div{
            @include block-item-default;
            position: absolute;

            &.image1{
              // float: left;
              left: 0;
              height: 100%;
              width: 42%;
              border-right : solid black 10px;

            }
            &.image2,
            &.image3{
              // float: right;
              right: 0;
              height: 50%;
              width: 58%;
            }
            &.image3{
              top: 50%;
              border-top : solid black 10px;
            }
          }
        }
      }
      // &:nth-child(odd){
      //   & > div{
      //     &:nth-child(1){
      //       order: 1;
      //       margin: 0 3% 0 0;
      //     }
      //     &:nth-child(2){
      //       order: 2;
      //     }
      //   }
      // }
    }
  }

}







@media only screen and (max-width: 1280px) {
  $gutter: 15px;

  div.main{

    section.globalnetwork{
      h2{
        @include font-5l-c;
      }
    }

   section.leftright{
     // margin: ($gutter * 1.7) auto 0 auto;
     & > div{
       & > div{
         &.content{
           & h3{
             @include font-5l-l;
           }
           & p{
             padding: ($gutter / 2) ($gutter * 2) 0 0;
             margin: ($gutter / 2) 0 0 0;
           }
         }
       }
     }
   }
  }
}



@media only screen and (max-width: 959px) {
  div.main{

    section.heroimage{
      height: 300px;
    }

    section.globalnetwork{

      h2{
        width: $content-width-wide;
        @include font-3l-c;
      }
      p{
        width: $content-width-wide;
      }
    }

   section.leftright{
     // width: $content-width-960;
     & > div{
       width: $content-width-wide;
       & > div{
         &.content{
           align-items: flex-start;
           min-height: auto;
           width:100%;
           & h3{
             width:100%;
              @include font-3l-l;
           }
           & p{
             padding-right:0;
           }
         }
         &.image{
           width:100%;
           max-width:100%;
         }
       }
       &:nth-child(even){
         & > div{
           &:nth-child(1){
             margin:($gutter / 2) 0 0 0;
             order: 2;

           }
           &:nth-child(2){
             order: 1;
             margin: 0 0 ($gutter / 2) 0;
           }
         }
       }
     }
   }
  }
}

@media only screen and (max-width: 600px) {
  div.main{

    section.heroimage{
      height: 200px;
    }

    section.globalnetwork{
      padding: 0 0 $gutter 0;
    }

    section.nu__filters{
      // width: 100%;
      // background: rgba($brand_colors-grayWL,0.25);
      & > div{
        // width: $content-width;
        // margin: 0 auto 0 auto;
        & > ul{
          margin: 0 0 0 0;
        }
      }
    }

    section.leftright{
      // width: $content-width-960;
      & > div{
        & > div{
          // &.content{
          //   align-items: flex-start;
          //   min-height: auto;
          //   width:100%;
          //   & h3{
          //     width:100%;
          //      @include font-3l-l;
          //   }
          //   & p{
          //     padding-right:0;
          //   }
          // }
          &.image{
            margin: $gutter 0 0 0;
            width:100%;
            max-width:100%;
            min-height: 200px;
          }
        }
        // &:nth-child(even){
        //   & > div{
        //     &:nth-child(1){
        //       margin:($gutter / 2) 0 0 0;
        //       order: 2;
        //
        //     }
        //     &:nth-child(2){
        //       order: 1;
        //       margin: 0 0 ($gutter / 2) 0;
        //     }
        //   }
        // }
      }
    }
 }
}


@media only screen and (max-width: 620px) {
  div.main{
   section.leftright{
     & > div{
       &.image{
         min-height:200px;
       }
     }
   }
 }
}
