/*
 * homepage
 */


 // Modules
 @import "modules/variables";
 @import "modules/mixins";
 @import "modules/fonts";



html{
  // overflow:hidden;
  // -ms-overflow-style: -ms-autohiding-scrollbar;

}


$columns: 3;

body.home{
  // height: 100%;
  // min-height: 100%;
}




div.main{
  width: $wrapper-width;
  margin: 0 0 0 0;
  background: rgba($brand_colors-white,1.0);
  div#nu__seo-content{
    position: absolute;
    z-index: -1000;
  }

  hr{
    margin: 0 auto $gutter auto;
    width: $content-width-wide;
    height: 5px;
    background: rgba($brand_colors-black,1.0);
    border: none;
    line-height: 0px;
    &.events{
      &:before{
        width: 190px;
        @include font-2b-l;
        color: rgba($brand_colors-black,1.0);
        content:'TRENDING EVENTS';
        background: rgba($brand_colors-white,1.0);
        display: block;
        position: absolute;
        margin: -12px 0 0 0;
      }
    }
  }

  div#nu__stories{
    display: flex;
    flex-direction: row;
    flex-wrap:  nowrap;
    padding: $gutter 0 $gutter 0;
    margin: 0 auto 0 auto;
    width: $content-width-wide;

    & div.nu__block-rotator{
      width: 100%;
      height: 100%;
      clear: both;
      overflow: hidden;
      & > a {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-decoration:none;
        z-index: 200;
        border-bottom: none;
        color: rgba($brand_colors-black,0.0);
        &:hover,
        &:focus{
          & ~ div.nu__panel-content{
            & h2{
              text-decoration: none;
            }
          }
          & ~ div.bgimage{
            & > div{
              transform: scale(1.1);
              transition: all .5s;
            }
          }
        }
      }

      & div.nu__panel-content {
        float: right;
        width:34%;
        height:100%;
        display: block;
        background: rgba($brand_colors-black,1.0);
        & h2 {
          @include font-6l-l;
          padding-bottom: 0;
          position: absolute;
          line-height: 3.6rem;
          text-decoration: underline;
          bottom: $gutter;
          left: 0;
          z-index:100;
          text-transform: uppercase;
          text-align: right;
          display:block;
          width:100%;
          width: 34%;
          margin: 0 0 0 0;
          padding: 0 $gutter 0 $gutter;
        }
      }

      & > div.bgimage{
        float: right;
        width: 66%;
        max-width: 66%;
        height: 100%;
        overflow: hidden;
        display: block;
        & > div{
          width: 100%;
          height: 100%;
          transform: scale(1.0);
          transition: all .5s;
          background-position: center center !important;
          background-repeat: no-repeat !important;
          background-size: cover !important;
        }
      }

      div.nu__overlay-logo{
        width: auto;
        height:30px;
        position:absolute;
        top:$gutter;
        right:$gutter;
      }

      & > div.nu__slide-controls{
        position: absolute;
        right: 20px;
        bottom: 15px;
        width: auto;
        overflow: visible;
        z-index:201;
        & > div{
          clear: both;
          width: 120px;
          overflow: visible;
          margin: 0 0 10px 0;
          padding: 0 0 0 0;
          display: table;
          & > .slider_next,
          & > .slider_prev {
            display: none;
            float: left;
            margin: 0 0 0 10px;
            @include font-5r-l;
            line-height: 50px;
            width: 45px;
            height: 45px;
            text-align: center;
            background: rgba($brand_colors-black,1.0);
            color: rgba($brand_colors-white,1.0);
            box-shadow: 0 2px 4px rgba($brand_colors-black,.5);
            z-index:100;
            display:table-cell;
            vertical-align: middle;
            &:hover,
            &:focus{
              background: rgba($brand_colors-white,1.0);
              color: rgba($brand_colors-black,1.0);
              cursor: pointer;
            }
          }
        }
      }
    }


    & article{
      width: 100%;
      height: 100%;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      display: block;
      position: relative;
      overflow: hidden;

      & div.gradient {
        height:100%;
        width: 60%;
        position:absolute;
        bottom:0;
        background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        z-index: 1;
      }


      & > a {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-decoration:none;
        z-index: 200;
        border-bottom: none;
        color: rgba($brand_colors-black,0.0);
        background:rgba($brand_colors-black,0.0);
        &:hover,
        &:focus{
          & ~ div.nu__panel-content{
            & > div{
              & h2{
                text-decoration: none;
              }
            }
          }
          & ~ div.bgimage{
            transform: scale(1.1);
            transition: all .5s;
          }
        }
      }
      & > div.bgimage{
        transform: scale(1.0);
        transition: all .5s;
          width: 100%;
          height: 100%;
          position: absolute;
          overflow: hidden;
          background-position: center center !important;
          background-repeat: no-repeat !important;
          background-size: cover !important;
        }

      & div.nu__panel-content {
        width:100%;
        height:100%;
        background: rgba($brand_colors-black,0.0);
         -webkit-transition: background-color 0.20s ease-out;
        -moz-transition: background-color 0.20s ease-out;
        -o-transition: background-color 0.20s ease-out;
        transition: background-color 0.20s ease-out;
        position: absolute;
        & > div{
          width: 100%;
          position: absolute;
          margin: 0 auto 0 auto;
          bottom: 1.2vw;
          z-index: 100;
          & h2 {
            @include font-3r-l;
            padding-bottom: 0;
            position: absolute;
            line-height: 2.5rem;
            text-decoration: underline;
            bottom: 0;
            left: $gutter;
            z-index:100;
            text-transform: uppercase;
            text-align: right;
            width:40%;
            word-wrap: normal;
            margin: 0 auto 0 auto;
            padding: 0 0 0 0;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }


    & > div{
      height: 500px;
      margin: 0 $gutter 0 0;
      position: relative;




      &:nth-child(1){
        width: 70%;
        order: 1;
      }

      &:nth-child(2){
        order: 2;
        margin: 0 0 0 0;
        width: 30%;
        display: flex;
        flex-direction: column;
        flex-wrap:  nowrap;
        & > article{
          flex-grow: 1;
          background: rgba($brand_colors-white,1.0);
          width: 100%;
          height: 235px;
          margin: 0 0 $gutter 0;
          clear: both;
          & > div.searcharea{
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 100%;
            & > h3{
              @include font-2b-l;
              color: rgba($brand_colors-black,1.0);
              margin: $gutter $gutter 20px $gutter;
              & > span{
                @include font-2l-l;
                font-style: italic;
              }
            }
            & > form{
              clear: both;
              display: block;
              margin: 0 $gutter $gutter $gutter;
              & > input{
                width: 100%;
                margin: 0 0 0 0;
                border: none;
                border-bottom: solid rgba($brand_colors-white,1.0) 1px;
                color: rgba($brand_colors-grayW,1.0);
                @include font-2r-l;
                line-height: 3.0rem;
                // letter-spacing: 1px;
                background: rgba($brand_colors-white,1.0);
                padding: 10px $gutter 10px $gutter;
              }
              & > input[type=submit]{
                float :right;
                width: auto;
                border: none;
                background: rgba($brand_colors-red,1.0);
                @include font-2r-l;
                margin: 10px 0 0 0;
                text-transform: uppercase;
                padding: 5px $gutter 5px $gutter;
                color: rgba($brand_colors-white,1.0);
                letter-spacing: 0px;
                &:hover,
                &:focus{
                  background: rgba($brand_colors-black,1.0);
                  cursor: pointer;
                }
              }
            }
          }
          & > div.nlogo{
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: auto;
            z-index: 0;

            & > svg{
              height: 101%;
              fill: rgba($brand_colors-grayW,0.1);
            }
          }
          &:last-child{
            margin: 0 0 0 0;
            background: rgba($brand_colors-black,0.0);
          }
          &:first-child{
            background: rgba($brand_colors-grayW,0.1);
            border: solid rgba($brand_colors-grayW,0.3) 1px;
          }
        }

      }

    }
  }

  div#nu__categories{
    display: flex;
    flex-direction: row;
    flex-wrap:  nowrap;
    margin: 0 auto ($gutter * 2) auto;
    width: $content-width-wide;
    & > div{
      flex-grow: 1;
      flex-basis: 25%;
      // min-height: 400px;

      margin: 0 ($gutter / 2) 0 0;
      padding: 0 ($gutter / 2) 0 0;
      border-right: solid rgba($brand_colors-grayW,0.6) 1px;
      & > div{
        // background: green;
        width: 100%;
        height: 100%;
        & > a{
          overflow: hidden;
          display: block;
          height: 250px;
          position: relative;
          border-bottom: none;
          & > div.bgimage{
            background: rgba($brand_colors-black,1.0);
            background-position: center center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            width: 100%;
            // height: 250px;
            height: 100%;
            position: relative;
            transform: scale(1.0);
            transition: all .5s;
          }
          & > h2{
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba($brand_colors-white,1.0);
            color: rgba($brand_colors-black,1.0);
            border-top: solid rgba($brand_colors-red,1.0) 2px;
            padding: 10px 12px 0 0;
            @include font-3b-l;
            line-height: 1.6rem;
            text-transform: uppercase;
          }
          &:hover,
          &:focus{
            & > div.bgimage{
              transform: scale(1.1);
              transition: all .5s;
            }
          }
        }
        & > ul{
          list-style: none;
          list-style-type: none;
          & > li{
            border-bottom: solid rgba($brand_colors-grayW,0.6) 1px;
            padding: 20px 0 20px 0;
            & > a{
              @include font-2b-l;
              color: rgba($brand_colors-black,1.0);
              border-bottom: solid rgba($brand_colors-white,1.0) 1px;

              &:hover,
              &:focus{
                border-bottom: solid rgba($brand_colors-red,1.0) 1px;
              }
            }
          }

        }
      }
      &:last-child{
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        border: none;

      }
    }
  }



  div#nu__events{
    min-height: 500px;
    margin: 0 auto ($gutter * 2) auto;
    width: $content-width-wide;
    clear: both;
    overflow: hidden;
    & > div.eventgrid{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      & > div.eventgrid-item{
        flex-grow: 1;
        flex-basis: 23%;
        margin: 0 $gutter $gutter 0;
        position: relative;
        & > div.chevron{
          position: absolute;
          right: 20px;
          bottom: 20px;
          width: 20px;
          height: 20px;
          color: rgba($brand_colors-black,1.0);
        }
        & > a{
          display: block;
          width: 100%;
          height: 100%;
          padding: ($gutter / 2) $gutter ($gutter / 2) $gutter;
          border: solid rgba($brand_colors-grayW,0.6) 1px;
          overflow: hidden;
          &:hover,
          &:focus{
            color: rgba($brand_colors-black,1.0);
            & > h3{
              color: rgba($brand_colors-red,1.0);
            }
          }
          & > h3{
            text-align: left;
          }
          & > h5{
            @include font-2b-l;
          }
          & > p{
            // word-wrap: normal;
            word-break: break-all;
            // word-wrap: break-word;
            @include font-2r-l;
          }
        }
        &:nth-child(4n){
          margin: 0 0 $gutter 0;
        }
        &:before{
          background: rgba($brand_colors-red,1.0);
          display: block;
          height: 100%;
          width: 3px;
          position: absolute;
          content: '';
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s, visibility 0.3s;
        }
        &:hover,
        &:focus{
          &:before{
            visibility: visible;
            opacity: 1;
            transition: opacity 0.3s, visibility 0.3s;
          }
          & > div.chevron{
            color: rgba($brand_colors-red,1.0);
          }
        }
      }

    }
    & > div.eventgrid-viewall{
      width: auto;
      float: right;
      & > a{
        @include font-2l-l;
        border: none;
        &:hover,
        &:focus{
          color: rgba($brand_colors-black,1.0);
          border-bottom: solid rgba($brand_colors-red,1.0) 1px;
        }
      }
    }

  }

}























@media screen and (min-width: 1800px) {


}









@media screen and (max-width: 1300px) {


}





@media screen and (max-width: 1280px) {

  div.main{

    div#nu__stories{

      & div.nu__block-rotator{

        & div.nu__panel-content {
          & h2 {
            @include font-5l-l;
            text-align: right;
          }
        }

        & > div.nu__slide-controls{
          & > div{
            & > .slider_next,
            & > .slider_prev {
              @include font-3r-l;
              line-height: 50px;
              text-align: center;
            }
          }
        }
      }


      & article{




        & div.nu__panel-content {
          & > div{
            & h2 {
              @include font-2r-l;
              line-height: 2.0rem;
              text-align: right;
            }
          }
        }
      }



    }

    div#nu__categories{
      flex-wrap: wrap;
      margin: 0 auto $gutter auto;
      width: $content-width-wide;
      & > div{
        flex-grow: 1;
        flex-basis: 40%;
        margin: 0 ($gutter / 2) $gutter 0;
        & > div{
          & > a{
            & > h2{
              padding: 10px 12px 0 0;
              @include font-2b-l;
              line-height: 1.6rem;
            }
          }
        }
        &:nth-child(2){
          margin: 0 0 $gutter 0;
          padding: 0 0 0 0;
          border: none;
        }
        &:last-child{
          margin: 0 0 $gutter 0;
          padding: 0 0 0 0;
          border: none;

        }
      }
    }

    div#nu__events{
      & > div.eventgrid{
        & > div.eventgrid-item{
          flex-basis: 40%;
          &:nth-child(2n){
            margin: 0 0 $gutter 0;
          }
        }
      }
    }
  }
}





















@media screen and (max-width: 1120px) {


  div.main{




    div#nu__stories{
      margin: 0 auto 0 auto;
      width: $content-width-wide;

      display: block;

      & div.nu__block-rotator{
        width: 100%;
        height: 100%;
          width: 100%;
          height: 100%;

        & div.nu__panel-content {
          & h2 {
            @include font-5l-l;
            text-align: right;
          }
        }

        & > div.nu__slide-controls{
          & > div{
            & > .slider_next,
            & > .slider_prev {
              @include font-3r-l;
              line-height: 50px;
              text-align: center;
            }
          }
        }
      }


      & article{

        & div.nu__panel-content {
          & > div{
            & h2 {
              @include font-5r-l;
              bottom: 20px;
              text-align: right;
              width:30%;
              padding: 0 $gutter 0 0;
            }
          }
        }
      }


      & > div{
        &:nth-child(1){
          width: 100%;
          order: 1;
        }
        &:nth-child(2){
          width: 100%;
          height: 300px;
      margin: $gutter 0 0 0;
          & > article{
            &:first-child{
              display: none;
            }
          }
        }
      }
    }




  }

}


@media screen and (max-width: 1000px) {




}


@media screen and (max-width: 899px) {



}



@media screen and (max-width: 800px) {









}








@media screen and (max-width: 680px) {

  div.main{

    div#nu__stories{
      margin: 0 auto 0 auto;
      width: $content-width-wide;

      display: block;


      & div.nu__block-rotator{
        display: block;
        position: relative;
          width: 100%;
          height: auto;

        & div.nu__panel-content {
          float: none;
          width: 100%;
          background: rgba($brand_colors-black,0.0);
          & h2 {
            background: rgba($brand_colors-black,1.0);
            width: 100%;
            height: auto;
            position: relative;
            @include font-3l-l;
            padding: ($gutter / 2) $gutter ($gutter / 2) $gutter;
            text-align: left;
          }
        }

        & > div.bgimage{
          float: none;
          position: relative;
          width: 100%;
          max-width: 100%;
          height: 300px;
          overflow: visible;
        }

        & > div.nu__slide-controls{
          height: 55px;
          top: ($gutter * 3);
          & > div{
            & > .slider_next,
            & > .slider_prev {
              @include font-3r-l;
              line-height: 50px;
              text-align: center;
            }
          }
        }
      }


      & article{
        display: block;
        position: relative;
        height: auto;
        & div.nu__panel-content {
          & > div{
            & h2 {
              @include font-3r-l;
              text-align: left;
            }
          }
        }
      }
      & > div{
        &:nth-child(1){
          width: 100%;
          order: 1;
          height: auto;
          margin: 0 auto $gutter auto;
        }
        &:nth-child(2){
          width: 100%;
          height: auto;
          margin: $gutter 0 0 0;
          display: block;
          & > article{
            &:first-child{
              display: none;
            }
          }
        }
      }
    }


    div#nu__categories{
      display: block;
      margin: 0 auto $gutter auto;
      width: $content-width-wide;
      & > div{
        width: 100%;
        margin: 0 0 $gutter 0;
        padding: 0 0 0 0;
        border: none;
        & > div{
        }
        &:nth-child(2){
          margin: 0 0 $gutter 0;
          padding: 0 0 0 0;
          border: none;
        }
        &:last-child{
          margin: 0 0 $gutter 0;
          padding: 0 0 0 0;
          border: none;
        }
      }
    }
  }
}





@media screen and (max-width: 600px){
  div.main{
    div#nu__events{
      & > div.eventgrid{
        display: block;
        & > div.eventgrid-item{
          width: 100%;
          &:nth-child(2n){
            margin: 0 0 $gutter 0;
          }
        }
      }
    }
  }
}
