/*
 * homepage
 */


 // Modules
 @import "modules/variables";
 @import "modules/mixins";
 @import "modules/fonts";






$columns: 3;

main#homepage{

  // margin: ($header-height + 30) 0 0 0;
  width: $wrapper-width;
  margin: 0 0 0 0;

  background: rgba(0,0,0, 1.0);


  section#topstories,
  section#colleges,
  section#campuses{
    width: 100vw;
    clear: both;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    margin-bottom: ($gutter * 4);
    & > div.nu__section-header{

      $hValue: 50px;

      width: $content-width;
      height: $hValue;
      margin: 0 auto 0 auto;
      display: flex;
      flex-direction: row;
      & > div{
        flex: 1;
        margin: ($hValue / 2) 0 0 0;
        height: 1px;
        background: rgba(255,255,255,1.0);
      }
      & > h3{
        text-align: center;
        text-transform: uppercase;
        padding: 0 ($gutter * 3) 0 ($gutter * 3);
        line-height: $hValue;
      }
    }

    & > ul{
      background: rgba(0,0,0,1.0);
      list-style: none;
      list-style-type: none;
      overflow: hidden;
      & > li{
        background: rgba(0,0,0,1.0);
        float: left;
        text-align: center;
      }
    }
  }


  section#topstories{

    $columns: 3;

    $content-width: 100vw;

    $height: 20vw;
    // $height: 350px;

    background: none;
    & > ul{
      // padding: ($gutter * 2) 0 ($gutter * 2) 0;
      background: rgba(0,0,0,0.5);
      & > li{
        width: (($content-width) / $columns);
        height: $height;
        line-height: $height;
        padding: 0 0 0 0;


        &:nth-child(1){
          background: red;
        }

        &:nth-child(2){
          background: green;
        }

        &:nth-child(3){
          background: blue;
        }

        &:nth-child(4){
          background: yellow;
        }

        &:nth-child(5){
          background: purple;
        }

        &:nth-child(6){
          background: orange;
        }


        &:nth-child(1),
        &:nth-child(5){
          width: 40vw;
        }

        &:nth-child(2),
        &:nth-child(4){
          width: 33vw;
        }

        &:nth-child(3),
        &:nth-child(6){
          width: 27vw;
        }


      }
    }
  }

  section#colleges{

    $columns: 3;

    $content-width: 100vw;

    background: none;
    & > ul{
      padding: ($gutter * 2) 0 ($gutter * 2) 0;
      background: rgba(0,0,0,0.5);
      & > li{
        width: (($content-width - ($gutter * ($columns - 1))) / $columns);
        margin: 0 $gutter $gutter 0;
        height: 300px;
        line-height: 300px;
        padding: 0 0 0 0;
        background: green;
        &:nth-child(3n){
          margin: 0 0 $gutter 0;
        }
      }
    }
  }


  section#campuses{

    $columns: 5;

    $content-width: 100vw;
    margin: 0 0 0 0;

    background: none;
    & > ul{
      padding: ($gutter * 2) 0 ($gutter * 2) 0;
      background: rgba(0,0,0,0.5);
      & > li{
        width: (($content-width) / $columns);
        margin: 0 0 $gutter 0;
        height: 400px;
        line-height: 400px;
        padding: 0 0 0 0;
        background: green;


        &:nth-child(1){
          background: red;
        }

        &:nth-child(2){
          background: green;
        }

        &:nth-child(3){
          background: blue;
        }

        &:nth-child(4){
          background: yellow;
        }

        &:nth-child(5){
          background: purple;
        }


      }
    }
  }




}
