/*
 * homepage
 */


 // Modules
 @import "modules/variables";
 @import "modules/mixins";
 @import "modules/fonts";






$columns: 3;

body.home{
  height: 100%;
  min-height: 100%;
}

main#nu__homepage{

  width: $wrapper-width;
  margin: 0 0 0 0;
  background: rgba($brand_colors-black,1.0);

  $h: 100%;

  min-height: calc(#{$h} - #{$header-height} - #{$footer-height-collapsed});
  height: calc(#{$h} - #{$header-height} - #{$footer-height-collapsed});
  min-height: -moz-calc(#{$h} - #{$header-height} - #{$footer-height-collapsed});
  height: -moz-calc(#{$h} - #{$header-height} - #{$footer-height-collapsed});
  min-height: -webkit-calc(#{$h} - #{$header-height} - #{$footer-height-collapsed});
  height: -webkit-calc(#{$h} - #{$header-height} - #{$footer-height-collapsed});


  div#nu__seo-content{
    position: absolute;
    z-index: -1000;
  }


  div#nu__stories{
    height: 100%;
  	width: 300%;
    overflow-x: scroll;
  	overflow:auto;

    // these are the slide next and previous arrows
    & > #prev,
    & > #next {
    		position: absolute;
        display:none;
    		top: 50%;
    		width: 50px;
        height: 50px;
    		padding-bottom: 3%;
    		border-radius: 50%;
    		background: rgba($brand_colors-white,0.6);
    		transform: translateY(-50%);
    		z-index:100;
        color: rgba($brand_colors-black,1.0);
        font-size: 4rem;
        text-align: center;
        line-height: 58px;
    		&:hover {
    			background: rgba($brand_colors-black,1.0);
          color: rgba($brand_colors-white,0.6);
          cursor:pointer;
    		}
    }

    & > #prev {
        left: 20px;
    }

    & > #next {
        right: 20px;
    }


    & > section {
  		height:100%;
  		float: left;
      display: block;
  		width:33.33%;
  		& > article {
  			position:relative;
  			min-height: 200px;
        display: block;
        background: rgba($brand_colors-black,1.0);
  			background-position: center center !important;
  			background-repeat: no-repeat !important;
  			background-size: cover !important;

        div.nu__overlay-logo{
          width:50px;
          height:50px;
          position:absolute;
          top:$gutter;
          right:$gutter;
        }

        &:hover {
          cursor: pointer;
          & > a{
            background: rgba($brand_colors-black,0.6);
            opacity:1.0;
            border-bottom: none;
          }
        }


        & > a {
  				background: rgba($brand_colors-black,0.0);
  				width: 100%;
  				height: 100%;
  				position: absolute;
  				top: 0;
  				left: 0;
  				opacity: 0.0;
  				text-decoration:none;
  				& p {
            @include font-6l-c;
            color: rgba($brand_colors-white,1.0);
  					max-width:90%;
  					width:100%;
  					position: absolute;
  			  	bottom: ($gutter * 3);
  			    left: 50%;
  			    transform: translateX(-50%) translateY(0);
            &:after{
              @include font-7-c;
              color: rgba($brand_colors-red,1.0);
              content: '\E8E4';
              vertical-align: -20%;
            }
  				}

  	    }
  			& h2 {
          color: rgba($brand_colors-white,1.0);
  				text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  				max-width:90%;
  			}

        &:not(.nu__block-rotator){
          & h2 {
            @include font-5r-c;
            padding-bottom: 0;
    				position: absolute;
    				bottom: $gutter;
    				z-index:100;
    				left: 50%;
    				transform: translateX(-50%) translateY(0);
    				&:after {
    					position: absolute;
    			    display: inline-block;
    			    border-bottom: 2px solid rgba($brand_colors-red,1.0);
    			    bottom: -8px;
    			    content: "";
    			    left: 0;
    			    width: 100%;
    				}
    			}
        }


  			&.nu__block-rotator{
          background: rgba($brand_colors-black,1.0);

  				& > a {
  					opacity:1;
  					background-position: center center !important;
  					background-repeat: no-repeat !important;
  					background-size: cover !important;
            border-bottom: none;
  					&:hover {
  						background:transparent ;
  					}
  				}
          & > div.nu__slide-controls{
            position: absolute;
            left: $gutter;
            bottom: ($gutter / 2);
            width: 90%;
            overflow: visible;
            & > div{
              clear: both;
              width: 80px;
              overflow: hidden;
              margin: 0 0 10px 0;
              & > .slider_next,
              & > .slider_prev {
                display: none;
                float: left;
                margin: 0 10px 0 0;
                @include font-5r-l;
                line-height: 34px;
      				  width: 28px;
                height: 28px;
                text-align: center;
      				  border-radius: 50%;
      				  background: rgba($brand_colors-white,1.0);
                color: rgba($brand_colors-black,1.0);
      					z-index:100;
      					&:hover {
      						background: rgba($brand_colors-black,1.0);
                  color: rgba($brand_colors-white,1.0);
                  cursor: pointer;
      					}
      				}
      				& > .slider_next {
      					left: ($gutter * 2) + 5px;
      				}
      				& > .slider_prev {
      					left:$gutter;
      				}
            }
            & > h2 {
              @include font-5r-l;
              &:after{
                @include font-7-c;
                color: rgba($brand_colors-red,1.0);
                content: '\E8E4';
                vertical-align: -20%;
              }
  					}
          }
  			}

  		}



  	}


    & > section.panel-1{
      & > article {
        &:nth-child(1){
          float:left;
          width:70%;
          height:65%;
          order:1;
        }
        &:nth-child(2){
          float:right;
          width:30%;
          height:35%;
          order:2;
        }
        &:nth-child(3){
          float:right;
          width:30%;
          height:65%;
          order:3;
        }
        &:nth-child(4){
          float:left;
          width:45%;
          height:35%;
          order:4;
          overflow:hidden;
        }
        &:nth-child(5){
          float:right;
          width:25%;
          height:35%;
          order:5;

        }
      }
    }
    & > section.panel-2{
      & > article {
        &:nth-child(1){
          float:left;
          width:30%;
          height:100%;
          order:1;
        }
        &:nth-child(2){
          float:right;
          width:70%;
          height:65%;
          order:2;
        }
        &:nth-child(3){
          float:left;
          width:25%;
          height:35%;
          order:3;
        }
        &:nth-child(4){
          float:right;
          width:45%;
          height:35%;
          order:4;
        }
      }
    }

    & > section.panel-3{
      & > article {
        &:nth-child(1){
          float:left;
          width:70%;
          height:65%;
          order:1;
        }
        &:nth-child(2){
          float:right;
          width:30%;
          height:100%;
          order:2;
        }
        &:nth-child(3){
          float:left;
          width:45%;
          height:35%;
          order:3;
        }
        &:nth-child(4){
          float:left;
          width:25%;
          height:35%;
          order:4;
        }
      }
    }


  }

}
