/*
 * static
 */


 // Modules
 @import "modules/variables";
 @import "modules/mixins";
 @import "modules/fonts";
 @import "partials/animations";


 div.main{

   section.brandstatement,
   section.closingstatement{
     width: 100%;
     margin: 0 auto 0 auto;
     text-align:center;
     h2{
       width: $content-width;
       @include font-6l-c;
       margin: 0 auto ($gutter / 2) auto;
       font-weight: 500;
       & > span{
         color: rgba($brand_colors-red,1.0);
       }
     }

     p{
       width: $content-width-narrow;
       @include font-3l-c;
       margin: 0 auto 0 auto;
     }

     // a.button{
     //   border: solid rgba($brand_colors-white,1.0) 1px;
     //   display: block;
     //   padding: 5px 15px 5px 15px;
     //   width: 200px;
     //   margin: $gutter auto 0 auto;
     //   text-transform: uppercase;
     //   background: rgba($brand_colors-red,1.0);
     //   color: rgba($brand_colors-white,1.0);
     //   height: auto;
     //   &:hover,
     //   &:focus,
     //   &:active{
     //     color: rgba($brand_colors-black,1.0);
     //     background: rgba($brand_colors-white,1.0);
     //     border: solid rgba($brand_colors-black,1.0) 1px;
     //   }
     // }
   }

   section.grid{
     width: 100%;
     overflow: hidden;
     background: rgba($brand_colors-grayW,0.2);
     margin: ($gutter * 2) auto 0 auto;
     & > ul{
       width: $content-width;
        margin: ($gutter * 2) auto $gutter auto;
       list-style: none;
       list-style-type: none;
       display: block;
       overflow: hidden;
       & > li{
         float: left;
         background: rgba($brand_colors-white,1.0);
         width: (($content-width - 2vw) / 2);
         margin: 0 2vw 2vw 0;
         &:nth-child(2n){
           margin: 0 0 2vw 0;
         }
         & > div{
           float: left;
           width: 50%;
           min-height: 450px;
           &.bgimage{
             min-height: 450px;
             background-repeat: no-repeat;
             background-position: center center;
             background-size: cover;
           }
           &.copy{
             position: relative;
             padding: 1vw 2vw 1vw 2vw;
             color: rgba($brand_colors-black,1.0);
             & > h3{
               text-align: left;
               margin: 0 0 1vw 0;
               @include font-3b-l;
             }
             & > p{
               text-align: left;
               margin: 0 0 1vw 0;
             }
             & > a{
               position: absolute;
               bottom: 1vw;
               margin: 0 2vw 0 0;
               color: rgba($brand_colors-black,1.0);

               &:hover,
               &:focus,
               &:active{

                 & > span{
                   border-bottom: solid rgba($brand_colors-red,1.0) 2px;
                 }
               }
               & > span{
                 display: inline-block;
                 line-height: 2.0rem;
                 padding: 0 0 0 0;
                 border-bottom: solid rgba($brand_colors-red,0.0) 2px;
               }
               &:before{
                 content: '\e5c8';
                 display: inline-block;
                 margin: 2px 10px 0 0;
                 vertical-align: middle;
               }
             }
           }
         }
       }
     }
   }

   section.closingstatement{
     margin: 0 auto 0 auto;
     background: rgba($brand_colors-black,1.0);
     border-top: solid rgba($brand_colors-red,1.0) 3px;
     h2{
       font-weight: 300;
       margin: ($gutter * 2) auto ($gutter / 2) auto;
       color: rgba($brand_colors-white,0.8);
       & > span{
         color: rgba($brand_colors-white,1.0);
         font-weight: 500;
       }
     }

     p{
       color: rgba($brand_colors-white,0.8);
       & > span{
         font-style: italic;
       }
     }
   }

   section.contactform{
     width: 100%;
     min-height: 300px;
     background: rgba($brand_colors-black, 0.8);
   }





   @media only screen and (max-width: 1280px) {

     section.brandstatement,
     section.closingstatement{
       h2{
         @include font-5l-c;
       }

       p{
         @include font-2l-c;
       }

     }



     section.grid{
       & > ul{
         overflow: hidden;
         & > li{
           float: none;
           overflow: hidden;
           width: 100%;
           margin: 0 0 2vw 0;
           &:nth-child(2n){
             margin: 0 0 2vw 0;
           }
           & > div{
             &.copy{
               & > h3{
                 @include font-2b-l;
               }
             }
           }
         }
       }
     }



   }




   @media only screen and (max-width: 959px) {

       section.brandstatement,
       section.closingstatement{
         h2{
           width: $content-width-wide;
           @include font-3l-c;
         }

         p{
           width: $content-width;
         }
       }

   }





   @media only screen and (max-width: 959px) {

     section.grid{
       & > ul{
         width: $content-width-wide;
       }
     }

   }





   @media only screen and (max-width: 720px) {

     section.grid{
       & > ul{
         & > li{
           margin: 0 0 5vw 0;
           &:nth-child(2n){
             margin: 0 0 5vw 0;
           }
           & > div{
             float: none;
             width: 100%;
             min-height: 300px;
             &.bgimage{
               min-height: 300px;
             }
             &.copy{
               min-height: 50px;
               height: auto;
               & > p{
                 margin: 0 0 5vw 0;
                 display: block;
               }
               & > a{
                 position: relative;
               }
             }
           }
         }
       }
     }

   }





   @media only screen and (max-width: 600px) {

     section.brandstatement,
     section.closingstatement{

       p{
         width: $content-width-wide;
       }

     }

   }



}
