/*
 * static
 */


 // Modules
 @import "modules/variables";
 @import "modules/mixins";
 @import "modules/fonts";
 @import "modules/tungsten";
 @import "partials/animations";



 div.main{

   section.grid{
     width: 100%;
     overflow: hidden;
     margin: 0 auto 0 auto;
     & > ul{
       width: $content-width;
       margin: $gutter auto $gutter auto;
       list-style: none;
       list-style-type: none;
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       overflow: hidden;
       padding: 2vw 0 0 0;
       & > li{
         flex: 1 1 40%;
         -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
         -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
         box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
         background: rgba($brand_colors-white,1.0);
         width: (($content-width - 2vw) / 2);
         margin: 0 2vw 2vw 1vw;
         &:nth-child(2n){
           margin: 0 1vw 2vw 0;
         }
         & > a{
           display: block;

           width: 100%;
           &:hover,
           &:focus,
           &:active{
             & > div.bgimage{
               & > div{
                 transform: scale(1.2);
                 transition: all .5s;
               }
             }
             & > div.copy{

               & > p{
                 & > span{
                   border-bottom: solid rgba($brand_colors-red,1.0) 2px;
                 }
               }
             }
           }
           & > div{
             width: 100%;
             &.bgimage{
               overflow: hidden;
               min-height: 300px;
               height: 100%;
               & > div{
                 width: 100%;
                 height: 300px;
                 background-repeat: no-repeat;
                 background-position: center center;
                 background-size: cover;
                 transform: scale(1.0);
                 transition: all .5s;
               }
             }
             &.copy{
               position: relative;
               padding: 1vw 2vw 1vw 2vw;
               color: rgba($brand_colors-black,1.0);
               & > h3{
                 text-align: left;
                 margin: -60px 0 ($gutter / 3) -2vw;
                 min-height: 50px;
                 padding: 18px 1vw 0 2vw;
                 font-size: 2.7rem;
                 line-height: 3.5rem;
                 font-weight: 700;
                   width: 80%;
                   background: rgba($brand_colors-white,1.0);
               }
               & > p{
                 text-align: left;
                 margin: 0 0 1vw 0;
               }
             }
           }
         }
       }
     }
   }


   section.viewall{
     width: $content-width;
     margin: 0 auto ($gutter * 2) auto;
     display: flex;
     justify-content: center;
     & > a.button{
       flex: 0 0 auto;
       padding: 7px 90px 7px 90px;
       border: solid $brand_colors-red 2px;
       text-transform: uppercase;
       color: $brand_colors-red;
       font-weight: 400;
       &:hover{
         background: $brand_colors-red;
         color: $brand_colors-white;
       }
     }
   }





   @media only screen and (max-width: 1280px) {



     section.grid{
       & > ul{
         width: $content-width-wide;
         & > li{
           & > a{
             & > div{
               &.copy{
                 & > h3{
                   @include font-3b-l;
                 }
               }
             }
           }
         }
       }
     }



   }




   @media only screen and (max-width: 959px) {

       section.grid{
         & > ul{
           & > li{
             flex: 1 1 auto;
             width: 100%;
             margin: 0 2vw 4vw 2vw;
             &:nth-child(2n){
               margin: 0 2vw 4vw 2vw;
             }
             & > a{
               & > div{
                 &.copy{
                   & > h3{
                     min-height: 60px;
                     @include font-2b-l;
                   }
                 }
               }
             }
           }
         }
       }

   }





   @media only screen and (max-width: 720px) {

     section.grid{
       & > ul{
         & > li{
           margin: 0 2vw 8vw 2vw;
           &:nth-child(2n){
             margin: 0 2vw 8vw 2vw;
           }
             & > a{
             & > div{
               &.copy{
                 padding: 1vw 4vw 2vw 4vw;
                 & > h3{
                   margin: -60px 0 0 -4vw;
                   padding: 20px 1vw 0 4vw;
                 }
               }
             }
           }
         }
       }
     }

   }





   @media only screen and (max-width: 600px) {

     section.grid{
       & > ul{
         & > li{
           & > a{
             & > div{
               &.bgimage{
                 min-height: 225px;
                 & > div{
                   height: 225px;
                 }
               }
             }
           }
         }
       }
     }

     section.viewall{
       & > a.button{
         padding: 7px 30px 7px 30px;
       }
     }

   }



}
