/*
 * static
 */


 // Modules
 @import "modules/variables";
 @import "modules/mixins";
 @import "modules/fonts";



 main#nu__static{

  width: $wrapper-width;
  margin: 0 0 0 0;
  background: rgba($brand_colors-white,1.0);

  color: rgba($brand_colors-black,1.0);


  section.hero{
    background: rgba($brand_colors-black,1.0);
    width: $wrapper-width;
    margin: 0 0 ($gutter * 2) 0;
    & > div{
      //width: $content-width-narrow;
      width:50vw;
      margin: ($gutter * 1.75) auto ($gutter * 2.1) auto;
      color: rgba($brand_colors-white,1.0);
    }
  }


  section.intro{
    width: 50vw;
    margin: 0 auto 0 auto;
    border-bottom: solid rgba($brand_colors-black,1.0) 1px;
    & > h1{
      margin: 0 0 ($gutter / 2) 0;
    }
  }


  section.fullwidth{
    width: $wrapper-width;
    margin: ($gutter * 1.7) auto 0 auto;
    padding: $gutter 0 0 0;
    background: rgba($brand_colors-beige,1.0);
    text-align: center;
    & > h4{
      text-align: center;
    }
    & > ul {
      //width
    }
    & a {
      &:hover {
        border-bottom: solid rgba($brand_colors-red,1.0) 1px;
        color: inherit;
      }
    }
  }


  section{
    width: $content-width-narrow;
    margin: ($gutter * 1.7) auto 0 auto;
    & > ul{
      display: flex;
      flex-direction: row;
      margin: $gutter 10vw 0 10vw;
      list-style: none;
      list-style-type: none;
      & > li{
        flex: 1;
        margin: 0 $gutter $gutter 0;
        text-align: left;

         & a{
           border-bottom: none;
         }
         & h6{
           & > a{
             border-bottom: solid rgba($brand_colors-red,1.0) 1px;
           }
         }
      }
    }
  }


  section:last-child{
    margin: ($gutter * 1.7) auto 0 auto;
    padding-bottom: ($gutter * 1.5);
  }

}

















@media only screen and (max-width: 1200px) {

  main#nu__static{

   section.hero{

     & > div{

     }
   }


   section.intro{

     & > h1{

     }
   }


   section.fullwidth{

     & > h4{

     }

   }


   section{

     & > ul{
       width: $content-width-wide;
       margin: 0 auto;

       & > li{

          & a{

          }
          & h6{
            & > a{

            }
          }
       }
     }
   }


   section:last-child{

   }

 }



}


@media only screen and (max-width: 959px) {

  main#nu__static{

   section.hero{

     & > div{
       width: $content-width-wide;

     }
   }


   section.intro{
     width: $content-width-wide;
     & > h1{

     }
   }


   section.fullwidth{

     & > h4{

     }

   }


   section{
     width: $content-width;
     & > ul{
       flex-wrap: wrap;
       & > li{
         flex: 0 0 45%;

          & a{

          }
          & h6{
            & > a{

            }
          }
       }
     }
   }


   section:last-child{

   }

 }



}




@media only screen and (max-width: 620px) {

  main#nu__static{

   section.hero{

     & > div{
       width: $content-width-super-narrow;
     }
   }


   section.intro{
     width: $content-width-super-narrow;
     & > h1{

     }
   }


   section.fullwidth{

     & > h4{

     }

   }


   section{

     & > ul{
       width: $content-width-super-narrow;
       margin: 0 auto;
       flex-direction: column;

       & > li{

          & a{

          }
          & h6{
            & > a{

            }
          }
       }
     }
   }


   section:last-child{

   }

 }



}


























// main#nu__static{
//
//  section.hero{
//
//    & > div{
//
//    }
//  }
//
//
//  section.intro{
//
//    & > h1{
//
//    }
//  }
//
//
//  section.fullwidth{
//
//    & > h4{
//
//    }
//
//  }
//
//
//  section{
//
//    & > ul{
//
//      & > li{
//
//         & a{
//
//         }
//         & h6{
//           & > a{
//
//           }
//         }
//      }
//    }
//  }
//
//
//  section:last-child{
//
//  }
//
// }
