/*
 * static
 */


 // Modules
 @import "modules/variables";
 @import "modules/mixins";
 @import "modules/fonts";

 div.main{

  width: $wrapper-width;
  margin-top: $header-height;
  background: rgba($brand_colors-white,1.0);

  color: rgba($brand_colors-black,1.0);

  height: auto;


  section.hero{
    background: rgba($brand_colors-black,1.0);
    width: $wrapper-width;
    margin: 0 0 ($gutter * 2) 0;
    overflow: hidden;
    position: relative;
    &.withbg{
      background-position: center center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      height: 30vw;
      & > div{
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 0 auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba($brand_colors-black,0.5);
        & > h2,
        & > h3{
          width: 100%;
          width: $content-width;
        }
      }
    }
    & > div{
      width: $content-width;
      margin: ($gutter * 1.75) auto ($gutter * 2.1) auto;
      color: rgba($brand_colors-white,1.0);
    }
  }






  section.herov2{
    min-height: 300px;
    width: $wrapper-width;
    & > div.bgimage{
      height: 36.5vw;
      width: 100%;
      position: absolute;
      z-index: 0;
      background: rgba($brand_colors-black,1.0);
      background-position: center center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
    }
      & > div.copy{
        position: relative;
        z-index: 1;
        min-height: 24.5vw;
        width: 50%;
        margin: 0 0 0 10.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & > h2{
          font-family: "Tungsten Rounded";
          font-weight: bold;
          font-size: 12.4rem;
          letter-spacing: 16px;
          line-height: 1;
          text-transform: uppercase;
          text-align: left;
          color: rgba($brand_colors-white,1.0);
        }
      }
      & > div.overlap{
        position: relative;
        min-height: 10vw;
        height: auto;
        width: 51vw;
        background: rgba($brand_colors-white,1.0);
        padding: ($gutter * 1.3) ($gutter * 5) 0 11vw;
        & > h3{
          @include font-3r-l;
          color: rgba($brand_colors-black,1.0);
          text-transform: uppercase;
          margin: 0 0 ($gutter / 3) 0;
          font-weight: 400;
          letter-spacing: 2px;
        }
      }
  }






  section.intro{
    width: $content-width-narrow;
    margin: 0 auto 0 auto;
    border-bottom: solid rgba($brand_colors-black,1.0) 1px;
    & > h1{
      margin: 0 0 ($gutter / 2) 0;
    }
  }


  section.fullwidth{
    width: $wrapper-width;
    margin: ($gutter * 1.7) auto 0 auto;
    padding: $gutter 0 0 0;
    background: rgba($brand_colors-beige,1.0);
    text-align: center;
    & > h4{
      text-align: center;
    }
    & > ul {
      margin: $gutter 10vw 0 10vw;
    }
    & a {
      &:hover {
        border-bottom: solid rgba($brand_colors-red,1.0) 1px;
        color: inherit;
      }
    }
  }


  section.nu__filters{
    width: $content-width;
    margin: 0 auto 0 auto;
    & > h2{
      @include font-6l-c;
    }
    & > input[type=checkbox]{
      position: absolute;
      display: none;
      width: 100%;
      height: 100px;
      opacity: 0.0;
      &:hover{
        cursor: pointer;
      }
      &:checked{

      }
    }
    & > div{
      display: flex;
      flex-direction: row;
    }
    & > div > div{
      position: relative;
      padding: 0 30px 0 10px;
      @include font-1r-l;
      color: rgba($brand_colors-black,0.7);
      height: 40px;
      text-transform: uppercase;
      display: none;
      margin: $gutter 0 0 0;
      border-bottom: solid rgba($brand_colors-grayW,1.0) 2px;
      &:after{
        position: absolute;
        top: 2px;
        right: 10px;
        content: '\E313';
      }
      &:hover{
        cursor: pointer;
        color: rgba($brand_colors-black,1.0);
      }
      &.active{
        background: rgba($brand_colors-beige,1.0);
        color: rgba($brand_colors-black,1.0);
        &:after{
          content: '\E316';
        }
      }
    }
    & > div > ul{
      width: $content-width-wide;
     border-bottom: solid rgba($brand_colors-grayW,1.0) 2px;
     flex-wrap: wrap;
     height: 40px;
     overflow: hidden;
      & > li{
        flex-grow: 1;
        flex-basis: auto;
        text-align: center;
        margin: 0 0 10px 0;
        &.inshowmore{
          opacity: 0;
          background: rgba($brand_colors-beige,1.0);
          position: absolute;
          z-index: 100;
          flex: none;
          min-height: 60px;
          height: auto;
          right: 0;
          width: 300px;
          text-align: left;
         -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
         -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
         box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
          &:last-of-type{
            padding-bottom: $gutter;
          }
          & > a{
            border-bottom: solid rgba($brand_colors-grayW,0.3) 2px;
            margin: 0 $gutter 0 $gutter;
            padding: 20px 0 11px 0;
            display: block;
            &:hover,
            &.active{
              color: rgba($brand_colors-black,1.0);
              border-bottom: solid rgba($brand_colors-red,1.0) 2px;
            }
          }
        }
        & > a{
          padding: 0 20px 11px 20px;
          color: rgba($brand_colors-black,0.7);
          text-transform: uppercase;
          @include font-1r-l;

          & > span{
            display: none;
            @include font-4-c;
            font-weight: normal;
            height: 18px;
            overflow: hidden;
            margin: 15px 0 0 0;
          }
          &.active{
            @include font-1b-l;
            color: rgba($brand_colors-black,1.0);
            border-bottom: solid rgba($brand_colors-red,1.0) 4px;
          }
          &:hover{
            color: rgba($brand_colors-black,1.0);
            border-bottom: solid rgba($brand_colors-red,1.0) 4px;
          }
        }
      }
    }
  }


  section{
    width: 50vw;
    margin: ($gutter * 1.7) auto 0 auto;
    & ul{
      display: flex;
      flex-direction: row;
      margin: $gutter auto 0 auto;
      list-style: none;
      list-style-type: none;
      & > li{
        flex: 1;
        margin: 0 $gutter $gutter 0;
        text-align: left;

         & a{
           border-bottom: none;
         }
         & h6{
           & > a{
             border-bottom: solid rgba($brand_colors-red,1.0) 1px;
           }
         }
      }
    }


    & > ul.list{
      display: block;
      margin: 0 0 0 $gutter;
      list-style: disc;
      & > li{
        margin: 0 0 ($gutter / 2) 0;
        text-align: left;
        letter-spacing: 0;
         & a{
           border-bottom: solid rgba($brand_colors-red,1.0) 1px;
         }
         & h6{
           & > a{
             border-bottom: solid rgba($brand_colors-red,1.0) 1px;
           }
         }
         & > ul{
           list-style: circle;
           margin: 0 0 0 $gutter;
         }
      }
    }
  }


  section:last-child{
    margin: ($gutter * 1.7) auto 0 auto;
    padding-bottom: ($gutter * 1.5);
  }

}





@media only screen and (max-width: 1400px) {

  section.nu__filters{
    & > ul{
      width: $content-width-wide;
      margin: $gutter auto 0 auto;
    }
  }

}

















@media only screen and (max-width: 1280px) {

  $gutter: 15px;

  div.main{

   section.hero{
     margin: 0 0 ($gutter * 2) 0;
     & > div{
       margin: ($gutter * 1.75) auto ($gutter * 2.1) auto;
       & > h2 {
       }
       & > h3 {
       }
     }
   }


   section.herov2{
     & > div.bgimage{
     }
       & > div.copy{
         margin: 0 0 0 5vw;
         & > h2{
           font-size: 10rem;
           letter-spacing: 12px;
         }
       }
       & > div.overlap{
         padding: ($gutter * 1.3) ($gutter * 3) 0 5vw;
         & > h3{
           @include font-2b-l;
         }
       }
   }


   section.intro{

     & > h1{
       margin: 0 0 ($gutter / 2) 0;
     }
   }


   section.fullwidth{
     margin: ($gutter * 1.7) auto 0 auto;
     padding: $gutter 0 0 0;
     & > h4{
       text-align:center;
     }

   }


   section.nu__filters{
     & > h2{
       @include font-5l-c;
     }
   }


   section{
     margin: ($gutter * 1.7) auto 0 auto;
     & > ul{
       width: $content-width-wide;
       margin: $gutter auto 0 auto;
       & > li{
         margin: 0 $gutter $gutter 0;
          & a{

          }
          & h6{
            & > a{

            }
          }
       }
     }
     & > h4 {
       text-align:left;
     }
   }


   section:last-child{
     margin: ($gutter * 1.7) auto 0 auto;
     padding-bottom: ($gutter * 1.5);
   }

 }

}




@media only screen and (max-width: 959px) {
  div.main{


   section.hero{
     &.withbg{
       height: 50vw;
       & > div{
         & > h2,
         & > h3{
           width: $content-width;
         }
       }
     }
   }


   section.herov2{
       & > div.copy{
         min-height: 36.5vw;
         width: 100%;
         margin: 0 0 0 5vw;
         & > h2{
           font-size: 10rem;
           letter-spacing: 12px;
         }
       }
       & > div.overlap{
         width: 100vw;
         padding: ($gutter * 1.3) 5vw 0 5vw;
         & > h3{
           @include font-1b-l;
         }
       }
   }


   section.intro{
     width: $content-width;
     & > h1{
     }
   }


   section.fullwidth{
     & > ul {
       width: $content-width;

     }

   }


   section.nu__filters{
     & > h2{
       @include font-3l-c;
     }
   }


   section{
     width: $content-width-960;
     & > ul:not(.nu__grid-filters-options,.nu__grid){
       flex-wrap: wrap;
       & > li{
         flex: 0 0 45%;
         margin-right:10%;
         &:nth-child(even) {
           margin-right:0;
         }
       }
     }
   }

 }



}


@media only screen and (max-width: 760px) {

  div.main{


    section.herov2{
      & > div.bgimage{
        height: 225px;
      }
        & > div.copy{
          height: 225px;
        }
    }


  }

}




@media only screen and (max-width: 620px) {

  div.main{

    section.hero{
      &.withbg{
        height: 80vw;
        & > div{
          & > h2,
          & > h3{
            width: $content-width-wide;
          }
        }
      }
    }


    section.herov2{
        & > div.copy{
          & > h2{
            font-size: 5rem;
            letter-spacing: 8px;
          }
        }
    }


   section.intro{

     & > h1{
       text-align:left;
     }
   }


   section.nu__filters{
     overflow: visible;
     & > input[type=checkbox]{
       display: block;
       &:checked{
         display: none;
          &+div > ul{
            height: auto;
            & > li{
              & > a{
                display: block;
              }
            }
          }
       }
     }
     & > div{
       display: block;
     }
     & > div > ul{
       width: 100%;
       margin: 10px auto 0 auto;
     border-bottom: none;
     display: block;
     height: 85px;
     overflow: hidden;
    & > li{
     flex: none;
        & > a{
          display: none;
          text-align: center;
          @include font-1r-c;
         &.active{
           @include font-1b-c;
           display: block;
           & > span{
             display: inline-block;
           }
         }
         &:hover:not(.active){
           color: rgba($brand_colors-black,1.0);
           border-bottom: none;
         }
        }
       }
     }
   }


   section{
      width: $content-width-700;
     & > ul{
       width: 100%;
       margin: 0 auto;
       flex-direction: column;

       & > li{
         margin-right:0;
       }
     }
   }


 }



}






@media only screen and (max-width: 440px) {

  div.main{


   section.fullwidth{

     & > h4{
       margin:0 10vw;
     }

   }

 }



}
