/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */

// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

// Partials
@import "partials/reset";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/print";








h1{
  font-size: 3rem;
  line-height: 4rem;
  width: 90%;
  margin: 0 5% 0 5%;
  font-weight: 200;
}

h2{
  font-size: 5rem;
  line-height: 8rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
}

h3{
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 200;
  margin: 0 0 $gutter 0;
}

h4{
  font-size: 1.75rem;
  text-transform: uppercase;
}

a{
  color: yellow;
}

h5{
  font-size: 1.75rem;
  line-height: 2.5rem;
}

h6{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
}


a.button{
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 5px 10px 5px 10px;
  border: solid rgba(81, 152, 166, 1.0) 1px;
  text-align: center;
  color: rgba(255,255,255,1.0);
  margin: 0 auto 0 auto;
  text-transform: uppercase;
  display: block;
  width: 50%;
  &:hover{
    background: rgba(81, 152, 166, 1.0);
    color: rgba(255,255,255,1.0);
  }
  &.light{
    color: rgba(0,0,0,1.0);
    &:hover{
      background: rgba(81, 152, 166, 1.0);
      color: rgba(255,255,255,1.0);
    }
  }
}

p{
  margin: 0 0 $gutter 0;

}


div#wpfront-scroll-top-container{
  background: rgba(204, 0, 0, 1.0);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  line-height: 3.75rem;
  & td.button-holder{
    background: none;
    background-color: none;
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    line-height: 3.75rem;
    font-weight: 400;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-align: center;
  }
}





/* Styles for the main content */
main{
  margin: 0 auto 0 auto;
  $h: 100%;
  min-height: calc(#{$h} - #{$header-height});
  min-height: -moz-calc(#{$h} - #{$header-height});
  min-height: -webkit-calc(#{$h} - #{$header-height});
  width: $content-width;
  & > section{
    position: relative;
    margin: 0 0 0 0;
    width: inherit;
    clear: both;
    overflow: hidden;
  }
}










// @media only screen and (max-width: 500px){
//
//   a.button{
//     font-size: 1.25rem;
//     line-height: 2.5rem;
//     // letter-spacing: 1px;
//     // padding: 5px 20px 5px 20px;
//     // border: solid rgba(81, 152, 166, 1.0) 1px;
//     // text-align: center;
//     // color: rgba(255,255,255,1.0);
//     // margin: 0 auto 0 auto;
//     // text-transform: uppercase;
//     // display: block;
//     width: 90%;
//     // &:hover{
//     //   background: rgba(81, 152, 166, 1.0);
//     //   color: rgba(255,255,255,1.0);
//     // }
//     // &.light{
//     //   color: rgba(0,0,0,1.0);
//     //   &:hover{
//     //     background: rgba(81, 152, 166, 1.0);
//     //     color: rgba(255,255,255,1.0);
//     //   }
//     // }
//   }
//
// }
