/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */

// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

// Partials
@import "partials/reset";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/print";








h1{
  font-size: 3rem;
  line-height: 4rem;
  width: 90%;
  margin: 0 5% 0 5%;
  font-weight: 200;
}

h2{
  font-size: 1.8rem;
  line-height: 4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
}

h3{
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 200;
  margin: 0 0 $gutter 0;
}

h4{
  font-size: 1.75rem;
  text-transform: uppercase;
}

a{
  color: red;
}

h5{
  font-size: 1.75rem;
  line-height: 2.5rem;
}

h6{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
}

p{
  margin: 0 0 $gutter 0;
}





/* Styles for the main content */
main{
  margin: 0 auto 0 auto;
  $h: 100%;
  min-height: calc(#{$h} - #{$header-height});
  min-height: -moz-calc(#{$h} - #{$header-height});
  min-height: -webkit-calc(#{$h} - #{$header-height});
  width: $content-width;
  & > section{
    position: relative;
    margin: 0 0 0 0;
    width: inherit;
    clear: both;
    overflow: hidden;
  }
}
