/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */

// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

// Partials
@import "partials/reset";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/print";








h1{
  // font-size: 3rem;
  // line-height: 4rem;
  // width: 90%;
  // margin: 0 5% 0 5%;
  // font-weight: 200;
  @include font-6l-l;
}
//
h2{
  // font-size: 1.8rem;
  // line-height: 4rem;
  // text-transform: uppercase;
  // text-align: center;
  // font-weight: 200;
  @include font-8l-c;
}

h3{
  // font-size: 2.5rem;
  // line-height: 2.5rem;
  // font-weight: 200;
  // margin: 0 0 $gutter 0;
  @include font-3l-c;
}
//
h4{
  // font-size: 1.75rem;
  // text-transform: uppercase;
}
//
a{
  border-bottom: solid rgba($brand_colors-red,1.0) 1px;
  &:hover{
    color: $brand_colors-red;
  }
}

h4{
  // font-size: 1.75rem;
  // font-weight: 900;
  @include font-5b-l;
  margin: 0 0 $gutter 0;
}

h5{
  // font-size: 1.75rem;
  // line-height: 2.5rem;
  // font-weight: 900;
  @include font-2b-l;
}

h6{
  // font-size: 1.5rem;
  // line-height: 2rem;
  // font-weight: 900;
  // letter-spacing: 1px;
  @include font-2b-l;
}

p{
  @include font-2l-l;
  margin: 0 0 $gutter 0;
  &:last-of-type{
    margin: 0 0 0 0;
  }
}





/* Styles for the main content */
main{
  margin: 0 auto 0 auto;
  $h: 100%;
  min-height: calc(#{$h} - #{$header-height});
  min-height: -moz-calc(#{$h} - #{$header-height});
  min-height: -webkit-calc(#{$h} - #{$header-height});
  width: $content-width;
  & > section{
    // @include font-2l-l;
    position: relative;
    margin: 0 0 0 0;
    width: inherit;
    clear: both;
    overflow: hidden;
  }
}
