/*
 * departments
 */


 // Modules
 @import "modules/variables";
 @import "modules/mixins";
 @import "modules/fonts";
 @import "partials/itemgrids";


div.main{

  section.hero{
    margin: 0 0 0 0;
  }

  h4{
    text-align: center;
  }

  section.nu__grid-filters{
    width: $content-width-narrow;
    @include showfilters();  // add filters to the page, pass the width it should use
  }

  section.nu__board-trustees{

    width: $content-width-wide;

    & > ul{
      width: $content-width-wide;

      // add in the default grid of items setup
      @include addgrid($content-width-wide,6,2vw);

      // these are specific edits to be made for the use of this grid of items
      &.leadership{
        $cols: 3;
        $colW: calculatecolumn($cols,$content-width-wide);
        & > li{
          width: $colW;
          flex-basis: $colW;
          height: 380px;
          &:nth-child(#{$cols}n+#{$cols}){
            margin: 0 0 2vw 0;
          }
          & > div{
            height: 100%;
            position: relative;
            & > div{
              width: 100%;
              height: 60%;
              position: absolute;
              bottom: 0;
              background: linear-gradient(0deg, rgba($brand_colors-black,0.6) 0%, rgba($brand_colors-black,0) 100%);
            }
            & > p{
              position: absolute;
              bottom: 0;
              color: rgba($brand_colors-white,1.0);
              margin: 0 $gutter $gutter $gutter;
              line-height: 2.2rem;
              & > span{
                @include font-2b-l;
                line-height: 2.2rem;
              }
            }
          }
        }
      }

    }

  }

  section.nu__board-committees{
    width: $content-width-narrow;
    & > article{
      margin: 0 0 $gutter 0;
      &:last-of-type{
        margin: 0 0 0 0;
      }
    }
  }


  section.nu__board-emeriti,
  section.nu__board-honorary{
    width: $content-width-narrow;
    & > ul{
      width: 100%;
      @include addgrid($content-width-narrow,3,2vw);
      & > li{
        height: auto;
        min-height: 10px;
      }
    }
  }


  section.nu__board-others{
    $cols: 4;
    $width: 80vw;
    margin-bottom: ($gutter * 2);
    & > ul{
      width: $width;
      @include addgrid($width,$cols,2vw);
      & > li{
        height: auto;
        min-height: 10px;
        margin-bottom: 0;
        &:nth-child(#{$cols}n+#{$cols}){
          margin: 0 0 0 0;
        }
      }
    }
  }


  section.nu__board-emeriti,
  section.nu__board-honorary,
  section.nu__board-others{
    & > ul{
      & > li{
        & > p{
          margin: 0 0 0 0;
        }
      }
    }
  }





  @media only screen and (max-width: 1400px) {

    section.nu__grid-filters{
      width: 65vw;
      @include showfilters();  // add filters to the page, pass the width it should use
    }

  }





  @media only screen and (max-width: 1280px) {

    section.nu__grid-filters{
      width: 70vw;
      @include showfilters();  // add filters to the page, pass the width it should use
    }

    section.nu__board-emeriti,
    section.nu__board-honorary,
    section.nu__board-others{
      & > h4{
        @include font-3b-l;
        text-align: center;
      }
    }

  }





  @media only screen and (max-width: 1080px) {

    section.nu__grid-filters{
      width: 75vw;
      @include showfilters();  // add filters to the page, pass the width it should use
    }

    section.nu__board-trustees{

      width: $content-width-wide;

      & > ul{
        width: $content-width-wide;

        // add in the default grid of items setup
        @include addgrid($content-width-wide,5,2vw);

        // these are specific edits to be made for the use of this grid of items
        &.leadership{
          $cols: 3;
          $colW: calculatecolumn($cols,$content-width-wide);
          & > li{
            width: $colW;
            flex-basis: $colW;
            @for $i from 1 through 10 {
                &:nth-child(#{$i}n+#{$i}){
                  margin: 0 2vw 2vw 0;
                }
            }

            &:nth-child(#{$cols}n+#{$cols}){
              margin: 0 0 2vw 0;
            }
          }
        }

      }

    }


    section.nu__board-emeriti,
    section.nu__board-honorary{
      width: 75vw;
      & > ul{
        @include addgrid(75vw,3,2vw);
        & > li{
          height: auto;
          min-height: 10px;
        }
      }
    }


    section.nu__board-others{
      $cols: 4;
      $width: 75vw;
      & > ul{
        width: $width;
        @include addgrid($width,$cols,2vw);
        & > li{
          height: auto;
          min-height: 10px;
          margin-bottom: 0;
          &:nth-child(#{$cols}n+#{$cols}){
            margin: 0 0 0 0;
          }
        }
      }
    }

  }





  @media only screen and (max-width: 960px) {

    section.nu__grid-filters{
      width: $content-width;
      @include showfilters();  // add filters to the page, pass the width it should use
    }

    section.nu__board-emeriti,
    section.nu__board-honorary{
      width: $content-width;
      & > ul{
        @include addgrid($content-width,3,2vw);
        & > li{
          height: auto;
          min-height: 10px;
        }
      }
    }

    section.nu__board-others{
      $cols: 4;
      $width: $content-width;
      & > ul{
        width: $width;
        @include addgrid($width,$cols,2vw);
        & > li{
          height: auto;
          min-height: 10px;
          margin-bottom: 0;
          &:nth-child(#{$cols}n+#{$cols}){
            margin: 0 0 0 0;
          }
        }
      }
    }

    section.nu__board-committees{
      width: $content-width;
      & > article{
        &:last-of-type{
          margin: 0 0 $gutter 0;
        }
      }
    }

  }





  @media only screen and (max-width: 900px) {

    section.nu__grid-filters{
      width: $content-width-wide;
      @include showfilters();  // add filters to the page, pass the width it should use
    }

    section.nu__board-trustees{

      width: $content-width-wide;

      & > ul{
        width: $content-width-wide;

        // add in the default grid of items setup
        @include addgrid($content-width-wide,4,2vw);

        // these are specific edits to be made for the use of this grid of items
        &.leadership{
          $cols: 2;
          $colW: calculatecolumn($cols,$content-width-wide);
          & > li{
            width: $colW;
            flex-basis: $colW;
            @for $i from 1 through 10 {
                &:nth-child(#{$i}n+#{$i}){
                  margin: 0 2vw 2vw 0;
                }
            }

            &:nth-child(#{$cols}n+#{$cols}){
              margin: 0 0 2vw 0;
            }
          }
        }

      }

    }

    section.nu__board-emeriti,
    section.nu__board-honorary{
      width: $content-width-wide;
      & > ul{
        @include addgrid($content-width-wide,3,2vw);
        & > li{
          height: auto;
          min-height: 10px;
        }
      }
    }

    section.nu__board-others{
      $cols: 4;
      $width: $content-width-wide;
      & > ul{
        width: $width;
        @include addgrid($width,$cols,2vw);
        & > li{
          height: auto;
          min-height: 10px;
          margin-bottom: 0;
          &:nth-child(#{$cols}n+#{$cols}){
            margin: 0 0 0 0;
          }
        }
      }
    }

  }





  @media only screen and (max-width: 768px) {

    section.nu__board-trustees{

      width: $content-width-wide;

      & > ul{
        width: $content-width-wide;

        // add in the default grid of items setup
        @include addgrid($content-width-wide,3,2vw);

      }

    }

    section.nu__board-others{
      $cols: 3;
      $width: $content-width-wide;
      & > ul{
        width: $width;
        @include addgrid($width,$cols,2vw);
        & > li{
          height: auto;
          min-height: 10px;
          margin-bottom: 0;
          &:nth-child(#{$cols}n+#{$cols}){
            margin: 0 0 0 0;
          }
        }
      }
    }

  }





  @media only screen and (max-width: 620px) {

    section.nu__board-trustees{

      width: $content-width-wide;

      & > ul{
        width: $content-width-wide;

        // add in the default grid of items setup
        @include addgrid($content-width-wide,2,2vw);

        // these are specific edits to be made for the use of this grid of items
        &.leadership{
          $cols: 1;
          $colW: calculatecolumn($cols,$content-width-wide);
          & > li{
            height: 450px;
            width: $colW;
            flex-basis: $colW;
            @for $i from 1 through 10 {
                &:nth-child(#{$i}n+#{$i}){
                  margin: 0 2vw 2vw 0;
                }
            }

            &:nth-child(#{$cols}n+#{$cols}){
              margin: 0 0 2vw 0;
            }
          }
        }

      }

    }

    section.nu__board-emeriti,
    section.nu__board-honorary{
      width: $content-width-wide;
      & > ul{
        @include addgrid($content-width-wide,2,2vw);
        & > li{
          height: auto;
          min-height: 10px;
        }
      }
    }

    section.nu__board-others{
      $cols: 2;
      $width: $content-width-wide;
      & > ul{
        width: $width;
        @include addgrid($width,$cols,2vw);
        & > li{
          height: auto;
          min-height: 10px;
          margin-bottom: 0;
          &:nth-child(#{$cols}n+#{$cols}){
            margin: 0 0 0 0;
          }
        }
      }
    }

    section.nu__board-committees{
      width: $content-width-wide;
    }

  }




  @media only screen and (max-width: 500px) {

    section.nu__board-trustees{

      width: $content-width-wide;

      & > ul{
        width: $content-width-wide;

        // add in the default grid of items setup
        @include addgrid($content-width-wide,1,2vw);

        &.leadership{
          margin: 0 0 $gutter 0;
        }

        &:not(.leadership) > li{
          clear: both;
          height: auto;
          min-height: 50px;
          & > div,
          & > p{
            width: ($content-width-wide / 2);
            float: left;
          }
          & > div{
            height: (($content-width-wide / 2) - 2vw);
            min-height: (($content-width-wide / 2) - 2vw);
            width: (($content-width-wide / 2) - 2vw);
            margin: 0 2vw 0 0;
          }
          & > p{
            margin: 0 0 0 0;
          }
        }

        & > li:nth-child(n+1){
          margin: 0 0 $gutter 0;
        }

      }

    }

    section.nu__board-emeriti,
    section.nu__board-honorary{
      width: $content-width-wide;
      & > ul{
        @include addgrid($content-width-wide,1,2vw);
        & > li{
          height: auto;
          min-height: 10px;
        }
      }
    }

    section.nu__board-others{
      $cols: 1;
      $width: $content-width-wide;
      & > ul{
        width: $width;
        @include addgrid($width,$cols,2vw);
        & > li{
          height: auto;
          min-height: 10px;
          margin-bottom: 0;
          &:nth-child(#{$cols}n+#{$cols}){
            margin: 0 0 0 0;
          }
        }
      }
    }

    section.nu__board-committees{
      width: $content-width-wide;
    }

  }


}
