// this is the SASS file for the remotely called utility navigation

// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";


$utility-height: 40px;


div#nu__utility-nav{
  top: 0;
  left: 0;
  height: 40px;
  width: $content-width-wide;
  margin: 0 auto 0 auto;
  & > div > input{
    height: inherit;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    &:hover ~ label{
      color: rgba($brand_colors-white, 1.0);
      cursor: pointer;
    }
    &:checked ~ label{
      color: rgba($brand_colors-white, 1.0);
    }
    &:checked ~ div#nu__supernav{
      height: 100%;
      visibility: visible;
      opacity: 1;

      -webkit-transition: visibility 0s, opacity 0.10s linear;
      -moz-transition: visibility 0s, opacity 0.10s linear;
      -ms-transition: visibility 0s, opacity 0.10s linear;
      -o-transition: visibility 0s, opacity 0.10s linear;
      transition: visibility 0s, opacity 0.10s linear;
    }
  }
}








// ****************************************************************************************************
// these are the common styles for the main menu items
// ****************************************************************************************************
div#nu__mainmenu-supernav{
  float: right;
  height: inherit;
  top: 0;
  right: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative;
  text-align: right;
}




label{
  text-transform: uppercase;
  float: right;
  @include font-1r-l;
  color: rgba($brand_colors-white, 0.8);
  line-height: $utility-height;
  height: $utility-height;
  overflow: hidden;
  &:before{

  }
  &:after{
    float: right;
    @include font-2l-l;
    line-height: ($utility-height);
    height: $utility-height;
    margin: 0 0 0 5px;
  }
}
// *************************************************************************************************






// ****************************************************************************************************
// the following bunch of styles handles the click event on the checkbox to hide and show the supernav
// so that we do not need to use JS
// ****************************************************************************************************
div#nu__mainmenu-supernav{
  width: 106px;
}

label#nu__supernav-toggle-label{
  &:before{
    content: 'Menu';
  }
  &:after{
    content: '\E5D2';
  }
}

input#nu__supernav-toggle:checked ~ div#nu__searchbar{
  height: 0;
  visibility: hidden;
  opacity: 0;
}

input#nu__supernav-toggle:checked ~ label#nu__supernav-toggle-label{
  &:before{
    content: 'Close';
  }
  &:after{
    content: '\E14C';
  }
}
// ****************************************************************************************************





  // ****************************************************************************************************
  // the following bunch of styles handles the actual nav overlays for main menu, search, and iam
  // ****************************************************************************************************
  div#nu__supernav{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 100;
    height: 0;
    min-height: 100%;
    overflow: hidden;
    top: 1px;
    left: 0;
    width: $wrapper-width;
    margin: 40px 0 0 0;

    background: blue;

    -webkit-transition: visibility 0s, opacity 0.10s linear;
    -moz-transition: visibility 0s, opacity 0.10s linear;
    -ms-transition: visibility 0s, opacity 0.10s linear;
    -o-transition: visibility 0s, opacity 0.10s linear;
    transition: visibility 0s, opacity 0.10s linear;


    & > section{

      $widthL: 294px;
      $widthR: 442px;
      $widthT: 736px;

      $lineH: 65px;

      $s: 60px;
      $hh: 100%;
      float: right;
      position: relative;
      background: rgba($brand_colors-black,1.0);
      width: $widthT;
      height: calc(#{$hh} - #{$s});
      height: -miz-calc(#{$hh} - #{$s});
      height: -webkit-calc(#{$hh} - #{$s});
      min-height: calc(#{$hh} - #{$s});
      min-height: -moz-calc(#{$hh} - #{$s});
      min-height: -webkit-calc(#{$hh} - #{$s});

      & > div.search{
        display: none;
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: left;
        padding: 0 20px 0 20px;
        background: rgba(0,0,0,1.0);
      }
      & > div.fixedbg{
        position: absolute;
        display: table;
        z-index: 0;
        background: rgba(0,0,0,1.0);
        width: $widthT;
        height: 100%;
        min-height: 100%;
        clear: both;
        & > div{
          display: table-cell;
          height: 100%;
          min-height: 100%;
          &:nth-child(1){
            background: rgba($brand_colors-black,1.0);
            width: $widthL;
          }
          &:nth-child(2){
            background: rgba($brand_colors-white,1.0);
            width: $widthR;
          }
        }
      }
      & > div.items{
        position: absolute;
        min-height: calc(#{$hh} - #{$s});
        height: calc(#{$hh} - #{$s});
        min-height: -moz-calc(#{$hh} - #{$s});
        height: -moz-calc(#{$hh} - #{$s});
        min-height: -webkit-calc(#{$hh} - #{$s});
        height: -webkit-calc(#{$hh} - #{$s});
        width: 100%;
        overflow-y: scroll;
        & > ul{  // this is the list of items shown on the right in the white space
          width: $widthL;
          height: auto;
          list-style: none;
          list-style-type: none;
          padding: 0 0 0 0;
          background: none;
          & > li{
            width: 100%;
            text-align: left;
            padding: 0 $gutter 0 $gutter;
            @include font-2l-l;
            text-transform: uppercase;
            line-height: $lineH;
            border-bottom: solid rgba($brand_colors-beige,1.0) 1px;
            &.featured{
              line-height: 0;
              border: none;
              margin: 20px 0 0 0;
              clear: both;
              &:last-child{
                margin: 20px 0 20px 0;
              }
              a {
                color: rgba($brand_colors-white,1.0);
                border-bottom: none;
                @include font-2l-l;
                text-transform: none;
                display: block;
                overflow: hidden;
                & > div{
                  float: left;
                }
              }
              &:hover{
                background: none;
                a{
                  & > div{
                    &:nth-child(2){
                      & > span{
                        border-bottom: solid rgba($brand_colors-red,1.0) 2px;
                      }
                    }
                  }
                }
              }
              img{
                margin: 0 10px 0 0;
                -webkit-filter: grayscale(1);
                -moz-filter: grayscale(1);
                filter: grayscale(1);
                height: 34px;
                width: 34px;
              }
            }
            &.active,
            &:hover{
              background: rgba($brand_colors-beige, 1.0);
              color: rgba($brand_colors-black,1.0);
              cursor: pointer;
            }
            & > ul{
              display: none;
              position: absolute;
              right: 0;
              top: 0;
              width: ($widthR - 15);
              list-style: none;
              list-style-type: none;
              padding: 0 0 0 0;
              margin: 0 0 0 0;
              & > li{
                margin: 0 $gutter $gutter $gutter;
                text-transform: none;
                height: $lineH;
                &:first-child{
                  @include font-6l-l;
                  line-height: $lineH;
                  margin: 0 0 0 $gutter;
                }
                & > a{
                  @include font-2l-l;
                  border-bottom: none;
                  color: rgba($brand_colors-black,1.0);
                  display: block;
                  clear: both;
                  overflow: hidden;
                  &:hover{
                    cursor: pointer;
                    & > div{
                      &:nth-child(2){
                        border-bottom: solid rgba($brand_colors-red,1.0) 2px;
                      }
                    }
                  }
                  & > div{
                    float: left;
                    &:nth-child(1){
                      width: $lineH;
                      height: $lineH;
                      margin: 0 10px 0 0;
                      & > img{
                        width: 100%;
                        -webkit-filter: grayscale(1);
                        -moz-filter: grayscale(1);
                        filter: grayscale(1);
                      }
                    }
                    &:nth-child(2){
                      max-width: 280px;
                      padding: 15px 0 0 0;
                      border-bottom: solid rgba($brand_colors-red,0.0) 2px;
                    }
                  }
                }
              }
            }
            &.active > ul{
              display: block;
            }
          }
        }
      }
    }
  }
