/**
 * modules/mixins
 * ---
 */


@mixin reset-box {
  padding: 0;
  margin: 0;
}



// this will be a mixin for the hover state of most blocks to include:
// a red arrow after the title
// a slight scaling of the background image

@mixin block-group{
  overflow: hidden;
  position: relative;
  width: 100%;
}

@mixin block-item-default{
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all .5s;
  background: rgba($brand_colors-black,1.0);
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

@mixin block-item-hover{
  transform: scale(1.1);
  transition: all .5s;
}





// this will handle adding a red arrow to the end of a link or other item
// in some cases they may start hidden and reveal on hover

@mixin action-arrow{
  &:after{
    @include font-7-c;
    color: rgba($brand_colors-red,1.0);
    content: '\E8E4';
    // vertical-align: -20%;
    display: inline-block;
    height: 20px;
    line-height: 35px;
    overflow: hidden;
    // background: green;
  }
}

@mixin action-arrow-hidden{
  &:after{
    opacity: 0.0;
  }
}

@mixin action-arrow-shown{
  &:after{
    opacity: 1.0;
  }
}
