/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

// $font-family-base: 'Lato',sans-serif,FontAwesome;
$font-family-base: 'Lato',sans-serif,'Material Icons';
$font-size-base: 1.6rem;
$line-height-base: 3.0rem;


/**
 * Colors
 */

$text-color: #000;
$body-bg: #fff;
$selection-bg: #04A4CC;
$brand_colors: rgba(80, 152, 166, 1.0), rgba(231, 144, 61, 1.0), rgba(180, 196, 67, 1.0), rgba(247, 204, 72, 1.0), rgba(122, 68, 141, 1.0);


/**
 * Grid
 */

$wrapper-width: 100vw;
$content-width: 80vw;
$wrapper-margins: 0, (($wrapper-width - $content-width) / 2), 0, (($wrapper-width - $content-width) / 2);
$gutter: 1vw;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;




/* These are variables for the header */
$header-width: 70vw;
// $header-height: 110px;
$header-height: 70px;


/* These are variables for the main navigation */
$navigation-height: 50px;





@media only screen and (max-width: 1100px){

  $content-width: 84vw;
  $wrapper-margins: 0, (($wrapper-width - $content-width) / 2), 0, (($wrapper-width - $content-width) / 2);
  $gutter: 2vw;

}
