/*
 * departments
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* These are variables for the header */
/* These are variables for the main navigation */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../.fonts/lato-v14-latin-100.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100.woff") format("woff"), url("../.fonts/lato-v14-latin-100.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-100italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("../.fonts/lato-v14-latin-100italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100italic.woff") format("woff"), url("../.fonts/lato-v14-latin-100italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light"), local("Lato-Light"), url("../.fonts/lato-v14-latin-300.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300.woff") format("woff"), url("../.fonts/lato-v14-latin-300.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../.fonts/lato-v14-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300italic.woff") format("woff"), url("../.fonts/lato-v14-latin-300italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../.fonts/lato-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-regular.woff2") format("woff2"), url("../.fonts/lato-v14-latin-regular.woff") format("woff"), url("../.fonts/lato-v14-latin-regular.ttf") format("truetype"), url("../.fonts/lato-v14-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Italic"), local("Lato-Italic"), url("../.fonts/lato-v14-latin-italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-italic.woff") format("woff"), url("../.fonts/lato-v14-latin-italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../.fonts/lato-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700.woff") format("woff"), url("../.fonts/lato-v14-latin-700.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("../.fonts/lato-v14-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700italic.woff") format("woff"), url("../.fonts/lato-v14-latin-700italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("../.fonts/lato-v14-latin-900.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900.woff") format("woff"), url("../.fonts/lato-v14-latin-900.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("../.fonts/lato-v14-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900italic.woff") format("woff"), url("../.fonts/lato-v14-latin-900italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

div.main section.hero {
  margin: 0 0 0 0; }

div.main section.nu__president {
  width: 65vw;
  margin: 0 auto 0 auto;
  clear: both; }
  div.main section.nu__president > div {
    float: left;
    width: 45%;
    min-height: 400px;
    position: relative; }
    div.main section.nu__president > div:nth-child(1) {
      width: 55%; }
      div.main section.nu__president > div:nth-child(1) > h3 {
        font-size: 3.2rem;
        font-weight: 300;
        line-height: 4.8rem;
        text-align: left;
        border-bottom: solid #979797 1px;
        padding: 0 0 15px 0;
        margin: 30px 30px 15px 0; }
      div.main section.nu__president > div:nth-child(1) > p {
        text-align: left;
        margin-right: 30px; }
        div.main section.nu__president > div:nth-child(1) > p > a {
          border: none;
          line-height: 4rem; }
          div.main section.nu__president > div:nth-child(1) > p > a > span {
            color: rgba(0, 0, 0, 0.8); }
          div.main section.nu__president > div:nth-child(1) > p > a:hover {
            border-bottom: solid #cc0000 2px;
            color: black; }
            div.main section.nu__president > div:nth-child(1) > p > a:hover > span {
              color: black; }
    div.main section.nu__president > div:nth-child(2) {
      background: black;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important; }
      div.main section.nu__president > div:nth-child(2) > div {
        width: 100%;
        height: 50%;
        background: red;
        position: absolute;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, transparent 100%); }
      div.main section.nu__president > div:nth-child(2) > p {
        position: absolute;
        left: 30px;
        bottom: 30px;
        color: #fffffe; }
        div.main section.nu__president > div:nth-child(2) > p > span {
          font-size: 2.0rem;
          font-weight: 700;
          line-height: 3.2rem;
          text-align: left;
          letter-spacing: 1px; }

div.main section.nu__filters {
  width: 97vw; }
  div.main section.nu__filters > h2 {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 4.8rem;
    text-align: center; }
  div.main section.nu__filters > ul {
    border-bottom: solid #979797 2px; }
    div.main section.nu__filters > ul > li {
      flex-basis: auto;
      text-align: center;
      margin: 0 0 9px 0; }
      div.main section.nu__filters > ul > li > a {
        padding: 0 0 10px 0; }
        div.main section.nu__filters > ul > li > a.active {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 2.8rem;
          text-align: center;
          border-bottom: solid #cc0000 4px; }
        div.main section.nu__filters > ul > li > a:hover {
          color: black;
          border-bottom: solid #cc0000 4px; }

div.main section.nu__team > article {
  clear: both;
  margin: 0 auto 30px auto;
  overflow: hidden; }
  div.main section.nu__team > article p {
    margin-right: 30px; }
  div.main section.nu__team > article > div {
    float: left;
    min-height: 250px;
    position: relative; }
    div.main section.nu__team > article > div:nth-child(1) {
      width: 70%; }
    div.main section.nu__team > article > div:nth-child(2) {
      width: 30%; }
      div.main section.nu__team > article > div:nth-child(2) > div {
        min-height: 250px;
        background: black;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important; }

div.main section.nu__team-list {
  width: 97vw; }
  div.main section.nu__team-list > ul {
    width: 97vw;
    margin: 0 auto 0 auto;
    flex-direction: row;
    flex-wrap: wrap; }
    div.main section.nu__team-list > ul > li {
      min-height: 250px;
      flex-basis: 14.5%;
      flex-grow: 0; }
      div.main section.nu__team-list > ul > li:nth-child(6n+6) {
        margin: 0 0 30px 0; }
      div.main section.nu__team-list > ul > li > div {
        height: 14.5vw;
        background: black;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important; }
