/*
 * colleges
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* These are variables for the header */
/* These are variables for the main navigation */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../.fonts/lato-v14-latin-100.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100.woff") format("woff"), url("../.fonts/lato-v14-latin-100.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-100italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("../.fonts/lato-v14-latin-100italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100italic.woff") format("woff"), url("../.fonts/lato-v14-latin-100italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light"), local("Lato-Light"), url("../.fonts/lato-v14-latin-300.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300.woff") format("woff"), url("../.fonts/lato-v14-latin-300.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../.fonts/lato-v14-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300italic.woff") format("woff"), url("../.fonts/lato-v14-latin-300italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../.fonts/lato-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-regular.woff2") format("woff2"), url("../.fonts/lato-v14-latin-regular.woff") format("woff"), url("../.fonts/lato-v14-latin-regular.ttf") format("truetype"), url("../.fonts/lato-v14-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Italic"), local("Lato-Italic"), url("../.fonts/lato-v14-latin-italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-italic.woff") format("woff"), url("../.fonts/lato-v14-latin-italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../.fonts/lato-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700.woff") format("woff"), url("../.fonts/lato-v14-latin-700.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("../.fonts/lato-v14-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700italic.woff") format("woff"), url("../.fonts/lato-v14-latin-700italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("../.fonts/lato-v14-latin-900.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900.woff") format("woff"), url("../.fonts/lato-v14-latin-900.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("../.fonts/lato-v14-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900italic.woff") format("woff"), url("../.fonts/lato-v14-latin-900italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

div.main section {
  width: 94vw; }

div.main section.nu__collegegrid > ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto 0 auto; }
  div.main section.nu__collegegrid > ul > li {
    flex-grow: 1;
    flex-basis: 30%;
    height: auto;
    margin: 0 30px 0 0; }
    div.main section.nu__collegegrid > ul > li:nth-child(-n+6) {
      margin: 0 30px 30px 0; }
    div.main section.nu__collegegrid > ul > li:nth-child(3n+3) {
      margin: 0 0 30px 0; }
    div.main section.nu__collegegrid > ul > li:nth-child(9) {
      margin: 0 0 0 0; }
    div.main section.nu__collegegrid > ul > li > a {
      display: block;
      width: 100%;
      height: 100%; }
      div.main section.nu__collegegrid > ul > li > a > div.image {
        height: 245px;
        overflow: hidden;
        position: relative;
        width: 100%; }
        div.main section.nu__collegegrid > ul > li > a > div.image > div {
          position: absolute;
          width: 100%;
          height: 100%;
          transform: scale(1);
          transition: all .5s;
          background: black;
          background-position: center center !important;
          background-repeat: no-repeat !important;
          background-size: cover !important; }
      div.main section.nu__collegegrid > ul > li > a > h4 {
        font-size: 2.0rem;
        font-weight: 700;
        line-height: 3.2rem;
        text-align: left; }
        div.main section.nu__collegegrid > ul > li > a > h4:after {
          font-size: 3.4rem;
          line-height: 4.8rem;
          text-align: center;
          color: #cc0000;
          content: '\E8E4';
          display: inline-block;
          height: 20px;
          line-height: 35px;
          overflow: hidden; }
        div.main section.nu__collegegrid > ul > li > a > h4:after {
          opacity: 0.0; }
      div.main section.nu__collegegrid > ul > li > a:hover > h4 {
        color: black; }
        div.main section.nu__collegegrid > ul > li > a:hover > h4:after {
          opacity: 1.0; }
      div.main section.nu__collegegrid > ul > li > a:hover > div.image > div {
        transform: scale(1.1);
        transition: all .5s; }

div.main section.nu__bythenumbers > h2 {
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 4.8rem;
  text-align: center;
  border-bottom: solid #979797 1px;
  margin: 0 auto 0 auto; }

div.main section.nu__bythenumbers > ul {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px auto 0 auto; }
  div.main section.nu__bythenumbers > ul > li {
    flex-grow: 1;
    flex-basis: 30%;
    min-height: 150px;
    text-align: center;
    margin: 0 30px 0 0;
    padding: 0 30px 0 30px; }
    div.main section.nu__bythenumbers > ul > li:nth-child(3n+3) {
      margin: 0 0 0 0; }
    div.main section.nu__bythenumbers > ul > li > span {
      font-size: 7.2rem;
      font-weight: 300;
      line-height: 9.6rem;
      text-align: center;
      color: #cc0000; }
    div.main section.nu__bythenumbers > ul > li > p {
      font-size: 2.4rem;
      line-height: 3.2rem;
      text-align: center;
      font-weight: 300;
      text-align: center; }

@media only screen and (max-width: 1280px) {
  div.main section.nu__collegegrid > ul > li > a > h4 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.8rem;
    text-align: left; }
  div.main section.nu__bythenumbers > h2 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-align: center;
    font-weight: 300; }
  div.main section.nu__bythenumbers > ul > li > span {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 4.8rem;
    text-align: center; }
  div.main section.nu__bythenumbers > ul > li > p {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 3.2rem;
    text-align: center; } }

@media only screen and (max-width: 959px) {
  div.main section.nu__collegegrid > ul {
    display: block;
    width: 100%; }
    div.main section.nu__collegegrid > ul > li {
      flex: none;
      width: 100%;
      height: auto; }
      div.main section.nu__collegegrid > ul > li > a > div.image {
        height: 350px; }
  div.main section.nu__bythenumbers > h2 {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 3.2rem;
    text-align: center;
    width: 94vw; }
  div.main section.nu__bythenumbers > ul {
    display: block; }
    div.main section.nu__bythenumbers > ul > li {
      flex: none;
      width: 100%; }
      div.main section.nu__bythenumbers > ul > li > span {
        font-size: 2.0rem;
        font-weight: 300;
        line-height: 3.2rem;
        text-align: center; } }

@media only screen and (max-width: 700px) {
  div.main section.nu__bythenumbers > ul > li > p {
    text-align: center; } }

@media only screen and (max-width: 575px) {
  div.main section.nu__collegegrid > ul {
    display: block; }
    div.main section.nu__collegegrid > ul > li {
      flex: none;
      width: 100%;
      height: auto; }
      div.main section.nu__collegegrid > ul > li > a > div.image {
        height: 245px; } }
