/*
 * homepage
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* These are variables for the header */
/* These are variables for the main navigation */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../.fonts/lato-v14-latin-100.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100.woff") format("woff"), url("../.fonts/lato-v14-latin-100.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-100italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("../.fonts/lato-v14-latin-100italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100italic.woff") format("woff"), url("../.fonts/lato-v14-latin-100italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light"), local("Lato-Light"), url("../.fonts/lato-v14-latin-300.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300.woff") format("woff"), url("../.fonts/lato-v14-latin-300.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../.fonts/lato-v14-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300italic.woff") format("woff"), url("../.fonts/lato-v14-latin-300italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../.fonts/lato-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-regular.woff2") format("woff2"), url("../.fonts/lato-v14-latin-regular.woff") format("woff"), url("../.fonts/lato-v14-latin-regular.ttf") format("truetype"), url("../.fonts/lato-v14-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Italic"), local("Lato-Italic"), url("../.fonts/lato-v14-latin-italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-italic.woff") format("woff"), url("../.fonts/lato-v14-latin-italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../.fonts/lato-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700.woff") format("woff"), url("../.fonts/lato-v14-latin-700.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("../.fonts/lato-v14-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700italic.woff") format("woff"), url("../.fonts/lato-v14-latin-700italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("../.fonts/lato-v14-latin-900.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900.woff") format("woff"), url("../.fonts/lato-v14-latin-900.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("../.fonts/lato-v14-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900italic.woff") format("woff"), url("../.fonts/lato-v14-latin-900italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

body.home {
  height: 100%;
  min-height: 100%; }

main#nu__homepage {
  width: 100vw;
  margin: 0 0 0 0;
  background: black;
  min-height: calc(100% - 70px - 44px);
  height: calc(100% - 70px - 44px);
  min-height: -moz-calc(100% - 70px - 44px);
  height: -moz-calc(100% - 70px - 44px);
  min-height: -webkit-calc(100% - 70px - 44px);
  height: -webkit-calc(100% - 70px - 44px); }
  main#nu__homepage div#nu__seo-content {
    position: absolute;
    z-index: -1000; }
  main#nu__homepage div#nu__stories {
    height: 100%;
    width: 300%;
    overflow-x: scroll;
    overflow: auto; }
    main#nu__homepage div#nu__stories > #prev,
    main#nu__homepage div#nu__stories > #next {
      position: absolute;
      display: none;
      top: 50%;
      width: 50px;
      height: 50px;
      padding-bottom: 3%;
      border-radius: 50%;
      background: rgba(255, 255, 254, 0.6);
      transform: translateY(-50%);
      z-index: 100;
      color: black;
      font-size: 4rem;
      text-align: center;
      line-height: 58px; }
      main#nu__homepage div#nu__stories > #prev:hover,
      main#nu__homepage div#nu__stories > #next:hover {
        background: black;
        color: rgba(255, 255, 254, 0.6);
        cursor: pointer; }
    main#nu__homepage div#nu__stories > #prev {
      left: 20px; }
    main#nu__homepage div#nu__stories > #next {
      right: 20px; }
    main#nu__homepage div#nu__stories > section {
      height: 100%;
      float: left;
      display: block;
      width: 33.33%; }
      main#nu__homepage div#nu__stories > section > article {
        position: relative;
        min-height: 200px;
        display: block;
        background: black;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important; }
        main#nu__homepage div#nu__stories > section > article div.nu__overlay-logo {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 30px;
          right: 30px; }
        main#nu__homepage div#nu__stories > section > article:hover {
          cursor: pointer; }
          main#nu__homepage div#nu__stories > section > article:hover > a {
            background: rgba(0, 0, 0, 0.6);
            opacity: 1.0;
            border-bottom: none; }
        main#nu__homepage div#nu__stories > section > article > a {
          background: transparent;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0.0;
          text-decoration: none; }
          main#nu__homepage div#nu__stories > section > article > a p {
            font-size: 3.2rem;
            font-weight: 300;
            line-height: 4.8rem;
            text-align: center;
            color: #fffffe;
            max-width: 90%;
            width: 100%;
            position: absolute;
            bottom: 90px;
            left: 50%;
            transform: translateX(-50%) translateY(0); }
            main#nu__homepage div#nu__stories > section > article > a p:after {
              font-size: 3.4rem;
              line-height: 4.8rem;
              text-align: center;
              color: #cc0000;
              content: '\E8E4';
              vertical-align: -20%; }
        main#nu__homepage div#nu__stories > section > article h2 {
          color: #fffffe;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          max-width: 90%; }
        main#nu__homepage div#nu__stories > section > article:not(.nu__block-rotator) h2 {
          font-size: 2.4rem;
          line-height: 3.2rem;
          text-align: center;
          padding-bottom: 0;
          position: absolute;
          bottom: 30px;
          z-index: 100;
          left: 50%;
          transform: translateX(-50%) translateY(0); }
          main#nu__homepage div#nu__stories > section > article:not(.nu__block-rotator) h2:after {
            position: absolute;
            display: inline-block;
            border-bottom: 2px solid #cc0000;
            bottom: -8px;
            content: "";
            left: 0;
            width: 100%; }
        main#nu__homepage div#nu__stories > section > article.nu__block-rotator {
          background: black; }
          main#nu__homepage div#nu__stories > section > article.nu__block-rotator > a {
            opacity: 1;
            background-position: center center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            border-bottom: none; }
            main#nu__homepage div#nu__stories > section > article.nu__block-rotator > a:hover {
              background: transparent; }
          main#nu__homepage div#nu__stories > section > article.nu__block-rotator > div.nu__slide-controls {
            position: absolute;
            left: 30px;
            bottom: 15px;
            width: 90%;
            overflow: visible; }
            main#nu__homepage div#nu__stories > section > article.nu__block-rotator > div.nu__slide-controls > div {
              clear: both;
              width: 80px;
              overflow: hidden;
              margin: 0 0 10px 0; }
              main#nu__homepage div#nu__stories > section > article.nu__block-rotator > div.nu__slide-controls > div > .slider_next,
              main#nu__homepage div#nu__stories > section > article.nu__block-rotator > div.nu__slide-controls > div > .slider_prev {
                display: none;
                float: left;
                margin: 0 10px 0 0;
                font-size: 2.4rem;
                line-height: 3.2rem;
                text-align: left;
                line-height: 34px;
                width: 28px;
                height: 28px;
                text-align: center;
                border-radius: 50%;
                background: #fffffe;
                color: black;
                z-index: 100; }
                main#nu__homepage div#nu__stories > section > article.nu__block-rotator > div.nu__slide-controls > div > .slider_next:hover,
                main#nu__homepage div#nu__stories > section > article.nu__block-rotator > div.nu__slide-controls > div > .slider_prev:hover {
                  background: black;
                  color: #fffffe;
                  cursor: pointer; }
              main#nu__homepage div#nu__stories > section > article.nu__block-rotator > div.nu__slide-controls > div > .slider_next {
                left: 65px; }
              main#nu__homepage div#nu__stories > section > article.nu__block-rotator > div.nu__slide-controls > div > .slider_prev {
                left: 30px; }
            main#nu__homepage div#nu__stories > section > article.nu__block-rotator > div.nu__slide-controls > h2 {
              font-size: 2.4rem;
              line-height: 3.2rem;
              text-align: left; }
              main#nu__homepage div#nu__stories > section > article.nu__block-rotator > div.nu__slide-controls > h2:after {
                font-size: 3.4rem;
                line-height: 4.8rem;
                text-align: center;
                color: #cc0000;
                content: '\E8E4';
                vertical-align: -20%; }
    main#nu__homepage div#nu__stories > section.panel-1 > article:nth-child(1) {
      float: left;
      width: 70%;
      height: 65%;
      order: 1; }
    main#nu__homepage div#nu__stories > section.panel-1 > article:nth-child(2) {
      float: right;
      width: 30%;
      height: 35%;
      order: 2; }
    main#nu__homepage div#nu__stories > section.panel-1 > article:nth-child(3) {
      float: right;
      width: 30%;
      height: 65%;
      order: 3; }
    main#nu__homepage div#nu__stories > section.panel-1 > article:nth-child(4) {
      float: left;
      width: 45%;
      height: 35%;
      order: 4;
      overflow: hidden; }
    main#nu__homepage div#nu__stories > section.panel-1 > article:nth-child(5) {
      float: right;
      width: 25%;
      height: 35%;
      order: 5; }
    main#nu__homepage div#nu__stories > section.panel-2 > article:nth-child(1) {
      float: left;
      width: 30%;
      height: 100%;
      order: 1; }
    main#nu__homepage div#nu__stories > section.panel-2 > article:nth-child(2) {
      float: right;
      width: 70%;
      height: 65%;
      order: 2; }
    main#nu__homepage div#nu__stories > section.panel-2 > article:nth-child(3) {
      float: left;
      width: 25%;
      height: 35%;
      order: 3; }
    main#nu__homepage div#nu__stories > section.panel-2 > article:nth-child(4) {
      float: right;
      width: 45%;
      height: 35%;
      order: 4; }
    main#nu__homepage div#nu__stories > section.panel-3 > article:nth-child(1) {
      float: left;
      width: 70%;
      height: 65%;
      order: 1; }
    main#nu__homepage div#nu__stories > section.panel-3 > article:nth-child(2) {
      float: right;
      width: 30%;
      height: 100%;
      order: 2; }
    main#nu__homepage div#nu__stories > section.panel-3 > article:nth-child(3) {
      float: left;
      width: 45%;
      height: 35%;
      order: 3; }
    main#nu__homepage div#nu__stories > section.panel-3 > article:nth-child(4) {
      float: left;
      width: 25%;
      height: 35%;
      order: 4; }
