/*
 * static
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* These are variables for the header */
/* These are variables for the main navigation */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../.fonts/lato-v14-latin-100.woff") format("woff"), url("../.fonts/lato-v14-latin-100.ttf") format("truetype"); }

/* lato-100italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("../.fonts/lato-v14-latin-100italic.woff") format("woff"), url("../.fonts/lato-v14-latin-100italic.ttf") format("truetype"); }

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("../.fonts/lato-v14-latin-300.woff") format("woff"), url("../.fonts/lato-v14-latin-300.ttf") format("truetype"); }

/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../.fonts/lato-v14-latin-300italic.woff") format("woff"), url("../.fonts/lato-v14-latin-300italic.ttf") format("truetype"); }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../.fonts/lato-v14-latin-regular.woff") format("woff"), url("../.fonts/lato-v14-latin-regular.ttf") format("truetype"); }

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url("../.fonts/lato-v14-latin-italic.woff") format("woff"), url("../.fonts/lato-v14-latin-italic.ttf") format("truetype"); }

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../.fonts/lato-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700.woff") format("woff"), url("../.fonts/lato-v14-latin-700.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("../.fonts/lato-v14-latin-700italic.woff") format("woff"), url("../.fonts/lato-v14-latin-700italic.ttf") format("truetype"); }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url("../.fonts/lato-v14-latin-900.woff") format("woff"), url("../.fonts/lato-v14-latin-900.ttf") format("truetype"); }

/* lato-900italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("../.fonts/lato-v14-latin-900italic.woff") format("woff"), url("../.fonts/lato-v14-latin-900italic.ttf") format("truetype"); }

div.main section.brandstatement,
div.main section.closingstatement {
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center; }
  div.main section.brandstatement h2,
  div.main section.closingstatement h2 {
    width: 50vw;
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 4.8rem;
    text-align: center;
    margin: 0 auto 15px auto;
    font-weight: 500; }
    div.main section.brandstatement h2 > span,
    div.main section.closingstatement h2 > span {
      color: #cc0000; }
  div.main section.brandstatement p,
  div.main section.closingstatement p {
    width: 50vw;
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 3.2rem;
    text-align: center;
    margin: 0 auto 30px auto; }
    div.main section.brandstatement p:last-of-type,
    div.main section.closingstatement p:last-of-type {
      margin: 0 auto 0 auto; }

div.main section.grid {
  width: 100%;
  overflow: hidden;
  background: rgba(151, 151, 151, 0.2);
  margin: 60px auto 0 auto; }
  div.main section.grid > ul {
    width: 80vw;
    margin: 60px auto 30px auto;
    list-style: none;
    list-style-type: none;
    display: block;
    overflow: hidden; }
    div.main section.grid > ul > li {
      float: left;
      background: #fffffe;
      width: 39vw;
      margin: 0 2vw 2vw 0; }
      div.main section.grid > ul > li:nth-child(2n) {
        margin: 0 0 2vw 0; }
      div.main section.grid > ul > li > a {
        display: block;
        width: 100%;
        height: 400px; }
        div.main section.grid > ul > li > a:hover > div.bgimage > div, div.main section.grid > ul > li > a:focus > div.bgimage > div, div.main section.grid > ul > li > a:active > div.bgimage > div {
          transform: scale(1.2);
          transition: all .5s; }
        div.main section.grid > ul > li > a:hover > div.copy > h4 > span, div.main section.grid > ul > li > a:focus > div.copy > h4 > span, div.main section.grid > ul > li > a:active > div.copy > h4 > span {
          border-bottom: solid #cc0000 2px; }
        div.main section.grid > ul > li > a > div {
          float: left;
          width: 50%;
          min-height: 400px;
          height: 100%; }
          div.main section.grid > ul > li > a > div.bgimage {
            overflow: hidden;
            min-height: 400px;
            height: 100%; }
            div.main section.grid > ul > li > a > div.bgimage > div {
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: cover;
              transform: scale(1);
              transition: all .5s; }
          div.main section.grid > ul > li > a > div.copy {
            position: relative;
            padding: 1vw 2vw 1vw 2vw;
            color: black; }
            div.main section.grid > ul > li > a > div.copy > h3 {
              text-align: left;
              margin: 0 0 1vw 0;
              font-size: 2.0rem;
              font-weight: 700;
              line-height: 3.2rem;
              text-align: left; }
            div.main section.grid > ul > li > a > div.copy > p {
              text-align: left;
              margin: 0 0 1vw 0; }
            div.main section.grid > ul > li > a > div.copy > h4 {
              position: absolute;
              bottom: 1vw;
              margin: 0 2vw 0 0;
              color: black;
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 2.8rem;
              text-align: left; }
              div.main section.grid > ul > li > a > div.copy > h4 > span {
                display: inline-block;
                line-height: 2.0rem;
                padding: 0 0 0 0;
                border-bottom: solid rgba(204, 0, 0, 0) 2px; }
              div.main section.grid > ul > li > a > div.copy > h4:before {
                content: '\e5c8';
                display: inline-block;
                margin: 2px 10px 0 0;
                vertical-align: middle; }

div.main section.closingstatement {
  margin: 0 auto 0 auto;
  background: black;
  border-top: solid #cc0000 3px; }
  div.main section.closingstatement h2 {
    font-weight: 300;
    margin: 60px auto 15px auto;
    color: rgba(255, 255, 254, 0.8); }
    div.main section.closingstatement h2 > span {
      color: #fffffe;
      font-weight: 500; }
  div.main section.closingstatement p {
    color: rgba(255, 255, 254, 0.8); }
    div.main section.closingstatement p > span {
      font-style: italic; }

div.main section.contactform {
  width: 100%;
  min-height: 300px;
  background: rgba(0, 0, 0, 0.8); }

@media only screen and (max-width: 1280px) {
  div.main section.brandstatement h2,
  div.main section.closingstatement h2 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-align: center;
    font-weight: 300; }
  div.main section.brandstatement p,
  div.main section.closingstatement p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
    text-align: center; }
  div.main section.grid > ul {
    overflow: hidden; }
    div.main section.grid > ul > li {
      float: none;
      overflow: hidden;
      width: 100%;
      margin: 0 0 2vw 0; }
      div.main section.grid > ul > li:nth-child(2n) {
        margin: 0 0 2vw 0; }
      div.main section.grid > ul > li > a > div.copy > h3 {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.8rem;
        text-align: left; } }

@media only screen and (max-width: 959px) {
  div.main section.brandstatement h2,
  div.main section.closingstatement h2 {
    width: 94vw;
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 3.2rem;
    text-align: center; }
  div.main section.brandstatement p,
  div.main section.closingstatement p {
    width: 80vw; }
  div.main section.grid > ul {
    width: 94vw; } }

@media only screen and (max-width: 720px) {
  div.main section.grid > ul > li {
    margin: 0 0 6vw 0; }
    div.main section.grid > ul > li:nth-child(2n) {
      margin: 0 0 6vw 0; }
    div.main section.grid > ul > li > a {
      height: auto; }
      div.main section.grid > ul > li > a > div {
        float: none;
        width: 100%; }
        div.main section.grid > ul > li > a > div.bgimage {
          min-height: 50px;
          height: 70vw; }
        div.main section.grid > ul > li > a > div.copy {
          min-height: 50px;
          height: auto; }
          div.main section.grid > ul > li > a > div.copy > p {
            margin: 0 0 5vw 0;
            display: block; }
          div.main section.grid > ul > li > a > div.copy > h4 {
            position: relative; } }

@media only screen and (max-width: 600px) {
  div.main section.brandstatement p,
  div.main section.closingstatement p {
    width: 94vw; } }
