/*
 * static
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* These are variables for the header */
/* These are variables for the main navigation */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../.fonts/lato-v14-latin-100.woff") format("woff"), url("../.fonts/lato-v14-latin-100.ttf") format("truetype"); }

/* lato-100italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("../.fonts/lato-v14-latin-100italic.woff") format("woff"), url("../.fonts/lato-v14-latin-100italic.ttf") format("truetype"); }

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("../.fonts/lato-v14-latin-300.woff") format("woff"), url("../.fonts/lato-v14-latin-300.ttf") format("truetype"); }

/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../.fonts/lato-v14-latin-300italic.woff") format("woff"), url("../.fonts/lato-v14-latin-300italic.ttf") format("truetype"); }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../.fonts/lato-v14-latin-regular.woff") format("woff"), url("../.fonts/lato-v14-latin-regular.ttf") format("truetype"); }

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url("../.fonts/lato-v14-latin-italic.woff") format("woff"), url("../.fonts/lato-v14-latin-italic.ttf") format("truetype"); }

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../.fonts/lato-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700.woff") format("woff"), url("../.fonts/lato-v14-latin-700.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("../.fonts/lato-v14-latin-700italic.woff") format("woff"), url("../.fonts/lato-v14-latin-700italic.ttf") format("truetype"); }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url("../.fonts/lato-v14-latin-900.woff") format("woff"), url("../.fonts/lato-v14-latin-900.ttf") format("truetype"); }

/* lato-900italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("../.fonts/lato-v14-latin-900italic.woff") format("woff"), url("../.fonts/lato-v14-latin-900italic.ttf") format("truetype"); }

/**
 * modules/tungsten fonts
 * ---
 * Declare fonts here
 */
@font-face {
  font-family: 'Tungsten Rounded';
  src: url("../.fonts/TungstenRounded-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Tungsten Rounded';
  src: url("../.fonts/TungstenRounded-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Tungsten Rounded';
  src: url("../.fonts/TungstenRounded-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Tungsten Rounded';
  src: url("../.fonts/TungstenRounded-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Tungsten Rounded';
  src: url("../.fonts/TungstenRounded-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Tungsten Rounded';
  src: url("../.fonts/TungstenRounded-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

div.main section.grid {
  width: 100%;
  overflow: hidden;
  margin: 0 auto 0 auto; }
  div.main section.grid > ul {
    width: 80vw;
    margin: 30px auto 30px auto;
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    padding: 2vw 0 0 0; }
    div.main section.grid > ul > li {
      flex: 1 1 40%;
      -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
      background: #fffffe;
      width: 39vw;
      margin: 0 2vw 2vw 1vw; }
      div.main section.grid > ul > li:nth-child(2n) {
        margin: 0 1vw 2vw 0; }
      div.main section.grid > ul > li > a {
        display: block;
        width: 100%; }
        div.main section.grid > ul > li > a:hover > div.bgimage > div, div.main section.grid > ul > li > a:focus > div.bgimage > div, div.main section.grid > ul > li > a:active > div.bgimage > div {
          transform: scale(1.2);
          transition: all .5s; }
        div.main section.grid > ul > li > a:hover > div.copy > p > span, div.main section.grid > ul > li > a:focus > div.copy > p > span, div.main section.grid > ul > li > a:active > div.copy > p > span {
          border-bottom: solid #cc0000 2px; }
        div.main section.grid > ul > li > a > div {
          width: 100%; }
          div.main section.grid > ul > li > a > div.bgimage {
            overflow: hidden;
            min-height: 300px;
            height: 100%; }
            div.main section.grid > ul > li > a > div.bgimage > div {
              width: 100%;
              height: 300px;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: cover;
              transform: scale(1);
              transition: all .5s; }
          div.main section.grid > ul > li > a > div.copy {
            position: relative;
            padding: 1vw 2vw 1vw 2vw;
            color: black; }
            div.main section.grid > ul > li > a > div.copy > h3 {
              text-align: left;
              margin: -60px 0 10px -2vw;
              min-height: 50px;
              padding: 18px 1vw 0 2vw;
              font-size: 2.7rem;
              line-height: 3.5rem;
              font-weight: 700;
              width: 80%;
              background: #fffffe; }
            div.main section.grid > ul > li > a > div.copy > p {
              text-align: left;
              margin: 0 0 1vw 0; }

@media only screen and (max-width: 1280px) {
  div.main section.grid > ul {
    width: 94vw; }
    div.main section.grid > ul > li > a > div.copy > h3 {
      font-size: 2.0rem;
      font-weight: 700;
      line-height: 3.2rem;
      text-align: left; } }

@media only screen and (max-width: 959px) {
  div.main section.grid > ul > li {
    flex: 1 1 auto;
    width: 100%;
    margin: 0 2vw 4vw 2vw; }
    div.main section.grid > ul > li:nth-child(2n) {
      margin: 0 2vw 4vw 2vw; }
    div.main section.grid > ul > li > a > div.copy > h3 {
      min-height: 60px;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 2.8rem;
      text-align: left; } }

@media only screen and (max-width: 720px) {
  div.main section.grid > ul > li {
    margin: 0 2vw 8vw 2vw; }
    div.main section.grid > ul > li:nth-child(2n) {
      margin: 0 2vw 8vw 2vw; }
    div.main section.grid > ul > li > a > div.copy {
      padding: 1vw 4vw 2vw 4vw; }
      div.main section.grid > ul > li > a > div.copy > h3 {
        margin: -60px 0 0 -4vw;
        padding: 20px 1vw 0 4vw; } }

@media only screen and (max-width: 600px) {
  div.main section.grid > ul > li > a > div.bgimage {
    min-height: 225px; }
    div.main section.grid > ul > li > a > div.bgimage > div {
      height: 225px; } }
