/*
 * static
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* These are variables for the header */
/* These are variables for the main navigation */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../.fonts/lato-v14-latin-100.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100.woff") format("woff"), url("../.fonts/lato-v14-latin-100.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-100italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("../.fonts/lato-v14-latin-100italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100italic.woff") format("woff"), url("../.fonts/lato-v14-latin-100italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light"), local("Lato-Light"), url("../.fonts/lato-v14-latin-300.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300.woff") format("woff"), url("../.fonts/lato-v14-latin-300.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../.fonts/lato-v14-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300italic.woff") format("woff"), url("../.fonts/lato-v14-latin-300italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../.fonts/lato-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-regular.woff2") format("woff2"), url("../.fonts/lato-v14-latin-regular.woff") format("woff"), url("../.fonts/lato-v14-latin-regular.ttf") format("truetype"), url("../.fonts/lato-v14-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Italic"), local("Lato-Italic"), url("../.fonts/lato-v14-latin-italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-italic.woff") format("woff"), url("../.fonts/lato-v14-latin-italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../.fonts/lato-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700.woff") format("woff"), url("../.fonts/lato-v14-latin-700.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("../.fonts/lato-v14-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700italic.woff") format("woff"), url("../.fonts/lato-v14-latin-700italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("../.fonts/lato-v14-latin-900.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900.woff") format("woff"), url("../.fonts/lato-v14-latin-900.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("../.fonts/lato-v14-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900italic.woff") format("woff"), url("../.fonts/lato-v14-latin-900italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

main#nu__static {
  width: 100vw;
  margin: 0 0 0 0;
  background: #fffffe;
  color: black; }
  main#nu__static section.hero {
    background: black;
    width: 100vw;
    margin: 0 0 60px 0; }
    main#nu__static section.hero > div {
      width: 50vw;
      margin: 52.5px auto 63px auto;
      color: #fffffe; }
  main#nu__static section.intro {
    width: 50vw;
    margin: 0 auto 0 auto;
    border-bottom: solid black 1px; }
    main#nu__static section.intro > h1 {
      margin: 0 0 15px 0; }
  main#nu__static section.fullwidth {
    width: 100vw;
    margin: 51px auto 0 auto;
    padding: 30px 0 0 0;
    background: #ece6d5;
    text-align: center; }
    main#nu__static section.fullwidth > h4 {
      text-align: center; }
    main#nu__static section.fullwidth a:hover {
      border-bottom: solid #cc0000 1px;
      color: inherit; }
  main#nu__static section {
    width: 50vw;
    margin: 51px auto 0 auto; }
    main#nu__static section > ul {
      display: flex;
      flex-direction: row;
      margin: 30px 10vw 0 10vw;
      list-style: none;
      list-style-type: none; }
      main#nu__static section > ul > li {
        flex: 1;
        margin: 0 30px 30px 0;
        text-align: left; }
        main#nu__static section > ul > li a {
          border-bottom: none; }
        main#nu__static section > ul > li h6 > a {
          border-bottom: solid #cc0000 1px; }
  main#nu__static section:last-child {
    margin: 51px auto 0 auto;
    padding-bottom: 45px; }

@media only screen and (max-width: 1280px) {
  main#nu__static section.hero {
    margin: 0 0 30px 0; }
    main#nu__static section.hero > div {
      margin: 26.25px auto 31.5px auto; }
  main#nu__static section.intro > h1 {
    margin: 0 0 7.5px 0; }
  main#nu__static section.fullwidth {
    margin: 25.5px auto 0 auto;
    padding: 15px 0 0 0; }
    main#nu__static section.fullwidth > h4 {
      text-align: center; }
  main#nu__static section {
    margin: 25.5px auto 0 auto; }
    main#nu__static section > ul {
      width: 97vw;
      margin: 15px auto 0 auto; }
      main#nu__static section > ul > li {
        margin: 0 15px 15px 0; }
    main#nu__static section > h4 {
      text-align: left; }
  main#nu__static section:last-child {
    margin: 25.5px auto 0 auto;
    padding-bottom: 22.5px; } }

@media only screen and (max-width: 959px) {
  main#nu__static section.hero > div {
    width: 80vw; }
  main#nu__static section.intro {
    width: 80vw; }
  main#nu__static section.fullwidth > ul {
    width: 80vw; }
  main#nu__static section {
    width: 80vw; }
    main#nu__static section > ul {
      flex-wrap: wrap; }
      main#nu__static section > ul > li {
        flex: 0 0 45%;
        margin-right: 10%; }
        main#nu__static section > ul > li:nth-child(even) {
          margin-right: 0; } }

@media only screen and (max-width: 620px) {
  main#nu__static section.intro > h1 {
    text-align: left; }
  main#nu__static section > ul {
    width: 80vw;
    margin: 0 auto;
    flex-direction: column; }
    main#nu__static section > ul > li {
      margin-right: 0; } }

@media only screen and (max-width: 440px) {
  main#nu__static section.fullwidth > h4 {
    margin: 0 10vw; } }
