/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* These are variables for the header */
/* These are variables for the main navigation */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  height: 100%; }

body {
  font-family: "Lato", sans-serif, FontAwesome;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: black;
  color: white; }

img {
  vertical-align: middle; }

a {
  outline: 0;
  color: #000;
  text-decoration: none;
  border-bottom: none; }
  a:focus, a:hover {
    text-decoration: none; }
  a:active {
    text-decoration: none; }

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit; }

::selection {
  background-color: #04A4CC;
  color: #fff;
  text-shadow: none; }

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 5px 15px 15px 0; }

.aligncenter {
  display: block;
  margin: 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 15px 15px; }

.alignleft {
  float: left;
  margin: 5px 15px 15px 0; }

/**
 * Gallery & images
 */
.wp-caption {
  background: #fff;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center; }
  .wp-caption img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none;
    padding: 0;
    margin: 0; }

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 1.6rem;
  line-height: 3rem; }

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.reset-box {
  padding: 0;
  margin: 0; }

/**
 * partials/wrapper
 * ---
 */
.wrapper {
  flex: 1;
  max-width: 100vw; }

/**
 * partials/header
 * ---
 */
header {
  width: 100vw;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  flex: none;
  z-index: 1000; }
  header div#nu__alerts {
    display: block;
    width: 100vw;
    margin: 0 0 0 0;
    background: #f3b13e;
    min-height: 0;
    height: auto;
    color: black; }
    header div#nu__alerts > div {
      width: 80vw;
      margin: 0 auto 0 auto;
      padding: 1vw 0 3vw 0; }
      header div#nu__alerts > div > h2 {
        font-size: 2.2rem;
        line-height: 1.6rem;
        font-weight: 700;
        text-align: left;
        margin: 0 0 1vw 0; }
      header div#nu__alerts > div > p {
        font-size: 1.8rem;
        line-height: 2.2rem; }
      header div#nu__alerts > div > ul {
        margin: 0 0 0 1vw; }
        header div#nu__alerts > div > ul > li {
          font-size: 1.6rem;
          line-height: 2rem;
          font-weight: 700; }
  header div#nu__utility-nav {
    top: 0;
    left: 0;
    background: black;
    height: 30px;
    overflow: visible;
    width: 100vw;
    margin: 0 0 0 0; }
    header div#nu__utility-nav > ul {
      width: 80vw;
      list-style: none;
      list-style-type: none;
      height: 30px;
      overflow: hidden;
      margin: 0 auto 0 auto;
      line-height: 30px; }
      header div#nu__utility-nav > ul.open {
        height: auto;
        background: #636363; }
        header div#nu__utility-nav > ul.open li a {
          color: white; }
      header div#nu__utility-nav > ul > li {
        float: right;
        display: inline-block;
        text-align: right;
        padding: 0 10px 0 10px;
        text-transform: uppercase;
        line-height: 1.0rem; }
        header div#nu__utility-nav > ul > li:last-child {
          padding: 0 0 0 10px; }
        header div#nu__utility-nav > ul > li.nu__alert > a {
          color: #f7cc48; }
        header div#nu__utility-nav > ul > li.nu__alert > a:hover {
          color: #f7cc48; }
        header div#nu__utility-nav > ul > li.current-menu-item > a {
          text-decoration: underline;
          color: white; }
        header div#nu__utility-nav > ul > li > a {
          line-height: 30px;
          font-size: 1.1rem;
          color: #bdbdbd;
          letter-spacing: 0.43px; }
          header div#nu__utility-nav > ul > li > a:hover {
            text-decoration: underline;
            color: white; }
  header > div {
    width: 80vw;
    margin: 0 auto 0 auto;
    height: 70px;
    position: relative; }
    header > div > div#logo {
      width: 50%;
      height: 50px; }
      header > div > div#logo > a {
        line-height: 50px;
        font-size: 3rem;
        color: white; }

/**
 * partials/nav
 * ---
 * Menus
 */
nav.nu__mainmenu {
  position: absolute;
  right: 0;
  width: auto;
  height: 50px;
  line-height: 50px;
  margin: 0 0 0 0;
  clear: both; }
  nav.nu__mainmenu > ul {
    float: left;
    width: auto;
    height: inherit;
    margin: 0 0 0 0;
    list-style: none;
    list-style-type: none;
    clear: right; }
    nav.nu__mainmenu > ul > li {
      float: left; }
      nav.nu__mainmenu > ul > li:first-child {
        display: none; }
      nav.nu__mainmenu > ul > li.nu__menu-iam {
        height: inherit;
        overflow: hidden; }
        nav.nu__mainmenu > ul > li.nu__menu-iam:hover > ul {
          height: 300px;
          -webkit-transition: height 0.5s;
          -moz-transition: height 0.5s;
          -ms-transition: height 0.5s;
          -o-transition: height 0.5s;
          transition: height 0.5s; }
        nav.nu__mainmenu > ul > li.nu__menu-iam > ul {
          height: 0;
          overflow: hidden;
          position: absolute;
          z-index: 101;
          background: rgba(0, 0, 0, 0.9);
          width: 250px;
          list-style: none;
          list-style-type: none;
          margin: -10px 10vw 0 -10vw; }
          nav.nu__mainmenu > ul > li.nu__menu-iam > ul > li {
            text-align: right;
            padding: 0 10px 0 10px; }
            nav.nu__mainmenu > ul > li.nu__menu-iam > ul > li > a {
              line-height: 40px; }
              nav.nu__mainmenu > ul > li.nu__menu-iam > ul > li > a:hover {
                color: red; }
      nav.nu__mainmenu > ul > li.current-menu-item > a {
        color: white; }
      nav.nu__mainmenu > ul > li > a {
        display: block;
        color: #858687;
        padding: 0 0 0 1vw;
        height: inherit;
        line-height: inherit;
        text-align: center;
        letter-spacing: 1px;
        font-size: 1.6rem; }
      nav.nu__mainmenu > ul > li.active > a, nav.nu__mainmenu > ul > li:hover > a {
        color: white; }

input#nu__mainmenu-toggle {
  float: left;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 100;
  opacity: 0; }
  input#nu__mainmenu-toggle:hover ~ label {
    color: white; }

label {
  float: left;
  color: #858687; }

input#nu__mainmenu-toggle:checked ~ div#supernav {
  height: 100%;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s, opacity 0.10s linear;
  -moz-transition: visibility 0s, opacity 0.10s linear;
  -ms-transition: visibility 0s, opacity 0.10s linear;
  -o-transition: visibility 0s, opacity 0.10s linear;
  transition: visibility 0s, opacity 0.10s linear; }

input#nu__mainmenu-toggle:checked ~ label {
  color: white; }

div#supernav {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  height: 0;
  left: 0;
  width: 100vw;
  margin: 70px 0 0 0; }
  div#supernav.autoshow {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 0;
    margin: 90px 0 0 0; }
  div#supernav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    list-style: none;
    list-style-type: none;
    width: 80vw;
    margin: 0 10vw 1vw 10vw; }
    div#supernav > ul:nth-of-type(1) > li {
      padding: 10px 0 10px 0;
      margin: 0 1vw 0 0;
      min-height: 250px;
      height: auto;
      background: #2d2e2f;
      flex: 1;
      text-align: center; }
      div#supernav > ul:nth-of-type(1) > li:nth-child(1) {
        order: 0; }
      div#supernav > ul:nth-of-type(1) > li:nth-child(2) {
        order: 1; }
      div#supernav > ul:nth-of-type(1) > li:nth-child(3) {
        order: 2; }
      div#supernav > ul:nth-of-type(1) > li:nth-child(4) {
        order: 3; }
    div#supernav > ul:nth-of-type(2) > li {
      margin: 0 1vw 0 0;
      min-height: 150px;
      flex: 1; }
      div#supernav > ul:nth-of-type(2) > li:nth-child(1) {
        order: 0; }
      div#supernav > ul:nth-of-type(2) > li:nth-child(2) {
        order: 1; }
      div#supernav > ul:nth-of-type(2) > li:nth-child(3) {
        order: 2; }
      div#supernav > ul:nth-of-type(2) > li:nth-child(4) {
        order: 3; }
    div#supernav > ul > li {
      margin: 0 1vw 0 0;
      flex: 1;
      padding: 0 10px 0 10px; }
      div#supernav > ul > li:last-child {
        margin: 0 0 0 0; }
      div#supernav > ul > li > ul {
        list-style: none;
        list-style-type: none; }
        div#supernav > ul > li > ul > li > a {
          display: block;
          line-height: 30px;
          color: white;
          font-size: 1.2rem; }
          div#supernav > ul > li > ul > li > a:hover {
            color: #e0272f; }

/**
 * partials/sidebar
 * ---
 */
/**
 * partials/footer
 * ---
 */
.nu__backtotop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 55px;
  background: #2d2e2f;
  border: solid black 1px; }
  .nu__backtotop:hover {
    cursor: pointer; }

footer {
  flex: none;
  background: #2d2e2f;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.03em;
  width: 100%;
  height: 200px;
  padding: 0 0 0 0;
  font-family: Arial,Verdana,sans-serif; }
  footer.addprefooter {
    height: 500px; }
  footer > div.nu__prefooter {
    height: 300px;
    background: black;
    width: 100vw; }
    footer > div.nu__prefooter > div {
      width: 80vw;
      height: inherit;
      background: red;
      margin: 0 auto 0 auto; }
  footer > div.nu__footer {
    padding: 20px 0 20px 0;
    width: 80vw;
    margin: 0 10vw 0 10vw;
    position: relative; }
    footer > div.nu__footer > a {
      color: white;
      float: left;
      margin-right: 20px; }
      footer > div.nu__footer > a > img,
      footer > div.nu__footer > a > svg {
        fill: white;
        height: 1.5vw; }
    footer > div.nu__footer > div {
      float: right; }
      footer > div.nu__footer > div > ul {
        display: inline;
        font-size: 1.2rem;
        list-style-type: none;
        list-style: none;
        color: white; }
        footer > div.nu__footer > div > ul > li {
          float: left;
          margin: 0 0 0 10px; }
          footer > div.nu__footer > div > ul > li > a {
            color: white;
            text-decoration: none;
            font-family: Arial,Verdana,sans-serif; }
            footer > div.nu__footer > div > ul > li > a:visited {
              color: white;
              text-decoration: none; }
            footer > div.nu__footer > div > ul > li > a:hover, footer > div.nu__footer > div > ul > li > a:active {
              color: white !important;
              text-decoration: underline !important; }
      footer > div.nu__footer > div > p {
        font-size: 100%;
        height: auto;
        line-height: 1.4rem;
        margin: 0;
        padding: 0;
        color: #ccc;
        text-align: right; }
        footer > div.nu__footer > div > p > a {
          color: #ccc; }
          footer > div.nu__footer > div > p > a:hover {
            color: #ccc !important;
            text-decoration: underline !important; }

/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/nudev-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

h1 {
  font-size: 3rem;
  line-height: 4rem;
  width: 90%;
  margin: 0 5% 0 5%;
  font-weight: 200; }

h2 {
  font-size: 5rem;
  line-height: 8rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200; }

h3 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 200;
  margin: 0 0 1vw 0; }

h4 {
  font-size: 1.75rem;
  text-transform: uppercase; }

a {
  color: yellow; }

h5 {
  font-size: 1.75rem;
  line-height: 2.5rem; }

h6 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 1px; }

a.button {
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 5px 10px 5px 10px;
  border: solid #5198a6 1px;
  text-align: center;
  color: white;
  margin: 0 auto 0 auto;
  text-transform: uppercase;
  display: block;
  width: 50%; }
  a.button:hover {
    background: #5198a6;
    color: white; }
  a.button.light {
    color: black; }
    a.button.light:hover {
      background: #5198a6;
      color: white; }

p {
  margin: 0 0 1vw 0; }

div#wpfront-scroll-top-container {
  background: #cc0000;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  line-height: 3.75rem; }
  div#wpfront-scroll-top-container td.button-holder {
    background: none;
    background-color: none;
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    line-height: 3.75rem;
    font-weight: 400;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-align: center; }

form.search {
  margin: 0 0 30px 20px;
  display: inline-block; }
  form.search:hover input {
    width: 15vw;
    padding: 0 10px 0 10px; }
  form.search input {
    box-sizing: border-box;
    border-radius: 0;
    font-size: 1.25rem;
    line-height: 35px;
    background: white;
    border: solid 1px black;
    border: none;
    width: 0;
    overflow: hidden;
    padding: 0 0 0 0; }
  form.search button {
    font-family: FontAwesome;
    border: none;
    background: none;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0 0 0 0;
    color: white;
    border: solid white 1px;
    padding: 8px; }
    form.search button:hover {
      cursor: pointer;
      color: #cc0000; }

button[type=submit].formsubmitbutton {
  background: white !important;
  border: solid #7a7778 1px !important;
  padding: 0 30px 0 30px !important;
  border-radius: 10px !important;
  color: black !important;
  text-decoration: none !important;
  line-height: 4rem !important;
  text-transform: uppercase !important;
  font-weight: 700 !important; }
  button[type=submit].formsubmitbutton::before {
    font-family: FontAwesome;
    content: "\f138";
    font-size: 3rem;
    display: table-cell;
    float: left;
    height: 4rem;
    line-height: 4rem;
    padding: 0 10px 0 0;
    color: #bb261a; }
  button[type=submit].formsubmitbutton:hover {
    background: #bb261a !important;
    border: solid #bb261a 1px !important;
    color: white !important; }
    button[type=submit].formsubmitbutton:hover::before {
      color: white; }

/* Styles for the main content */
main {
  margin: 0 auto 0 auto;
  width: 80vw; }
  main > section {
    position: relative;
    margin: 0 0 0 0;
    width: inherit;
    clear: both;
    overflow: hidden; }

@media only screen and (max-width: 500px) {
  a.button {
    font-size: 1.25rem;
    line-height: 2.5rem;
    width: 90%; } }
