/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/* These are variables for the header */
/* These are variables for the main navigation */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../.fonts/lato-v14-latin-100.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100.woff") format("woff"), url("../.fonts/lato-v14-latin-100.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-100italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("../.fonts/lato-v14-latin-100italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100italic.woff") format("woff"), url("../.fonts/lato-v14-latin-100italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light"), local("Lato-Light"), url("../.fonts/lato-v14-latin-300.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300.woff") format("woff"), url("../.fonts/lato-v14-latin-300.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../.fonts/lato-v14-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300italic.woff") format("woff"), url("../.fonts/lato-v14-latin-300italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../.fonts/lato-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-regular.woff2") format("woff2"), url("../.fonts/lato-v14-latin-regular.woff") format("woff"), url("../.fonts/lato-v14-latin-regular.ttf") format("truetype"), url("../.fonts/lato-v14-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Italic"), local("Lato-Italic"), url("../.fonts/lato-v14-latin-italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-italic.woff") format("woff"), url("../.fonts/lato-v14-latin-italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../.fonts/lato-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700.woff") format("woff"), url("../.fonts/lato-v14-latin-700.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("../.fonts/lato-v14-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700italic.woff") format("woff"), url("../.fonts/lato-v14-latin-700italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("../.fonts/lato-v14-latin-900.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900.woff") format("woff"), url("../.fonts/lato-v14-latin-900.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("../.fonts/lato-v14-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900italic.woff") format("woff"), url("../.fonts/lato-v14-latin-900italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

div#nu__utility-nav {
  top: 0;
  left: 0;
  height: 40px;
  width: 90vw;
  margin: 0 auto 0 auto; }
  div#nu__utility-nav > div > input {
    height: inherit;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 100;
    opacity: 0; }
    div#nu__utility-nav > div > input:hover ~ label {
      color: #fffffe;
      cursor: pointer; }
    div#nu__utility-nav > div > input:checked ~ label {
      color: #fffffe; }
    div#nu__utility-nav > div > input:checked ~ div#nu__supernav {
      height: 100%;
      visibility: visible;
      opacity: 1;
      -webkit-transition: visibility 0s, opacity 0.10s linear;
      -moz-transition: visibility 0s, opacity 0.10s linear;
      -ms-transition: visibility 0s, opacity 0.10s linear;
      -o-transition: visibility 0s, opacity 0.10s linear;
      transition: visibility 0s, opacity 0.10s linear; }

div#nu__mainmenu-supernav {
  float: right;
  height: inherit;
  top: 0;
  right: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative;
  text-align: right; }

label {
  text-transform: uppercase;
  float: right;
  font-size: 1.4rem;
  color: #979797;
  line-height: 2.8rem;
  text-align: left;
  color: rgba(255, 255, 254, 0.8);
  line-height: 40px;
  height: 40px;
  overflow: hidden; }
  label:after {
    float: right;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
    text-align: left;
    line-height: 40px;
    height: 40px;
    margin: 0 0 0 5px; }

div#nu__mainmenu-supernav {
  width: 106px; }

label#nu__supernav-toggle-label:before {
  content: 'Menu'; }

label#nu__supernav-toggle-label:after {
  content: '\E5D2'; }

input#nu__supernav-toggle:checked ~ div#nu__searchbar {
  height: 0;
  visibility: hidden;
  opacity: 0; }

input#nu__supernav-toggle:checked ~ label#nu__supernav-toggle-label:before {
  content: 'Close'; }

input#nu__supernav-toggle:checked ~ label#nu__supernav-toggle-label:after {
  content: '\E14C'; }

div#nu__supernav {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 100;
  height: 0;
  min-height: 100%;
  overflow: hidden;
  top: 1px;
  left: 0;
  width: 100vw;
  margin: 40px 0 0 0;
  background: blue;
  -webkit-transition: visibility 0s, opacity 0.10s linear;
  -moz-transition: visibility 0s, opacity 0.10s linear;
  -ms-transition: visibility 0s, opacity 0.10s linear;
  -o-transition: visibility 0s, opacity 0.10s linear;
  transition: visibility 0s, opacity 0.10s linear; }
  div#nu__supernav > section {
    float: right;
    position: relative;
    background: black;
    width: 736px;
    height: calc(100% - 60px);
    height: -miz-calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    min-height: calc(100% - 60px);
    min-height: -moz-calc(100% - 60px);
    min-height: -webkit-calc(100% - 60px); }
    div#nu__supernav > section > div.search {
      display: none;
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: left;
      padding: 0 20px 0 20px;
      background: black; }
    div#nu__supernav > section > div.fixedbg {
      position: absolute;
      display: table;
      z-index: 0;
      background: black;
      width: 736px;
      height: 100%;
      min-height: 100%;
      clear: both; }
      div#nu__supernav > section > div.fixedbg > div {
        display: table-cell;
        height: 100%;
        min-height: 100%; }
        div#nu__supernav > section > div.fixedbg > div:nth-child(1) {
          background: black;
          width: 294px; }
        div#nu__supernav > section > div.fixedbg > div:nth-child(2) {
          background: #fffffe;
          width: 442px; }
    div#nu__supernav > section > div.items {
      position: absolute;
      min-height: calc(100% - 60px);
      height: calc(100% - 60px);
      min-height: -moz-calc(100% - 60px);
      height: -moz-calc(100% - 60px);
      min-height: -webkit-calc(100% - 60px);
      height: -webkit-calc(100% - 60px);
      width: 100%;
      overflow-y: scroll; }
      div#nu__supernav > section > div.items > ul {
        width: 294px;
        height: auto;
        list-style: none;
        list-style-type: none;
        padding: 0 0 0 0;
        background: none; }
        div#nu__supernav > section > div.items > ul > li {
          width: 100%;
          text-align: left;
          padding: 0 30px 0 30px;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 2.8rem;
          text-align: left;
          text-transform: uppercase;
          line-height: 65px;
          border-bottom: solid #ece6d5 1px; }
          div#nu__supernav > section > div.items > ul > li.featured {
            line-height: 0;
            border: none;
            margin: 20px 0 0 0;
            clear: both; }
            div#nu__supernav > section > div.items > ul > li.featured:last-child {
              margin: 20px 0 20px 0; }
            div#nu__supernav > section > div.items > ul > li.featured a {
              color: #fffffe;
              border-bottom: none;
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 2.8rem;
              text-align: left;
              text-transform: none;
              display: block;
              overflow: hidden; }
              div#nu__supernav > section > div.items > ul > li.featured a > div {
                float: left; }
            div#nu__supernav > section > div.items > ul > li.featured:hover {
              background: none; }
              div#nu__supernav > section > div.items > ul > li.featured:hover a > div:nth-child(2) > span {
                border-bottom: solid #cc0000 2px; }
            div#nu__supernav > section > div.items > ul > li.featured img {
              margin: 0 10px 0 0;
              -webkit-filter: grayscale(1);
              -moz-filter: grayscale(1);
              filter: grayscale(1);
              height: 34px;
              width: 34px; }
          div#nu__supernav > section > div.items > ul > li.active, div#nu__supernav > section > div.items > ul > li:hover {
            background: #ece6d5;
            color: black;
            cursor: pointer; }
          div#nu__supernav > section > div.items > ul > li > ul {
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            width: 427px;
            list-style: none;
            list-style-type: none;
            padding: 0 0 0 0;
            margin: 0 0 0 0; }
            div#nu__supernav > section > div.items > ul > li > ul > li {
              margin: 0 30px 30px 30px;
              text-transform: none;
              height: 65px; }
              div#nu__supernav > section > div.items > ul > li > ul > li:first-child {
                font-size: 3.2rem;
                font-weight: 300;
                line-height: 4.8rem;
                text-align: left;
                line-height: 65px;
                margin: 0 0 0 30px; }
              div#nu__supernav > section > div.items > ul > li > ul > li > a {
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 2.8rem;
                text-align: left;
                border-bottom: none;
                color: black;
                display: block;
                clear: both;
                overflow: hidden; }
                div#nu__supernav > section > div.items > ul > li > ul > li > a:hover {
                  cursor: pointer; }
                  div#nu__supernav > section > div.items > ul > li > ul > li > a:hover > div:nth-child(2) {
                    border-bottom: solid #cc0000 2px; }
                div#nu__supernav > section > div.items > ul > li > ul > li > a > div {
                  float: left; }
                  div#nu__supernav > section > div.items > ul > li > ul > li > a > div:nth-child(1) {
                    width: 65px;
                    height: 65px;
                    margin: 0 10px 0 0; }
                    div#nu__supernav > section > div.items > ul > li > ul > li > a > div:nth-child(1) > img {
                      width: 100%;
                      -webkit-filter: grayscale(1);
                      -moz-filter: grayscale(1);
                      filter: grayscale(1); }
                  div#nu__supernav > section > div.items > ul > li > ul > li > a > div:nth-child(2) {
                    max-width: 280px;
                    padding: 15px 0 0 0;
                    border-bottom: solid rgba(204, 0, 0, 0) 2px; }
          div#nu__supernav > section > div.items > ul > li.active > ul {
            display: block; }
